main
	min-height: calc(100vh - 388px)
	padding-bottom: 70px
	@media(max-width: 991px)
		min-height: calc(100vh - 523px)
	@media(max-width: 767px)
		min-height: calc(100vh - 602px)
.wrapper
    +wrapper()

.notification
	width: 0
	height: 0
	position: absolute
	left: -9999px
