.container
    @media (min-width: 1300px)
        max-width: 1260px


.select2-container
    width: 100% !important

.select2-container--default 
    .select2-results__group
        text-transform: uppercase
        color: #81838C
        font-size: 12px
        padding-left: 0px
        padding-right: 0px
        padding-top: 0
    .select2-selection--single
        height: 40px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        border: 1px solid #E5E5E5
        background-color: #ffffff
        outline: none
        border-radius: 2px
        .select2-selection__rendered
            color: #272727
            font-size: 15px
            padding: 0 0 0 15px
        .select2-selection__arrow
            position: absolute
            z-index: 99
            height: 38px
            bottom: 21px
            right: 1px
            width: 30px
            background: #fff
            border-radius: 0 2px 2px 0
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            b
                border-top: 5px solid #32373D
                border-left: 5px solid transparent
                border-right: 5px solid transparent
    &.select2-container--open
        .select2-selection--single
            border: 1px solid #5642AB
            .select2-selection__rendered
                color: #272727
            .select2-selection__arrow b
                border-bottom: 5px solid #32373D
                border-left: 5px solid transparent
                border-right: 5px solid transparent
    &.select2-container--disabled

        .select2-selection--single
            border: 1px solid #E5E5E5
            background-color: #F9F9F9
            .select2-selection__rendered
                color: rgba(27,27,27,0.4)
        .select2-selection__arrow
            background: none
    .select2-results > .select2-results__options
        .select2-results__option
            padding: 10px
            font-size: 15px
            color: #282B3B
            .select2-results__options
                .select2-results__option
                    padding-left: 0
                    padding-right: 0
                    
        .select2-results__option--highlighted[aria-selected],
            background-color: #F9F9F9
        .select2-results__option[aria-selected=true]
            display: none
    .select2-search--dropdown .select2-search__field
        border: none
        background: url(../img/search.svg) 15px 15px no-repeat
        background-size: 12px
        height: 40px
        padding: 0 15px 0 40px

.select2-dropdown
    border: 1px solid #E5E5E5
    border-radius: 0 0 2px 2px
    background-color: #fff
    box-shadow: inset 0 -1px 0 0 #CCCCCC, 0 8px 24px 0 rgba(0,0,0,0.2)
   
.select2-search--dropdown
    padding: 0


.select2-container--default
    .select2-selection--multiple
        min-height: 40px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        border: 1px solid #E5E5E5
        background-color: #ffffff
        outline: none
        border-radius: 2px
    &.select2-container--focus 
        .select2-selection--multiple
            width: 100%
            border: 1px solid #5642AB
.select2-container--default .select2-search--inline .select2-search__field
    margin: 0
.select2-container--default .select2-selection--multiple .select2-selection__rendered
    padding: 0 15px
.select2-container--default .select2-selection--multiple .select2-selection__rendered li
    margin-bottom: 0
.select2-container--default .select2-selection--multiple .select2-selection__choice
    margin: 3px 10px 3px 0
    background: none
    text-transform: uppercase
    padding: 3px 20px 3px 10px
    position: relative
    font-size: 10px
.select2-container--default .select2-results > .select2-results__options 
    max-height: 170px
    .select2-results__option
        margin-bottom: 0
.select2-container--default .select2-selection--multiple .select2-selection__rendered li
    margin: 3px 3px 3px 0
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
    position: absolute
    right: 6px
    margin-right: 0
    font-size: 13px
    top: 1px

.modal-backdrop
    z-index: 1802
.modal
    z-index: 1804
    font-size: 0
    @media (min-width: 767px)
       text-align: center
       &:before
           content: ''
           height: 100vh
           display: inline-block
           vertical-align: middle
    &.xl
       text-align: center
       &:before
           content: ''
           height: 100vh
           display: inline-block
           vertical-align: middle
       @media(max-width: 915px)
           &:before
               display: none


.modal-body
    padding: 40px
    position: relative
    text-align: left
    font-size: 16px
    @media(max-width: 767px)
        padding-left: 15px
        padding-right: 15px
    button.close
        position: absolute
        top: 15px
        right: 15px
        
.modal-dialog
    @media (min-width: 767px)
        max-width: 100%
        margin: 0
        display: inline-block
        border-radius: 0
        vertical-align: middle
        width: 460px
        &.lg
            width: 600px
        &.lge
            width: 780px
    &.xl
        max-width: 100%
        margin: 0
        display: inline-block
        border-radius: 0
        vertical-align: middle
        width: 910px
        @media(max-width: 915px)
            width: calc(100% - 30px)
            margin-left: 15px
            margin-right: 15px
        .modal-body
            padding: 30px
            @media(max-width: 767px)
                padding-left: 20px
                padding-right: 20px



.popover-body
    padding: 0

.popover
    max-width: 100%
    background-color: #FFFFFF  
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3)
    border: 1px solid rgba(0,0,0,0.2)





.ui-widget-content
    background-image: none                      
                        
                        