+reset()
+styling-tags()
body
    font-family: $lato
    font-size: 16px
    color: #272727

.img-block, .aligncenter
    display: block
    max-width: 100%
    margin: 0 auto 30px
    
.img-left, .alignleft
    float: left
    margin-bottom: 30px
    margin-right: 20px
.img-right, .alignright
    float: right
    margin-bottom: 30px
    margin-left: 20px


[v-cloak] 
    display: none

[class^="icn-"]
   display: inline-block 
   &:before
       display: block
[class^="icon-"]
    display: inline-block
.elements
    +row-flex()
    .coll-12
        +col()
        +size(12)
    .coll-6
        +col()
        +size(6)
        +size-sm(12)
    .coll-4
        +col()
        +size(4)
        +size-sm(12)