%svg-common {
	background: url("../img/sprite-26cd4bc1.svg") no-repeat;
}

.icon-doc {
	@extend %svg-common;
	background-position: 77.95275590551181% 0;
}

.icon-doc-size {
	width: 32px;
	height: 40px;
}

.icon-google {
	@extend %svg-common;
	background-position: 0 99.28571428571429%;
}

.icon-google-size {
	width: 30px;
	height: 30px;
}

.icon-instagram {
	@extend %svg-common;
	background-position: 22.900763358778626% 97.3%;
}

.icon-instagram-size {
	width: 28px;
	height: 28px;
}

.icon-paypal {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-paypal-size {
	width: 99px;
	height: 29px;
}

.icon-paypal2 {
	@extend %svg-common;
	background-position: 0 53.7037037037037%;
}

.icon-paypal2-size {
	width: 80.6px;
	height: 20px;
}

.icon-pdf {
	@extend %svg-common;
	background-position: 77.95275590551181% 45.45454545454545%;
}

.icon-pdf-size {
	width: 32px;
	height: 40px;
}

.icon-stripe {
	@extend %svg-common;
	background-position: 0 29.292929292929294%;
}

.icon-stripe-size {
	width: 99px;
	height: 29px;
}

.icon-stripe2 {
	@extend %svg-common;
	background-position: 0 71.75712971481141%;
}

.icon-stripe2-size {
	width: 46.2px;
	height: 19.3px;
}

.icon-telegram {
	@extend %svg-common;
	background-position: 44.274809160305345% 97.3%;
}

.icon-telegram-size {
	width: 28px;
	height: 28px;
}

.icon-vk {
	@extend %svg-common;
	background-position: 65.64885496183206% 97.3%;
}

.icon-vk-size {
	width: 28px;
	height: 28px;
}

.icon-whatsApp {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-whatsApp-size {
	width: 28px;
	height: 28px;
}

