=retina($url, $ext)
    background-image: url($url+$ext)
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
        background-image: url($url+'@2x'+$ext)

=styling-tags()
    *, *:after, *:before
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 0
        margin: 0
    input, button, select
        &:focus
            outline: none

    select, button, input[type="submit"], input[type="reset"]
        -webkit-appearance: none
        appearance: none
        cursor: pointer
    select::-ms-expand
        display: none
    
    input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0
    input[type="number"]
        -moz-appearance: textfield

    
    button, 
    input[type="submit"], 
    input[type="button"], 
    input[type="reset"], 
    select,
    a 
        cursor: pointer
        text-decoration: none
        &:hover, &:focus
            outline: none
            text-decoration: none

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
        font-family: $mont
        font-weight: bold
        margin-bottom: 30px
    h1, .h1
        font-size: 30px
        line-height: 37px
        @media(max-width: 767px)
            font-size: 22px
    h2, .h2
        font-size: 22px
        @media(max-width: 767px)
            font-size: 18px
    h3, .h3
        font-size: 20px
    h4, .h4
        font-size: 18px
    h5, .h5
        font-size: 16px
    h6, .h6
        font-size: 14px

    p, em, strong
        font-size: inherit

    em
        font-style: italic

    strong
        font-weight: bold
    p
        margin-bottom: 30px 
    ul
        font-size: inherit
        padding-left: 22px
        margin-bottom: 30px
        ol, 
        ul,
            margin-top: 20px 
            li
                &:last-child
                    padding-bottom: 0
        li
            list-style: outside disc
            margin-bottom: 20px
            color: #272727
            font-size: 14px
            
    ol
        font-size: inherit
        margin-left: 22px
        margin-bottom: 30px
        ol, 
        ul,
            margin-top: 20px 
            li
                &:last-child
                     padding-bottom: 0
        li
            list-style: outside decimal
            padding-bottom: 20px
            color: #272727
            font-size: 14px
            
        
    table
        width: 100%
    caption
        font-size: 18px
        padding-bottom: 8px
    th
        padding: 10px 15px
        font-size: 16px
        border: 1px solid #E6EDF2
        font-size: 12px
        color: #81838C
        text-transform: uppercase
    td
        padding: 10px 15px
        font-size: 14px
        color: #272727
        border: 1px solid #E6EDF2
        
    
=reset-list()
    padding-left: 0
    margin: 0
    li
        list-style: none
        
    