#addScheduleModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}  
    .modal-dialog.xl{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace.left
                    Add Schedule and Price

                %form#addSchedule{:action => "", "data-status" => "new", "data-step" => "1", :autocomplete => "off"}
                    
                    %input.field{:type => "hidden", :name => "ind"}/
                    .field-case
                        %label.field-name 
                            Title
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                    .field-case
                        %label.field-name 
                            Short Description
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %textarea.field.js-counterStr{:name => "shortDescription", :required => "true", "data-msg-required" => "Please enter your  Short Description.", "data-rule-maxlength" => "130", "data-msg-maxlength" => "Please enter a value of up to 130 characters", :rows => "3"}
                    .addEvent__max.text-right{"data-max" => "130"} 
                        Max. 
                        %span 130 
                        characters
                    .row
                        .col-md-4
                            .field-case
                                %label.field-name 
                                    Group Size 
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %select.field.js-select.js-getLocations{:name => "groupSize", :required => "true", "data-msg-required" => "Please  Group Size."}
                                    %option{:value => ""} Select One...
                                    - (1..50).each do |i|
                                        %option{:value => "#{i}"} My Company #{i}
                        .col-md-4
                            .field-case
                                %label.field-name 
                                    Seats Available
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field{:type => "number", :name => "seatsAvailable", :min => "1", :required => "true", "data-msg-required" => "Please enter Seats Available."}/
                                .increment
                                    .up
                                    .down
                        
                        .col-md-4
                            %label.field-name 
                                Kids Age 
                                %i.icn-info-solid.js-location{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                            .row
                                .col-md-6
                                    .field-case
                                        %input.field.ageInput.number.js-kidStart{:type => "text", :name => "kidsAgeFrom", :min => "0", :max => "18", :required => "true", "data-msg-required" => "Please enter Kids Age."}/
                                        
                                        .increment
                                            .up
                                            .down
                                .col-md-6
                                    .field-case
                                        %input.field.ageInput.number.js-kidEnd{:type => "text", :name => "kidsAgeTo", :min => "0", :max => "18", :required => "true", "data-msg-required" => "Please enter Kids Age."}/
                                        
                                        .increment
                                            .up
                                            .down
                            .field-case
                                .filterSidebar__range.js-range
                
                    %h4 Date Info
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Date Range From
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field.field-icon.js-daterange{:readonly => "", :type => "text", :name => "daterangeForm", :required => "true", "data-msg-required" => "Please select dates.",}/
                                %i.icn-calendar-date
                                .appearance
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Date Range To
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field.field-icon.js-daterange{:readonly => "", :type => "text", :name => "daterangeTo", :required => "true", "data-msg-required" => "Please select dates.",}/
                                %i.icn-calendar-date
                                .appearance
                    .field-case
                        %label.field-name{:style => "margin: 0"} 
                            Schedule    
                            %span *
                        %input.timeCount{:type => "text", :name => "timeCount", :required => "true", :value => "1", "data-msg-required" => "Please add times schedule or select valid date range", "data-rule-schedule" => '.timesBlock .item [name="itemDates[]"]', "data-msg-schedule" => "Please select date schedule." }/
                    .scheduleBlock
                        .dayAll
                            %strong.title Turn on/off with one click: 
                            .days
                                %span.name Mon
                                %span.on{"data-day" => "1"}
                                %span.off{"data-day" => "1"}
                            .days
                                %span.name Tue
                                %span.on{"data-day" => "2"}
                                %span.off{"data-day" => "2"}
                            .days
                                %span.name Wed
                                %span.on{"data-day" => "3"}
                                %span.off{"data-day" => "3"}
                            .days
                                %span.name Thu
                                %span.on{"data-day" => "4"}
                                %span.off{"data-day" => "4"}
                            .days
                                %span.name Fri
                                %span.on{"data-day" => "5"}
                                %span.off{"data-day" => "5"}
                            .days
                                %span.name Sat
                                %span.on{"data-day" => "6"}
                                %span.off{"data-day" => "6"}
                            .days
                                %span.name Sun
                                %span.on{"data-day" => "0"}
                                %span.off{"data-day" => "0"}
                            .bord
                            .days
                                %span.name Weekdays
                                %span.on{"data-day" => "weekdays"}
                                %span.off{"data-day" => "weekdays"}
                            .days
                                %span.name Weekends
                                %span.on{"data-day" => "weekends"}
                                %span.off{"data-day" => "weekends"}
                            .bord
                            .days
                                %span.name All
                                %span.on{"data-day" => "all"}
                                %span.off{"data-day" => "all"}
                        .calendarBox
                        .row
                            .col-md-6
                                .field-case
                                    %label.field-name 
                                        Time of Beginning
                                    .bfh-timepicker.js-startTime{"data-mode" => "12h", "data-align" => "right", "data-input" => "field"}
                                    //%input.field.timeInput.js-startTime{:type => "text", :name => "timeFrom", "data-rule-time" => "true", "date-msg-time" => "Please enter a valid time", :value => "12:00 AM", :required => "true"}/
                            .col-md-6
                                .field-case
                                    %label.field-name 
                                        Time of Ending
                                    .bfh-timepicker.js-endTime{"data-mode" => "12h", "data-align" => "right", "data-input" => "field"}
                                    //%input.field.timeInput{:type => "text", :name => "timeTo", "data-rule-time" => "true", "date-msg-time" => "Please enter a valid time", :value => "01:00 PM", :required => "true"}/
                        .timesBlock
                            .item.active
                                %input{:readonly => "", :type => "text", :name => "itemTime[]", :value => "12:00 AM - 01:00 PM"}/
                                %input{:type => "hidden", :name => "itemDates[]", :value => ""}/
                                %i.icn-close  
                            .buttonAddTime.js-addTime   
                                + Add Time 
                    
                    %h4 Sales Info
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Date Sales From
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field.field-icon.js-daterange{:type => "text", :name => "datesaleFrom", :required => "true", "data-msg-required" => "Please select dates.",}/
                                %i.icn-calendar-date
                                .appearance
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Date Sales To
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field.field-icon.js-daterange{:type => "text", :name => "datesaleTo", :required => "true", "data-msg-required" => "Please select dates.", "data-rule-comparedate" => "[name='datesaleFrom']", "data-msg-comparedate" => "Please select valid date"}/
                                %i.icn-calendar-date
                                .appearance
                    .row
                        .col-md-4
                            .field-case
                                %label.field-name 
                                    Price
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field.js-price{ :type => "number", :name => "price", :min => "0", :required => "true", "data-msg-required" => "Please enter Price."}/
                                .increment
                                    .up
                                    .down
                        .col-md-4
                            .field-case
                                %label.field-name 
                                    Currency
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %select.field.js-select.js-currency{:name => "currency", :required => "true", "data-msg-required" => "Please select currency."}
                                    %option{:value => ""} Select One ...
                                    %option{:value => "$"} USD
                                    %option{:value => "CA $"} CAD
                        .col-md-4
                            .field-case
                                %label.field-name 
                                    Price Type
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %select.field.js-select.js-priceType{:name => "priceType", :required => "true", "data-msg-required" => "Please select Price Type."}
                                    %option{:value => ""} Select One ...
                                    %option{:value => "per day"} per day
                                    %option{:value => "per half of year"} per half of year
                                    %option{:value => "per month"} per month
                                    %option{:value => "per seat"} per seat
                                    %option{:value => "per week"} per week
                                    %option{:value => "per year"} per year
                        .col-md-4
                            .field-case
                                %label.field-name  
                                    Discount
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field.js-discount.number{:type => "text", :name => "discount", :min => "0", "data-float" => "true"}/ 
                                .increment
                                    .up
                                    .down
                        .col-md-4    
                            .field-case
                                %label.field-name 
                                    Discount Type
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %label.check-case
                                    %input{:type => "radio", :name => "discountType", :disabled => "disabled", :value => "percentage", :checked => ""}/
                                    %span.field-radio
                                        %i.icn-radio
                                    .check-name Percentage
                                %label.check-case
                                    %input{:type => "radio", :name => "discountType", :disabled => "disabled", :value => "absolute"}/
                                    %span.field-radio
                                        %i.icn-radio
                                    .check-name Absolute
                        .col-md-4   
                            .total
                                Total: 
                                %strong
                                    %span.currency
                                    %span.sum 
                                %span.type
                                    
                        
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "enabled", :value => "false"}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                Is enabled for showing in catalog
                    .buttonGroup2
                        %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                        %input.btns.btns-primary{:type => "submit", :value => "Add"}/

                    %input.resetButton{:type => "reset", :value => "reset"}/ 

#confirmScheduleModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %h4.modals__title.center
                    Are you sure you want to leave adding new schedule? 
                    %br/
                    All your changes will be lost.
                .row
                    .col-6
                        %a.btns.btns-primary.btns-block.js-doneSchedule OK   
                    .col-6
                        %a.btns.btns-default.btns-block.js-cancelSchedule Cancel

#removeScheduleModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %h4.modals__title.center
                    Are you sure you want to remove Schedule?
                .row
                    .col-6
                        %a.btns.btns-primary.btns-block.js-scheduleDel OK   
                    .col-6
                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel