.eventsList__control
    .count.ext Results was found: 45 767
    %span.label.d-none.d-lg-block Filter by location
    .field-case
        %select.field.js-select{:name => ""}
            %option{:value => "Highest Rated"} Most rated first
            %option{:value => "Soonest"}  Soonest 
            %option{:value => "Lowest Price"} Lowest Price
            %option{:value => "Highest Price"} Highest Price
    %a.btns.btns-icon.active{:href => "", :title => "List View"} 
        %i.icn-list  
    %a.btns.btns-icon{:href => "", :title => "Map View"} 
        %i.icn-map  