.companySingle
    .companySingle__head
        %a.companySingle__img{:href => ""}
            //.placeholder
            //    .placeholder__inner.sm
            //        %i.icn-photo
            //        %span No Photo
            %img{:src => "assets/img/pop-logo.png", :srcset => "assets/img/pop-logo.png 1x, assets/img/pop-logo.png 2x", :alt => "alt", :title => "title"}/
        .companySingle__info
            .h1.companySingle__title Adventure Out
            .rate.companySingle__rate
                %i.icn-star.active
                %i.icn-star.active
                %i.icn-star.active
                %i.icn-star
                %i.icn-star
            %a.commentsCount.companySingle__commnets{:href => ""}
                %i.icn-comments
                3
            .social.js-social
                %a{:tabindex => "", "data-href" => "http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com"}
                    %i.icn-facebook
                %a{:tabindex => "", "data-href" => "http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons"}
                    %i.icn-twitter
                %a{:tabindex => "", "data-href" => "http://pinterest.com"}
                    %i.icn-pinterest
    %p.companySingle__text
        ‘We provide a program & environment that empowers and supports people of all walks-of-life to achieve their wildest adventures in the outdoors, while fostering a respect for and connection to the natural environment.” - Cliff Hodges, Founder/CEO
        Go climbing with the Bay Area’s top climbing guides. We operate regular programms at Castle Rock State Park located in the Santa Cruz Mountains and Pinnacles National Park on the Central Coast (private/custom bookings also available upon requestat Mt Diablo and the Berkeley Hills). When you climb with Adventure Outб you’ll take pride in knowing that you are not only getting the best instruction possible, but part of the proceeds from your trip go back to the parks where we climb(in 2012, in the face of state park closures, Adventure Out was the ONLY climbing guide that stood up to donate money, organize volunteers, and protect our parks) 
    .companySingle__tags
        %a.tag{:href => ""} Outdoor Activities
        %a.tag{:href => ""} SPORT
        %a.tag{:href => ""} TEAM SPORT
    %h2 Documents
    .companySingle__docs
        %a.doc{:href => ""}
            %i.icon-doc.icon-doc-size 
            %span Our state business licence #377366
        %a.doc{:href => ""}
            %i.icon-doc.icon-doc-size 
            %span Contract for parents
        %a.doc{:href => ""}
            %i.icon-doc.icon-doc-size 
            %span Presentation 2018
    %h2 Events and Classes