.eventsList__control
    - if $list == true
        .count Results was found: 45 767
    - else
        .count.ext Results was found: 45 767
    - if $list == true 
        %label.check-case
            %input.js-scheldules{:type => "checkbox", :name => "", :checked => ""}/
            %span.field-checkbox
                %i.icn-checkbox
            .check-name Scheldules and prices widget 
        .field-case
            %select.field.js-select{:name => ""}
                %option{:value => "Highest Rated"} Highest Rated
                %option{:value => "Soonest"} Soonest 
                %option{:value => "Lowest Price"} Lowest Price
                %option{:value => "Highest Price"} Highest Price
    %a.btns.btns-icon.active{:href => "", :title => "List View"} 
        %i.icn-list  
    %a.btns.btns-icon{:href => "", :title => "Map View"} 
        %i.icn-map  