%form.filterSidebar__form{:action => ""}
    .field-case
        %label.field-name Date
        %select.field.js-select.js-showCalendar{:name => ""}
            %option{:value => "Anydate"} Any date
            %option{:value => "Today"} Today
            %option{:value => "Tomorrow"} Tomorrow
            %option{:value => "ThisWeekend"} This weekend
            %option{:value => "ThisWeek"} This week
            %option{:value => "NextWeek"} Next week
            %option{:value => "ThisMonth"} This month
            %option{:value => "NextMonth"} Next month
            %option{:value => "PickDate"} Pick a date…
        
    .field-case.filterSidebar__dateRange
        %input.field.field-icon.js-daterange{:type => "", :name => "daterange"}/
        %i.icn-calendar-date
        .appearance
    .field-case
        %label.field-name Event type 
        %select.field.js-select{:name => ""}
            %option{:value => ""} All
            %option{:value => ""} Preschool programs
            %option{:value => ""} After-school programs
            %option{:value => ""} Camps
            %option{:value => ""} Classes
        
    
    .field-case
        %label.field-name Category of interests
        %select.field.js-select-multi{:name => "", :multiple => "multiple"}
            - (1..50).each do |i|
                %option{:value => "#{i}"} Category #{i}
    %label.field-name Kids age
    .row
        .col-xl-6
            .field-case
                .filterSidebar__label From
                %input.field.field-icon{:type => "number", :name => "", :min => "0", :max => "18", :value => "7"}/
                .increment
                    .up
                    .down
        .col-xl-6
            .field-case
                .filterSidebar__label To
                %input.field.field-icon{:type => "number", :name => "", :min => "0", :max => "18", :value => "18"}/
                .increment
                    .up
                    .down
    .filterSidebar__showHide
        %label.field-name Price
        .row
            .col-md-6
                .field-case
                    %input.field.js-priceStart{:type => "number", :name => "", :value => "0", :min => "0", :max => "5000",}/
                    .increment
                        .up
                        .down
            .col-md-6
                .field-case
                    %input.field.js-priceEnd{:type => "number", :name => "", :value => "5000", :min => "0", :max => "5000",}/
                    .increment
                        .up
                        .down
        .field-case
            .filterSidebar__range.js-range

        .field-case
            %label.field-name Time
            %select.field.js-select{:name => ""}
                %option{:value => ""} All
                %option{:value => ""} Any
                %option{:value => ""} Morning (12 am - 12 pm)
                %option{:value => ""} Afternoon (12 pm - 4 pm)
                %option{:value => ""} Evening (4 pm - 10 pm)
                %option{:value => ""} Nights (10 pm - 12 am)
            
        .field-case
            %label.field-name Location type
            %select.field.js-select{:name => ""}
                %option{:value => ""} All
                %option{:value => ""} Indoor
                %option{:value => ""} Outdoor
            
        .field-case
            %label.field-name Group size
            %select.field.js-select{:name => ""}
                %option{:value => ""} All
                %option{:value => ""} Any
                %option{:value => ""} < 5
                %option{:value => ""} 5-10
                %option{:value => ""} 10-20
                %option{:value => ""} > 20
            

        .field-case
            %label.field-name Search by word
            %input.field.field-icon{:type => "", :name => ""}/
            %i.icn-search
    %a.filterSidebar__more.js-toggleFilter{:tabindex => ""}
        %i.icn-filters
        Show 
        %span more 
        filters
    %input.btns.btns-default.btns-block{:type => "submit", :value => "Applay"}/
    %a.link.link-primary.filterSidebar__reset{:href => ""} Reset filters