%form.filterSidebar__form{:action => ""}
    .field-case
        %label.field-name Type 
        %select.field.js-select{:name => ""}
            %option{:value => ""} All
            %option{:value => ""} Preschool Programs
            %option{:value => ""} Camps
            %option{:value => ""} Before & After School Programs
            %option{:value => ""} Activities & Events
            %option{:value => ""} Classes

        
    
    .field-case
        %label.field-name Category of interests
        %select.field.js-select-multi{:name => "", :multiple => "multiple"}
            - (1..50).each do |i|
                %option{:value => "#{i}"} Category #{i}
    .field-case
        %label.field-name Search by word
        %input.field.field-icon{:type => "", :name => ""}/
        %i.icn-search
    %input.btns.btns-default.btns-block{:type => "submit", :value => "Applay"}/
    %a.link.link-primary.filterSidebar__reset{:href => ""} Reset filters