%footer.footer
    - if $footer != 'checkout' 
        .footer__inner
            .container 
                .row
                    .col-lg-7
                        .footer__menus
                            .footer__menu
                                .footer__title.js-toggleMenu
                                    for families
                                    %i.icn-angle-down
                                %ul.footer__list
                                    %li
                                        %a{:href => ""} Classes
                                    %li
                                        %a{:href => ""} Activities & Events
                                    %li
                                        %a{:href => ""} Before & After School
                                    %li
                                        %a{:href => ""} Preschool
                                    %li
                                        %a{:href => ""} Camps
                                    %li
                                        %a{:href => ""} All Providers

                            .footer__menu
                                .footer__title.js-toggleMenu
                                    for providers
                                    %i.icn-angle-down

                                %ul.footer__list
                                    %li
                                        %a{:href => ""} List Your Business

                            .footer__menu    
                                .footer__title.js-toggleMenu
                                    About Us
                                    %i.icn-angle-down

                                %ul.footer__list
                                    %li
                                        %a{:href => ""} About Us
                                    %li
                                        %a{:href => ""} Contact Us
                                    %li
                                        %a{:href => ""} Privacy Policy
                                    %li
                                        %a{:href => ""} Terms of Use
                                    %li
                                        %a{:href => ""} Terms of Use


                            .footer__menu
                                .footer__title.js-toggleMenu
                                    About Us
                                    %i.icn-angle-down
                                %ul.footer__list
                                    %li
                                        %a{:href => ""} About Us
                                    %li
                                        %a{:href => ""} Contact Us
                                    %li
                                        %a{:href => ""} Privacy Policy
                                    %li
                                        %a{:href => ""} Terms of Use
                                    %li
                                        %a{:href => ""} Terms of Use
                    .col-lg-4.offset-lg-1
                        .footerControll
                            .footerControll__box
                                %a.logo.footerControll__logo{:href => ""}
                                    %img{:src => "assets/img/logo.svg", :alt => ""}/
                                .footerControll__social
                                    %a{:href => ""}
                                        %i.icn-instagram
                                    %a{:href => ""}
                                        %i.icn-facebook
                            .footerControll__form.footerForm
                                %span.footerForm__title Get it first. Sign up for up-to-the-minute offers, sales and news.
                                %form.footerForm__form#footerForm{:action => ""}
                                    .field-case.footerForm__field
                                        %input.field{:type => "email", :name => "email", :placeholder => "Your email address", :required => "true" ,"data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                                    %input.btns.btns-primary.btns-block.footerForm__btn{:type => "submit", :value => "Sign Up"}/
    .footer__copy © 2018-2019 Brand name, Inc All  rights reserved

//=include _modals.haml
%script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
%script{:type => "text/javascript", :src => "assets/js/libs.js"} 
%script{:type => "text/javascript", :src => "assets/js/app.js"}