/[if lt IE 10]
    <div class="browse-happy">
    <div class="container">
    <p class="browse-happy__notice">We found that you are using an <strong>outdated version</strong> of Internet
    Explorer</p>
    <p class="browse-happy__security">For safety reasons, this website supports Internet Explorer version 10 and
    above
    <br>In addition, this and many other sites may be displayed <strong>not correctly</strong></p>
    <p class="browse-happy__update">Please update your browser to this <a href="https://browsehappy.com/?locale=en" target="_blank">link</a></p>
    <p class="browse-happy__recommend">(we recommend <a href="https://www.google.com/chrome/" target="_blank">Google
    Chrome</a>)</p>
    </div>
    </div>


- if $header == 'help' 
    %header.header  
        .container
            .row
                .col-sm-12
                    .header__inner
                        .logoBlock
                            %a.logo{:href => ""}
                                %img{:src => "assets/img/logo.svg", :alt => ""}/
                            - if $know == true
                                %span.logoBlock__text Knowledge Base

                        %a.header__back{:href => ""}
                            %i.icn-arrow-left
                            %span 
                                Back to 
                            KiddoWiz.com
- if $header == 'checkout' 
    %header.header  
        .container
            .row
                .col-sm-12
                    .header__inner
                        .logoBlock
                            %a.logo{:href => ""}
                                %img{:src => "assets/img/logo.svg", :alt => ""}/    
                       

- if $header == 'home'
    %header.header.header-extend 
        .container
            .row
                .col-sm-12
                    .header__inner
                        %a.wishlist.header__wishlist{:href => ""}
                            .wishlist__icon
                                %span.wishlist__count.js-wishCount 0 
                                %i.icn-favorite-o
                            Wishlist
                        - if $guest == true
                            %a.header__signIn.d-none.d-md-block{"data-target" => "#singInModal", "data-toggle" => "modal"} Sign In       
                            %a.btns.btns-primary.header__signUp.d-none.d-md-block{"data-target" => "#singUpModal", "data-toggle" => "modal"} Sign Up
                        - if $guest == false
                            .headUser.d-none.d-md-block
                                .headUser__user.js-userBtn
                                    .headUser__name Emma Mendez
                                    .avatar
                                        %i.icn-user
                                        %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                                .headUser__toggle.js-userMenu
                                    .headUser__menus
                                        .headUser__menu
                                            .headUser__title Profile
                                            .headUser__list
                                                %li
                                                    %a{:href => ""} Dashboard
                                                %li
                                                    %a{:href => ""} Enrollments
                                                %li
                                                    %a{:href => ""} Wish List
                                                %li
                                                    %a{:href => ""} Browsing History
                                                %li
                                                    %a{:href => ""} Reviews 
                                        .headUser__menu
                                            .headUser__title Control
                                            .headUser__list
                                                %li
                                                    %a{:href => ""} Kids
                                                %li
                                                    %a{:href => ""} 
                                                        Orders
                                                        .count 3
                                                %li
                                                    %a{:href => ""} Companies
                                                %li
                                                    %a{:href => ""} 
                                                        Classes and Events
                                                        .count 3
                                                %li
                                                    %a{:href => ""} 
                                                        Advertisement and Promotion
                                                        .count 3
                                        .headUser__menu
                                            .headUser__title Settings
                                            .headUser__list
                                                %li
                                                    %a{:href => ""} Profile Settings
                                                %li
                                                    %a{:href => ""} Profile Permissions
                                                %li
                                                    %a{:href => ""} Social Network Connections
                                                %li
                                                    %a{:href => ""} Notification Preferences
                                    .headUser__control
                                        %span.headUser__price $ 3700
                                        %a.headUser__btns{:href => ""} 
                                            %i.icn-filters-solid
                                        %a.headUser__btns{:href => ""} 
                                            %i.icn-arrows
                                        %a.headUser__btns{:href => ""} 
                                            %i.icn-cog
                
                                        %a.headUser__singOut{:href => ""}
                                            %i.icn-sign-out
                                            Sign Out

                        .header__icons.headerIcons.d-md-none
                            %a.headerIcons__item.js-mobMenuOpen
                                %i.icn-bars
- if $header == 'page' 
    %header.header
        .container
            .row
                .col-sm-12
                    .header__inner
                        %a.logo.header__logo{:href => ""}
                            %img{:src => "assets/img/logo.svg", :alt => ""}/
                        .header__searchBy
                            //=include _search.by.haml
                        - if $guest == true
                            %a.header__signIn.d-none.d-lg-block{"data-target" => "#singInModal", "data-toggle" => "modal"} Sign In       
                            %a.btns.btns-primary.header__signUp.d-none.d-lg-block{"data-target" => "#singUpModal", "data-toggle" => "modal"} Sign Up 
                        
                        - if $guest == false
                            .headUser.d-none.d-lg-block
                                .headUser__user.js-userBtn
                                    .headUser__name Emma Mendez
                                    .avatar
                                        %i.icn-user
                                        %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                                .headUser__toggle.js-userMenu
                                    .headUser__menus
                                        .headUser__menu
                                            .headUser__title Profile
                                            .headUser__list
                                                %li
                                                    %a{:href => ""} Dashboard
                                                %li
                                                    %a{:href => ""} Enrollments
                                                %li
                                                    %a{:href => ""} Wish List
                                                %li
                                                    %a{:href => ""} Browsing History
                                                %li
                                                    %a{:href => ""} Reviews 
                                        .headUser__menu
                                            .headUser__title Control
                                            .headUser__list
                                                %li
                                                    %a{:href => ""} Kids
                                                %li
                                                    %a{:href => ""} 
                                                        Orders
                                                        .count 3
                                                %li
                                                    %a{:href => ""} Companies
                                                %li
                                                    %a{:href => ""} 
                                                        Classes and Events
                                                        .count 3
                                                %li
                                                    %a{:href => ""} 
                                                        Advertisement and Promotion
                                                        .count 3
                                        .headUser__menu
                                            .headUser__title Settings
                                            .headUser__list
                                                %li
                                                    %a{:href => ""} Profile Settings
                                                %li
                                                    %a{:href => ""} Profile Permissions
                                                %li
                                                    %a{:href => ""} Social Network Connections
                                                %li
                                                    %a{:href => ""} Notification Preferences
                                    .headUser__control
                                        %span.headUser__price $ 3700
                                        %a.headUser__btns{:href => ""} 
                                            %i.icn-filters-solid
                                        %a.headUser__btns{:href => ""} 
                                            %i.icn-arrows
                                        %a.headUser__btns{:href => ""} 
                                            %i.icn-cog
                
                                        %a.headUser__singOut{:href => ""}
                                            %i.icn-sign-out
                                            Sign Out

                        .header__icons.headerIcons.d-lg-none
                            %a.headerIcons__item.search.js-searchBy
                                %i.icn-search
                                %i.icn-close
                            %a.headerIcons__item.js-mobMenuOpen
                                %i.icn-bars
                            - if $wish == true
                                %a.headerIcons__item.wishlist.active{:href => ""}
                                    .wishlist__icon
                                        %span.wishlist__count.ext.js-wishCount 18 
                                        %i.icn-favorite-o
                            - else
                                %a.headerIcons__item.wishlist{:href => ""}
                                    .wishlist__icon
                                        %span.wishlist__count.ext.js-wishCount 0 
                                        %i.icn-favorite-o
        .menuBar
            .container
                .row
                    .col-sm-12
                        .menuBar__inner
                            %nav.mainMenu
                                %ul.mainMenu__list
                                    %li.mainMenu__item 
                                        %span Classes
                                        %ul.mainMenu__submenu.subMenu
                                            %li
                                                %a{:href => ""} 
                                                    Activity/Development 
                                            %li
                                                %a{:href => ""} Classes
                                            %li
                                                %a{:href => ""} Art
                                            %li
                                                %a{:href => ""} Cooking
                                            %li
                                                %a{:href => ""} Dance
                                            %li
                                                %a{:href => ""} Gymnastics
                                            %li
                                                %a{:href => ""} Health & Yoga
                                            %li
                                                %a{:href => ""} Horseback Riding
                                    %li.mainMenu__item 
                                        %span Camps
                                        %ul.mainMenu__submenu.subMenu
                                            %li
                                                %a{:href => ""} Art
                                            %li
                                                %a{:href => ""} Cooking
                                            %li
                                                %a{:href => ""} Dance
                                            %li
                                                %a{:href => ""} Language
                                            %li
                                                %a{:href => ""} Music
                                            %li
                                                %a{:href => ""} Nature
                                            %li
                                                %a{:href => ""} Performing Arts
                                            %li
                                                %a{:href => ""} Technology
                                            %li
                                                %a{:href => ""} Special Needs
                                            %li
                                                %a{:href => ""} Sports
                                            %li.divider
                                            %li
                                                %a{:href => ""} Day Camps
                                            %li
                                                %a{:href => ""} Overnight Camps
                                    %li.mainMenu__item 
                                        %span Activities
                                        %ul.mainMenu__submenu.subMenu.subMenu.subMenu-oneColumn
                                            %li.fullWidth
                                                %a{:href => ""} Art
                                            %li.fullWidth
                                                %a{:href => ""} Cooking
                                            %li.fullWidth
                                                %a{:href => ""} Dance
                                            %li.fullWidth
                                                %a{:href => ""} Language
                                            %li.fullWidth
                                                %a{:href => ""} Music
                                            %li.fullWidth
                                                %a{:href => ""} Nature
                                            %li.fullWidth
                                                %a{:href => ""} Performing Arts
                                            %li.fullWidth
                                                %a{:href => ""} Technology
                                            %li.fullWidth
                                                %a{:href => ""} Special Needs
                                            %li
                                                %a{:href => ""} Sports
                                            %li.divider
                                            %li.fullWidth
                                                %a{:href => ""} Day Camps
                                            %li.fullWidth
                                                %a{:href => ""} Overnight Camps
                                    %li.mainMenu__item 
                                        %span Child Care
                                        %ul.mainMenu__submenu.subMenu.subMenu.subMenu-oneColumn
                                            %li.fullWidth
                                                %a{:href => ""} Art
                                            %li.fullWidth
                                                %a{:href => ""} Cooking
                                            %li.fullWidth
                                                %a{:href => ""} Dance
                                            %li.fullWidth
                                                %a{:href => ""} Language
                                            %li.fullWidth
                                                %a{:href => ""} Music
                                            %li.fullWidth
                                                %a{:href => ""} Nature
                                            %li.fullWidth
                                                %a{:href => ""} Performing Arts
                            - if $wish == true
                                %a.wishlist.menuBar__wishlist.active{:href => ""}
                                    .wishlist__icon
                                        %span.wishlist__count.js-wishCount 18 
                                        %i.icn-favorite-o
                                    Wishlist
                            - else
                                %a.wishlist.menuBar__wishlist{:href => ""}
                                    .wishlist__icon
                                        %span.wishlist__count.js-wishCount 0 
                                        %i.icn-favorite-o
                                    Wishlist





- if $header != 'help' || $header != 'checkout'
    .mobileMenu
        %i.icn-close.mobileMenu__close.js-mobMenuCloce
        - if $guest == false
            .mobileMenu__user
                .avatar
                    %i.icn-user
                    %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                .mobileMenu__name Emma Mendez
            .mobileMenu__box
                .mobileMenu__title.js-toggleMenu 
                    Profile
                    %i.icn-angle-down
                .mobileMenu__list
                    %li
                        %a{:href => ""} Dashboard
                    %li
                        %a{:href => ""} Enrollments
                    %li
                        %a{:href => ""} Wish List
                    %li
                        %a{:href => ""} Browsing History
                    %li
                        %a{:href => ""} Reviews 
            .mobileMenu__box
                .mobileMenu__title.js-toggleMenu 
                    Control
                    %i.icn-angle-down
                .mobileMenu__list
                    %li
                        %a{:href => ""} Kids
                    %li
                        %a{:href => ""} 
                            Orders
                            .count 3
                    %li
                        %a{:href => ""} Companies
                    %li
                        %a{:href => ""} 
                            Classes and Events
                            .count 3
                    %li
                        %a{:href => ""} 
                            Advertisement and Promotion
                            .count 3
            .mobileMenu__box
                .mobileMenu__title.js-toggleMenu 
                    Settings
                    %i.icn-angle-down
                .mobileMenu__list
                    %li
                        %a{:href => ""} Profile Settings
                    %li
                        %a{:href => ""} Profile Permissions
                    %li
                        %a{:href => ""} Social Network Connections
                    %li
                        %a{:href => ""} Notification Preferences

        .mobileMenu__box
            .mobileMenu__title.js-toggleMenu
                CLASSES
                %i.icn-angle-down
            %ul.mobileMenu__list
                %li
                    %a{:href => ""} 
                        Activity/Development 
                %li
                    %a{:href => ""} Classes
                %li
                    %a{:href => ""} Art
                %li
                    %a{:href => ""} Cooking
                %li
                    %a{:href => ""} Dance
                %li
                    %a{:href => ""} Gymnastics
                %li
                    %a{:href => ""} Health & Yoga
                %li
                    %a{:href => ""} Horseback Riding
        .mobileMenu__box
            .mobileMenu__title.js-toggleMenu
                CAMPS
                %i.icn-angle-down
            %ul.mobileMenu__list
                %li
                    %a{:href => ""} Art
                %li
                    %a{:href => ""} Cooking
                %li
                    %a{:href => ""} Dance
                %li
                    %a{:href => ""} Language
                %li
                    %a{:href => ""} Music
                %li
                    %a{:href => ""} Nature
                %li
                    %a{:href => ""} Performing Arts
                %li
                    %a{:href => ""} Technology
                %li
                    %a{:href => ""} Special Needs
                %li
                    %a{:href => ""} Sports
                %li
                    %a{:href => ""} Day Camps
                %li
                    %a{:href => ""} Overnight Camps
        .mobileMenu__box
            .mobileMenu__title.js-toggleMenu
                ACTIVITIES
                %i.icn-angle-down
            %ul.mobileMenu__list
                %li
                    %a{:href => ""} 
                        Activity/Development 
                %li
                    %a{:href => ""} Classes
                %li
                    %a{:href => ""} Art
                %li
                    %a{:href => ""} Cooking
                %li
                    %a{:href => ""} Dance
                %li
                    %a{:href => ""} Gymnastics
                %li
                    %a{:href => ""} Health & Yoga
                %li
                    %a{:href => ""} Horseback Riding
        .mobileMenu__box
            .mobileMenu__title.js-toggleMenu
                CHILD CARE
                %i.icn-angle-down
            %ul.mobileMenu__list
                %li
                    %a{:href => ""} 
                        Activity/Development 
                %li
                    %a{:href => ""} Classes
                %li
                    %a{:href => ""} Art
                %li
                    %a{:href => ""} Cooking
                %li
                    %a{:href => ""} Dance
                %li
                    %a{:href => ""} Gymnastics
                %li
                    %a{:href => ""} Health & Yoga
                %li
                    %a{:href => ""} Horseback Riding
        .mobileMenu__btns
            - if $guest == false
                %a.mobileMenu__singOut{:href => ""}
                    %i.icn-sign-out
                    Sign Out
            - if $guest == true
                %a.btns.btns-primary.btns-block.js-mobSign{"data-modal" => "#singUpModal"} Sign Up   
                %a.btns.btns-block.btns-default.js-mobSign{"data-modal" => "#singInModal"} Sign In
                                                
- if $header != 'home'
    .header-place