.home__categories
    .container
        .row
            .col-sm-12
                .h1.home__title Browse by Top Categories
                %ul.home__browse
                    %li
                        .category
                            %a.category__link{:href => ""}
                                .category__icon
                                    %img{:src => "assets/img/getting-started.svg", :alt => ""}/
                                %span.category__name.small SPORT
                    %li
                        .category
                            %a.category__link{:href => ""}
                                .category__icon
                                    %img{:src => "assets/img/music.svg", :alt => ""}/
                                %span.category__name.small MUSIC
                    %li
                        .category
                            %a.category__link{:href => ""}
                                .category__icon
                                    %img{:src => "assets/img/music.svg", :alt => ""}/
                                %span.category__name.small MUSIC
                    %li
                        .category
                            %a.category__link{:href => ""}
                                .category__icon
                                    %img{:src => "assets/img/managing-orders.svg", :alt => ""}/
                                %span.category__name.small VERY-VERY LONG CATEGORIED
                    %li
                        .category
                            %a.category__link{:href => ""}
                                .category__icon
                                    %img{:src => "assets/img/science.svg", :alt => ""}/
                                %span.category__name.small Science