#kidModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title.left Add Kid
                %form#kidForm{:autocomplete => "off", :action => "", :method => "post"} 
                    %input{:type => "hidden", :name => "old", :required => "true"}/
                    .field-case
                        %label.field-name 
                            First Name
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "text", :name => "firstname", :placeholder => "Enter First Name", :required => "true", "data-msg-required" => "Please enter your first name.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/   
                    .field-case
                        %label.field-name 
                            Last Name
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "text", :name => "lastname", :placeholder => "Enter Last Name", :required => "true", "data-msg-required" => "Please enter your last name.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                    .field-case
                        %label.field-name 
                            Birth Date
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field.field-icon#birthdayNew{:readonly => "", :type => "text", :name => "birthday", :placeholder => "", :required => "true", "data-msg-required" => "Please select birth date", :placeholder => "Pick a date"}/
                        %i.icn-date
                        .appearance
                    .field-case
                        %label.field-name 
                            Interests
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %select.field.js-select-multi{:name => "interests", :multiple => "multiple", :required => "true", "data-msg-required" => "Please interests"}
                            %option{:value => "SPORT"} Sport
                            %option{:value => "OUTDOOR ACTIVITIES"} Outdoor Activities
                            - (1..50).each do |i|
                                %option{:value => "Category #{i}"} Category #{i}
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Add", :disabled => ""}/
                    %input{:type => "reset", :value => "reset"}/

#kidEditModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title.left Edit Kid
                %form#kidEditForm{:autocomplete => "off", :action => "", :method => "post"}
                    %input{:type => "hidden", :name => "old", :value => ""}/
                    %input{:type => "hidden", :name => "id", :value => ""}/
                    .field-case
                        %label.field-name 
                            First Name
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "text", :name => "firstname", :placeholder => "Enter First Name", :required => "true", "data-msg-required" => "Please enter your first name.", :value => "", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                    .field-case
                        %label.field-name 
                            Last Name
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "text", :name => "lastname", :placeholder => "Enter Last Name", :required => "true", "data-msg-required" => "Please enter your last name.", :value => "", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                    .field-case
                        %label.field-name 
                            Birth Date
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field.field-icon#birthdayEdit{:readonly => "", :type => "text",:name => "birthday", :placeholder => "", :required => "true", "data-msg-required" => "Please select birth date", :placeholder => "Pick a date", :value => ""}/
                        %i.icn-date
                        .appearance
                    .field-case
                        %label.field-name 
                            Interests
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %select.field.js-select-multi{:name => "interests", :multiple => "multiple", :required => "true", "data-msg-required" => "Please interests"}
                            %option{:value => "SPORT"} Sport
                            %option{:value => "OUTDOOR ACTIVITIES"} Outdoor Activities
                            - (1..50).each do |i|
                                %option{:value => "Category #{i}"} Category #{i}
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Save", :disabled => ""}/
                    %input{:type => "reset", :value => "reset"}/
                    %a.deleteKid.js-delete Delete Kid

