#questionModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title Ask a Question
                %form#question{:action => "", "data-url" => "http://help.kiddowiz.com/wp/wp-admin/admin-ajax.php"}
                    %input{:type => "hidden", :name => "action", :value => "submit_contact_form"}
                    %input{:type => "hidden", :name => "secure_token", :value => "9efa14730f"}
                    .field-case 
                        %label.field-name 
                            Theme
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %select.field{:name => "theme", :required => "true"}
                            %option{:value => "other"} Other
                            - (1..5).each do |i|
                                %option{:value => ""} Select item #{i}
                        .appearance
                    .field-case
                        %label.field-name 
                            Your Name
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                            
                        %input.field{:type => "text", :name => "name", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your name."}/
                    .field-case
                        %label.field-name 
                            Email Address
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    .field-case
                        %label.field-name 
                            Question
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %textarea.field{:name => "question", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your message."}
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Send", :disabled => ""}/

#resultModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content.noteModal
            .modal-body
                %i.noteModal__icon
                %p.noteModal__text

#singInModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h1.modals__smallSpace Sign In
                %p.modals__subtitle
                    Don’t have an account? 
                    %a.link-primary.js-changeModals{:tabindex => "", 'data-close' => "#singInModal", 'data-open' => "#singUpModal" } Sign up
                .modals__or
                    %a.btns.btns-facebook{:href => ""} 
                        %i.icn-facebook
                        Facebook
                    %a.btns.btns-google-plus{:href => ""} 
                        %i.icn-google-plus
                        Google
                    %span or
                %form#singIn{:action => ""}
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    .field-case
                        %label.field-name 
                            Password
                            %span *
                            %a.link-primary.js-changeModals{:tabindex => "", 'data-close' => "#singInModal", 'data-open' => "#forgotModal" } Forgot password?
                        %input.field{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/


                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "remember", :checked => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name Remember me
                                
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Sign In", :disabled => ""}/
                    
                    

#singUpModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h1.modals__smallSpace Sign Up
                %p.modals__subtitle
                    Don’t have an account? 
                    %a.link-primary.js-changeModals{:tabindex => "", 'data-close' => "#singUpModal", 'data-open' => "#singInModal" } Sign in
                .modals__or
                    %a.btns.btns-facebook{:href => ""} 
                        %i.icn-facebook
                        Facebook
                    %a.btns.btns-google-plus{:href => ""} 
                        %i.icn-google-plus
                        Google
                    %span or
                %form#singUp{:action => ""}
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    First Name
                                    %span *
                                %input.field{:type => "text", :name => "firstname", :placeholder => "Enter First Name", :required => "true", "data-msg-required" => "Please enter your first name."}/
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Last Name
                                    %span *
                                %input.field{:type => "text", :name => "lastname", :placeholder => "Enter Last Name", :required => "true", "data-msg-required" => "Please enter your last name."}/
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Password
                                    %span *
                                %input.field#password{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Confirm new Password
                                    %span *
                                %input.field{:type => "password", :name => "repassword", :required => "true", "data-msg-required" => "Please enter your confirm password.", :placeholder => "Enter Confirm Password",  "data-rule-equalTo" => "#password", "data-msg-equalTo" => "Your password confirmation doesn’t match your password."}/
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "events", :checked => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                I’m a parent and I’m looking for camps and events for my children
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "proxy"}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                I’m a proxy for educational organization. I’m going to create events for kids and teenagers.
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Sign Up", :disabled => ""}/


#resetPasswordModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace Reset Password
                %p.modals__subtitle
                    Enter your new password below
                %form#resetPassword{:action => ""}
                    .field-case
                        %label.field-name 
                            New password
                            %span *
                        %input.field#reResetPassword{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/
                    .field-case
                        %label.field-name  
                            Confirm new password
                            %span *
                        %input.field{:type => "password", :name => "repassword", :required => "true", "data-msg-required" => "Please enter your confirm password.", :placeholder => "Enter Confirm Password",  "data-rule-equalTo" => "#reResetPassword", "data-msg-equalTo" => "Your password confirmation doesn’t match your password."}/
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Reset Password", :disabled => ""}/

#changePasswordModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace Change Password
                %p.modals__subtitle
                    Enter your new password below
                %form#changePassword{:action => ""}
                    .field-case
                        %label.field-name 
                            Current password
                            %span *
                        %input.field{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols."}/
                    .field-case
                        %label.field-name 
                            New password
                            %span *
                        %input.field#reChangePassword{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols."}/
                    .field-case
                        %label.field-name  
                            Confirm new password
                            %span *
                        %input.field{:type => "password", :name => "repassword", :required => "true", "data-msg-required" => "Please enter your confirm password.", :placeholder => "Enter Confirm Password",  "data-rule-equalTo" => "#reChangePassword", "data-msg-equalTo" => "Your password confirmation doesn’t match your password."}/
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Change Password", :disabled => ""}/

#dellAccModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace.left Delete Account
                %p
                    Thank you for using domain.com If there is anything we can do to keep you with us, please let us know
                %strong.modals__small Please take a moment to let us know  wht you are leaving:
                %form#dellAcc{:action => ""}
                    %label.check-case.block
                        %input{:type => "radio", :name => "dellAcc", :value => "", :checked => "checked"}/
                        %span.field-radio
                            %i.icn-radio
                        .check-name I do not want my information saved by domain.com
                    %label.check-case.block
                        %input{:type => "radio", :name => "dellAcc", :value => ""}/
                        %span.field-radio
                            %i.icn-radio
                        .check-name I am not interested in managing my attendance at any events
                    %label.check-case.block
                        %input{:type => "radio", :name => "dellAcc", :value => ""}/
                        %span.field-radio
                            %i.icn-radio
                        .check-name I am not attending any events
                    %label.check-case.block
                        %input{:type => "radio", :name => "dellAcc", :value => ""}/
                        %span.field-radio
                            %i.icn-radio
                        .check-name I do not recall singing up for domain.com
                    %label.check-case.block
                        %input{:type => "radio", :name => "dellAcc", :value => ""}/
                        %span.field-radio
                            %i.icn-radio
                        .check-name The site is too difficult to use
                    %label.check-case.block
                        %input{:type => "radio", :name => "dellAcc", :value => "other"}/
                        %span.field-radio
                            %i.icn-radio
                        .check-name Other (Please explain)
                    .field-case
                        %textarea.field{:disabled => "disabled", :name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your explain.",}
                    .field-case
                        %label.field-name 
                            Enter your password
                            %span *
                        %input.field{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols."}/

                    %input.btns.btns-danger.btn-block{:type => "submit", :value => "Delete Account Permanently", :disabled => ""}/

#dellAccConfModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h4.modals__title.center Your account was closed. Thank you for using us.
                .text-center
                    %a.btns.btns-primary{:href => "https://www.google.com"} I’m Feeling Lucky
                

#forgotModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h1.modals__smallSpace Forgot Password
                %p.modals__subtitle
                    Enter your Email below to reset your password
                %form#forgot{:action => "", "data-action" => "./assets/json/check-form.json"}
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-rule-remote" => "true", "data-rule-checkUser" => "true", "data-msg-checkUser" => "User is not found with provided email.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/ 
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Reset Password", :disabled => ""}/
                    
                    %a.btns.btns-link.btn-block.js-changeModals{:tabindex => "", 'data-close' => "#forgotModal", 'data-open' => "#singInModal" } Back to Sign In
#forgotModal2.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h1.modals__smallSpace Forgot Password
                %p.modals__subtitle
                    Enter your Email below to reset your password
                %form#forgot2{:action => "", "data-action" => "./assets/json/check-form.json"}
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-rule-remote" => "true", "data-rule-checkUser" => "true", "data-msg-checkUser" => "User is not found with provided email.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/ 
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Reset Password", :disabled => ""}/
                    
                    

#checkEmailModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace Check your email
                %p.modals__subtitle
                    We sent email to 
                    %strong  
                    with instructions to reset your password

#goodAfternoonModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h1.modals__smallSpace Good Afternoon, John!
                %p.modals__subtitle
                    For more accurate work with Kiddowiz please provide some information about yourself
                %form#foodAfternoon{:action => "", :autocomplete => "off"}
                    .field-case
                        %label.field-name 
                            Your location
                            %span *
                        %input.field{:type => "text", :name => "location", :placeholder => "Enter your location", :required => "true", "data-msg-required" => "Please enter your location."}/
                
                    .field-case
                        %label.field-name 
                            Phone
                            %span *
                        %input.field{:type => "tel", :name => "phone", :placeholder => "Enter your phone.", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "remember", :checked => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                Remember me
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "updates", :checked => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                Updates about new features and events announcements.
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Sign In", :disabled => ""}/

#pleaseSingInModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body  
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace Please Sign In to KiddoWiz
                %p.modals__subtitle
                    Save this event to your wishlist.
                %form#pleaseSingIn{:action => ""}
                    .modals__steps 1. What is your email address?
                    .field-case
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    .modals__fieldInfo Use the email you signed up with
                    .modals__steps 2. Do you have a kiddowiz.com password?
                    .field-case
                        %label.check-case
                            %input{:type => "radio", :name => "method", :value => "new", "v-model" => "method", :checked => "checked"}/
                            %span.field-radio 
                                %i.icn-radio
                            .check-name 
                                No, I am new to the website
                        %label.check-case
                            %input{:type => "radio", :name => "method", :value => "soc", "v-model" => "method"}/
                            %span.field-radio
                                %i.icn-radio
                            .check-name 
                                Yes, but I'd like to use social sign in
                        %label.check-case
                            %input{:type => "radio", :name => "method", :value => "have", "v-model" => "method"}/
                            %span.field-radio
                                %i.icn-radio
                            .check-name 
                                Yes, I have a password
                    .field-case{'v-if' => "method == 'have'"}
                        %a.link-primary.modals__forgot{"@click" => "changeModals()", :tabindex => ""} Forgot password?
                        %input.field{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/
                    .row{'v-if' => "method == 'soc'"}
                        .col-md-6
                            %a.btns.btns-block.btns-facebook{:href => ""} 
                                %i.icn-facebook
                                Facebook
                        .col-md-6
                            %a.btns.btns-block.btns-google-plus{:href => ""} 
                                %i.icn-google-plus
                                Google
                    %input.btns.btns-primary.btn-block{'v-if' => "method != 'soc'", :type => "submit", :value => "Continue", :disabled => ""}/
                    %a.cancel.link.link-default{:tabindex => "", "aria-label" => "Close", "data-dismiss" => "modal"} Cancel
#cancellationModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body  
                %h2.modals__title Сancellation Policy
                .modals__scrollZone#scrollAddress{"data-scrollBar" => "slimeScroll", "data-height" => "500px"}
                    %p
                        Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful. Once the bill was passed and signed into law by the president, it became much harder to reverse the law. The democrats would need to bring up the law and get it to a vote, then after the vote passed it needs to go to the president for his signature. The problem with this is that the current president is the one who signed the bill into law in the first place.
                        %br/
                        %br/
                        Another problem is because the gambling ban was attached to another bill, it means that to reverse the law the entire bill needs to be reversed, but the other part of the bill is for an increase in port security, so any congressmen who recommends reversing this law, will be going on record as trying to reverse the increase in port security.
                        %br/
                        %br/
                        Because of this trying to get the law reversed could ruin a congressman’s chances of ever getting elected to public office again for the rest of their lives.
                        %br/
                        %br/
                        It is more likely that it will have to wait till the end of George Bushes term in office and then get an amendment to the law that reverses only gambling ban part of the law.
                        %br/
                        %br/
                        So if you are on Online Gambling enthusiast and you were hoping that after the election the online gambling ban would just disappear I am sorry to say you were mistaken and that you are going to have to wait a little longer, but that does not mean you need to sit quietly by.
                        %br/
                        %br/
                        The key is to make sure that you are heard, write letters to congressmen, and attend protest rallies anything that will keep this issue in the front of the minds of the politicians so they know that just as the Republicans lost the house so can they.
                        %br/
                        %br/
                        The republicans used the online gambling ban to try to gain votes for them in the last weeks before the election, but it backfired on them and lost them more votes then it brought in.
                        %br/
                        %br/
                        Hopefully the Democrats will learn from the mistakes of the Republicans and will understand that banning something never works, and that it is only thru regulating the online gambling industry that will ensure that it is safe and honest to play and that no underage children manage to play.
                        %br/
                        %br/
                        Other wise I am sure that the Democrats will also see the wrath of the American voters when it comes time for the next elections.
                        %br/
                        %br/
                        The American people are tired of having the government controlling every aspect of their lives and I think this election may have made their point for them.
                        %br/
                        %br/
                        So if the question is will they try to reverse the law I am sure they will try, but how successful they will be is still up in the air, and no one can really know what the outcome will be.
                %a.btns.btns-primary.modals__btn{"aria-label" => "Close", "data-dismiss" => "modal"} I Agree

#showMapModalModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body  
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title 
                .modals__map
                    #mapModal
#showCoMapModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.lg{:role => "document"}
        .modal-content
            .modal-body  
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title 
                .modals__map
                    #mapCoModal
#showAddressModal.xl.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.xl{:role => "document"}
        .modal-content
            .modal-body  
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title 
                .modals__map.ext
                    .searchByAddress.active
                        .searchByAddress__btns.js-toggleSearch
                        .field-case
                            %label.field-name Search by words or address
                            %input.field.js-filterAddress{:type => "", :name => "", :placeholder => "", :required => "true"}/
                        .searchByAddress__address#scrollModalAddress{"data-scrollBar" => "slimeScroll", "data-height" => "260px"}
                            / %span
                            /     %i.icn-map
                            /     175 Hilpert Square Apt. 059
                            / %span
                            /     %i.icn-map
                            /     45 Wilburn Groves Suite 004
                            / %span
                            /     %i.icn-map
                            /     18 Jensen Drives
                            / %span
                            /     %i.icn-map
                            /     175 Hilpert Square Apt. 059
                            / %span
                            /     %i.icn-map
                            /     18 Jensen Drives2600 Airport Way S, Seattle, WA 98134
                        %a.btns.btns-primary.btns-block{:href => ""} Show Events
                    #mapAddress 

#checkAbuse.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %h2.modals__smallSpace 
                    Are you sure you want 
                    %br/
                    to send a complaint ?
                %br/
                .row
                    .col-6
                        %a.btns.btns-primary.btns-block.js-abuse Yes   
                    .col-6
                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal"} No
#deleteReview.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %h2.modals__smallSpace 
                    Are you sure that you 
                    %br/
                    want to delete this?
                %br/
                .row
                    .col-6
                        %a.btns.btns-primary.btns-block.js-deleteReview Yes   
                    .col-6
                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal"} No   
                

#thankYouModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title We would like to help you
                %p.modals__subtitle.left
                    Invite their kids to join Michael Toporek and Sarah Toporek at “Rock Climbing for Kids and Teenagers”. Its going to be an exciting event
                %form#thankYou{:action => ""}
                    .field-case
                        %label.field-name 
                            Friend's email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    .field-case
                        %label.field-name 
                            Message
                            %span *
                        %textarea.field{:name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your message."}
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Send", :disabled => ""}/

#cancelModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__title We would like to help you
                %p.modals__subtitle.left
                    Please check the Knowledge base. Or please send us direct message and tell us what wrong. We will answer you soon possible
                %form#cancel{:action => ""}
                    .field-case 
                        %label.field-name Topic
                        %select.field{:name => "theme", :required => "true"}
                            %option{:value => ""} Please select a topic
                            - (1..5).each do |i|
                                %option{:value => "Select item"} Select item #{i}
                        .appearance
                    .field-case
                        %label.field-name 
                            Message
                            %span *
                        %textarea.field{:name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your message."}
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Send", :disabled => ""}/ 





