#directDepositModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.xl{:role => "document"}
        .modal-content
            .modal-body.directDeposit
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace.left Direct Deposit
                %p.modals__subtitle.left
                    Deposit earnings deirectly into U.S. bank account free of charge
                %form#directDeposit{:action => ""}
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Bank Name
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field{:type => "text", :name => "bank", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Bank Name.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                            .field-case
                                %label.field-name 
                                    Routing
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field{:type => "text", :name => "routing", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Brouting.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", "data-rule-digits" => "true",  "data-rule-minlength" => "9", "data-rule-maxlength" => "9",  "data-msg-minlength" => "This field must be contain 9 characters long.", "data-msg-maxlength" => "This field must be contain 9 characters long."}/
                            .field-case
                                %label.field-name 
                                    Account Number
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field{:type => "text", :name => "accNumber", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Account Number.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", "data-rule-digits" => "true", "data-rule-minlength" => "9", "data-rule-maxlength" => "10",  "data-msg-minlength" => "Please enter a value between 9 and 10 characters long.", "data-msg-maxlength" => "Please enter a value between 9 and 10 characters long."}/
                            .field-case
                                %label.field-name 
                                    Account Type
                                    %span * 
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                //
                                %select.field.js-select{:name => "accType", :required => "true", "data-msg-required" => "Please select Account Type."}
                                    %option{:value => ""} Select One... 
                                    %option{:value => "Checking"} Checking 
                                    - (1..10).each do |i|
                                        %option{:value => "Select item #{i}"} Select item #{i}
                        .col-md-6
                            .field-case 
                                %label.field-name 
                                    Beneficiary Name
                                    %span *
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                %input.field{:type => "text", :name => "beneficiary", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Beneficiary Name.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                            .check
                                %strong U.S. Check
                                %img{:src => "assets/img/card.svg", :alt => ""}/
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "attest", :checked => "", :required => "true", "data-msg-required" => "Please check this field",}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                I attest that I am the owner and have full authorization to this bank account
                    .greybox
                        %strong Please double-check your account information! 
                        %br/
                        Incorrect or mismatched account name and number can result in withdrawal delays and fees.
                    
                    %input.btns.btns-primary{:disabled => "", :type => "submit", :value => "Add Account", :disabled => ""}/ 
                    %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel 

#payPalModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
        .modal-content
            .modal-body
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace.left PayPal Details
                %p.modals__subtitle.left
                    Transfer fungs to your PayPal for $1000 USD per withdrawal, plus any fees charged by PayPal.
                    %br/
                    %br/
                    Don’t have a PayPal account?   
                    %a.link.link-primary{:href => ""} Visit PayPal
                %form#payPalForm{:action => ""}
                    .field-case
                        %label.field-name 
                            PayPal Email Address
                            %span *
                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "true"}/
                    %input.btns.btns-primary.btns-block{:type => "submit", :value => "Add Account", :disabled => ""}/ 
                    %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel 

#wireTransferModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.xl{:role => "document"}
        .modal-content
            .modal-body.directDeposit
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                %h2.modals__smallSpace.left Wire Transfer Details
                %p.modals__subtitle.left
                    Wire funds directly to your bank.
                %form#wireTransfer{:action => "", :autocomplete => "off"}
                    %h5.js-toggleMenu.open 
                        Bank Information
                        %i.icn-angle-down
                    .cnt
                        .field-case
                            %label.field-name 
                                Bank SWIFT Code
                                %span *
                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                            .swift
                                %input.field{:type => "text", :name => "swiftCode", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Bank SWIFT Code.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", "data-rule-lettersNumbers" => "true", "data-msg-lettersNumbers" => "Bank SWIFT Code must contain only letters, numbers.", "data-rule-minlength" => "8", "data-rule-maxlength" => "11",  "data-msg-minlength" => "Please enter a value between 8 and 11 characters long.", "data-msg-maxlength" => "Please enter a value between 8 and 11 characters long."}/
                                %a.btns.btns-primary.jsGetSw{:tabindex => ""} Go 
                        .row.hidden.ext{"data-address" => ""}
                            .col-md-8
                                .field-case
                                    %label.field-name 
                                        Bank Name
                                        %span *
                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                    %input.field{:type => "text", :name => "bankName", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Bank Name.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                            .col-md-4
                                .field-case
                                    %label.field-name 
                                        Account Currency
                                        %span * 
                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                    %input.field{:type => "text", :name => "accCurrency", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Account Currency.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", :value => "USD"}/
                    .hidden{"data-address" => ""}
                        %h5.js-toggleMenu 
                            Account Holder Information
                            %i.icn-angle-down
                        .cnt
                            .row
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Account Number
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "accNumber", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Account Number.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", "data-rule-digits" => "true", "data-rule-minlength" => "9", "data-rule-maxlength" => "10",  "data-msg-minlength" => "Please enter a value between 9 and 10 characters long.", "data-msg-maxlength" => "Please enter a value between 9 and 10 characters long."}/
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Full Name
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "fullName", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Full Name.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Account Type 
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %select.field.js-select{:name => "accType", :required => "true", "data-msg-required" => "Please select Account Type.",}
                                            %option{:value => ""} Select One... 
                                            %option{:value => "Checking"} Checking 
                                            - (1..50).each do |i|
                                                %option{:value => "Select item #{i}"} Select item #{i}
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Name of Account
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "nameAcc", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Name of Account.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Address
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "address", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your Address.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please"}/         
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Your location
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:autocomplete => "off", :type => "text", :name => "location",  :required => "true", 'data-msg-required' => "Please enter your location"}/
                                .col-md-4
                                    .field-case
                                        %label.field-name 
                                            Phone
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "tel", :name => "phone", :placeholder => "Enter your phone.", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/
                        .field-case
                            %label.check-case
                                %input{:type => "checkbox", :name => "attest", :checked => "", :required => "true", "data-msg-required" => "Please check this field",}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                .check-name 
                                    I attest that I am the owner and have full authorization to this bank account
                        .greybox
                            %strong Please double-check your account information! 
                            %br/
                            Incorrect or mismatched account name and number can result in withdrawal delays and fees.
                    
                        %input.btns.btns-primary{:disabled => "", :type => "submit", :value => "Add Account", :disabled => ""}/ 
                        %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel 