.sitePager
    %a.sitePager__item{:href => "https://google.com", :title => "CTRL+Left"}
        %i.icn-arr-left
    - (1..4).each do |i|
        - if i == 3
            %a.sitePager__item.active{:href => ""} #{i}
        - elsif i == 2 || i == 4
            %a.sitePager__item.hide-mobile{:href => ""} #{i}
        - else
            %a.sitePager__item{:href => ""} #{i}
    %a.sitePager__item{:href => ""} ...
    %a.sitePager__item{:href => ""} 186
    %a.sitePager__item{:href => "https://facebook.com", :title => "CTRL+Right"}
        %i.icn-arr-right