.payment__head
    .payment__tab
        .field-case
            %select.field.js-select.js-change
                - if $page == 'statistics'
                    %option{:selected => "", :value => "Statistics"} Statistics
                    %option{:value => "Withdrawal Request"} Withdrawal Request
                    %option{:value => "Payment Preferences"} Payment Preferences
                - elsif $page == 'withdrawal'
                    %option{:value => "Statistics"} Statistics
                    %option{:selected => "", :value => "Withdrawal Request"} Withdrawal Request
                    %option{:value => "Payment Preferences"} Payment Preferences
                - else
                    %option{:value => "Statistics"} Statistics
                    %option{:value => "Withdrawal Request"} Withdrawal Request
                    %option{:selected => "", :value => "Payment Preferences"} Payment Preferences
    .row.align-items-center
        .col-xl-7
            .menuAsTab
                %a{:class => "#{$page == 'statistics' ? 'active' : ''}", :href => ""} Statistics
                %a{:class => "#{$page == 'withdrawal' ? 'active' : ''}", :href => ""} Withdrawal Request
                %a{:class => "#{$page == 'preferences' ? 'active' : ''}", :href => ""} Payment Preferences
        .col-xl-5
            .payment__balance
                Your internal balance
                %strong
                    $3700