%form.searchBy#searchBy{:action => "", "@click.stop" => "stopPrep()",}
    .searchBy__box
        %label{:for => ""} 
            %i.icn-search
            %span Find
        %input{:type => "text", :placeholder => "Ex. ballet, karate, ice-hockey, robots", "@focus" => "getCategories()", "@input" => "filterCategories()", "v-model" => "category"}/
        .searchBy__list{"v-if" => "shwoCategories", "v-cloak" => ""}
            .list
                %li{"v-for" => "(category, i) in currentCategories", ":key" => "(i+1)", "@click" => "setCategory(category.name)"}
                    %i{":class" => "'icn-'+category.icon"}
                    {{category.name}}
    .searchBy__box   
        %label{:for => ""} 
            %i.icn-map
            %span Near
        %input{:type => "text", :placeholder => "Seattle, WA", "@focus" => "getStates()", "@input" => "filterStates()", "v-model" => "state" }/
        .searchBy__list{"v-if" => "shwoStates", "v-cloak" => ""}
            %span.current{"@click" => "getLocation()"}
                %i.icn-location
                Current Location
            .listTitle RECENTLY VIEWED
            .list
                %li{"v-for" => "(state, i) in currentStates", ":key" => "(i+1)", "@click" => "setState(state.name, state.abbreviation)"}
                    {{state.name}},
                    {{ state.abbreviation}}
    .searchBy__box.ext
        %input{:type => "text", :readonly => "", "@click" => "getSelect()", "@input" => "filterCategories()", "v-model" => "option"}/
        .appearance{":class" => "{active: showSelect}"}
        .searchBy__list{"v-if" => "showSelect", "v-cloak" => ""}
            .list
                %li{"v-for" => "(option, i) in select", ":key" => "(i+1)", "@click" => "setSelect(option.name)"}
                    {{option.name}}
    %button.btns.btns-primary.searchBy__btn{:type => "submit"} 
        %i.icn-search
        %span Search