.sidebarBox
    .h4.sidebarBox__title Contacts
    .sidebarBox__item
        %i.icn-phone
        %span 
            %a.link.link-default{:href => "tel:8005093954"} (800) 509-3954
    .sidebarBox__item
        %i.icn-link
        %span
            %a.link.link-primary{:href => ""} www.adventureout.com
    .sidebarBox__item
        %i.icn-email
        %span
            %a.link.link-primary{:href => "mailto:info@adventureout.com"} info@adventureout.com


.sidebarBox
    .h4.sidebarBox__title Social networks and links
    .sidebarBox__social
        %a{:href => ""}
            %i.icn-facebook
        %a{:href => ""}
            %i.icn-twitter
        %a{:href => ""}
            %i.icn-instagram    
        %a{:href => ""}
            %i.icn-website  

.sidebarBox
    .h4.sidebarBox__title Addresses
    .sidebarBox__item.ext
        %i.icn-map
        %span
            2839 NW Market St, Seattle, WA 98107
            %br/
            %a.link.link-primary.js-showCoMapModal{:tabindex => "", "data-info" => '[ { "type": "FeatureCollection", "features": [ { "type": "Feature", "properties": { "id": "ak16994521", "message": { "title": "Adventure Out 1", "address": "175 Hilpert Square Apt. 059" } }, "geometry": { "type": "Point", "coordinates": [ -100.017, 45.457 ] } } ] } ]'} Show on the Map
    .sidebarBox__item
        %i.icn-map
        %span
            2839 NW Market St, Seattle, WA 98107
            %br/
            %a.link.link-primary.js-showCoMapModal{:tabindex => "", "data-info" => '[ { "type": "FeatureCollection", "features": [ { "type": "Feature", "properties": { "id": "ak16994521", "message": { "title": "Adventure Out 2", "address": "175 Hilpert Square Apt. 059" } }, "geometry": { "type": "Point", "coordinates": [ -100.017, 45.457 ] } } ] } ]'} Show on the Map
    .sidebarBox__item
        %i.icn-phone
        %span 
            %a.link.link-default{:href => "tel:8005093954"} (800) 509-3954
    .sidebarBox__item
        %i.icn-email
        %span
            %a.link.link-primary{:href => "mailto:info@adventureout.com"} info@adventureout.com
    %a.more{:href => ""} Show more addresses
.sidebarBox
    .h4.sidebarBox__title Categories
    .sidebarBox__item
        %i.icn-categories
        %span 
            %a.link.link-default{:href => ""} Before & After School Programs
    .sidebarBox__item
        %i.icn-categories
        %span 
            %a.link.link-default{:href => ""} Camps
.sidebarBox
    .h4.sidebarBox__title FAQ
    .sidebarBox__item
        %a.link.link-primary{:tabindex => "", "data-target" => "#questionModal", "data-toggle" => "modal"}
            %i.icn-comments
            Ask a question