.sidebarMenu
    %h2.sidebarMenu__title.ext.cogs
        %a.cog{:href => ""}
            %i.icn-cog
        John Snow
    %ul.sidebarMenu__list
        %li
            %a{:href => ""}
                Dashboard
        %li
            %a{:href => ""}
                Ebrollments
        %li
            %a{:href => ""}
                Wish List
        %li
            %a{:href => ""}
                Browsing History
        %li
            %a{:href => ""}
                Reviews
.sidebarMenu
    %h3.sidebarMenu__title.ext Control
    %ul.sidebarMenu__list
        %li.active
            %span
                Kids
        %li
            %a{:href => ""}
                Orders
                .count 3
        %li
            %a{:href => ""}
                Companies
        %li
            %a{:href => ""}
                Classes and Events
                .count 3
        %li
            %a{:href => ""}
                Reviews
        %li
            %a{:href => ""}
                Adventisement and Promotion
    %hr.bord/
.sidebarMenu
    %h3.sidebarMenu__title.ext Settings
    %ul.sidebarMenu__list
        %li
            %a{:href => ""}
                Profile Settings
        %li
            %a{:href => ""}
                Profile Permissions
        %li
            %a{:href => ""}
                Social Network Connection
        %li
            %a{:href => ""}
                Notification Preferences
    %hr.bord/
.sidebarMenu
    %h3.sidebarMenu__title.ext Finances
    %ul.sidebarMenu__list
        %li
            %a{:href => ""}
                Statistic
        %li
            %a{:href => ""}
                Withdrawal Request
        %li
            %a{:href => ""}
                Payment Preferences
        %li
            %a{:href => ""}
                Notification Preferences
    %hr.bord/
.sidebarMenu
    %ul.sidebarMenu__list
        %li
            %a{:href => ""}
                Sign Out
                
    
