.addCompanyLocation
    position: relative
    font-size: 14px
    margin-bottom: 30px
    @media(min-width: 768px)
        padding-right: 200px
    .control
        position: absolute
        top: 0
        right: 0
        a
            margin-left: 15px
        @media(max-width: 767px)
            position: static
            a
                margin-left: 0
                margin-right: 15px
    .state
        display: block
        margin-bottom: 5px
    .address
        display: block
        margin-bottom: 5px
        font-size: 14px
        color: #81838C
    .addCompany__check
        margin-top: 10px
    .info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        a
            margin-right: 10px
            margin-left: 5px
    .icn-info-solid
        margin-left: 10px
        color: #81838C
        width: auto
        display: inline-block
        position: relative
        top: 2px
        font-size: 12px


.addCompany
    .resetButton
        height: 0
        width: 0
        position: absolute
        left: -99999px
    &__toggleContent
        @media(max-width: 767px)
            height: 0
            overflow: hidden
    &__title
        margin-top: 50px

        @media(max-width: 767px)
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            margin-top: 30px
        
        i
            margin-left: auto
            color: #81838C
            font-size: 14px
        &.open
            i
                transform: rotate(180deg)
            & + .addCompany__toggleContent
                overflow:  visible
                height:  auto  
        @media(min-width: 768px)
            pointer-events: none
            i
                display: none

        &.ext
            margin-bottom: 10px
        &.ext2
            margin-top: 0 

    &__add
        text-align: right
        margin-top: -60px      
        margin-bottom: 30px 
        @media(max-width: 767px)
            margin-top: 0   
            .btns
                width: 100%
                display: block  
                text-align: center  
    &__subtitle
        color: #272727
        font-size: 14px
        margin-bottom: 24px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        line-height: 1
        &.ext
            margin-bottom: 15px
            margin-top: 15px
            width: 100%
            
        i
            margin-left: 10px
            color: #81838C
            font-size: 12px
    [data-next]
        display: none
    textarea
        line-height: 1.1
    &__bnts
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 50px
        @media(max-width: 767px)
            text-align: center
            display: block
        .btns
            width: 100%
            max-width: 160px
            @media(max-width: 767px)
                max-width: 100%
        .remove
            color: #E15554
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            font-size: 14px
            @media(max-width: 767px)
                justify-content: center 
                margin-top: 30px
            i
                font-size: 11px
                margin-right: 10px
                position: relative
                top: 2px
    &__img
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        flex-direction: column
        margin-bottom: 20px
        @media(max-width: 991px) and (min-width: 768px)
            flex-direction: row
        .img
            width: 100%
            @media(max-width: 991px)
                width: 180px
                margin-bottom: 0
            @media(max-width: 767px)
                width: 100%
                max-width: 180px
            .placeholder
                @media(max-width: 991px) and (min-width: 768px)
                    margin-bottom: 0
            img
                width: 100%
                
                display: block
                @media(max-width: 991px) and (min-width: 768px)
                    margin-bottom: 0
                & + .placeholder
                    display: none
            .error
                font-size: 12px
                color: #f00
                min-height: 25px
                padding: 2px 0 4px
                display: block
        .btns
            margin-bottom: 10px
            @media(max-width: 991px)
                width: 180px
                margin-bottom: 0
                margin: 0 20px
            @media(max-width: 767px)
                margin: 0 0 10px 0
                width: 100%
        input
            position: absolute
            left: -9999px
    &__max
        color: #81838C
        font-size: 13px
        margin-bottom: 20px
        position: relative
        top: -15px
    &__check
        min-height: 1px
        margin-bottom: 15px
        &.ext
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            margin-right: 54px
        .check-name
            font-size: 14px
    &__edit
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        align-items: center
        color: #81838C
        font-size: 14px
        @media(max-width: 767px)
            height: 41px 
            width: 41px
            border: 1px solid #E5E5E5  
            border-radius: 2px
            font-size: 0
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            justify-content: center
            i
                margin-right: 0

        &:hover, &:active
            color: #81838C
        i
            margin-right: 7px
            font-size: 12px
    &__remove
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        align-items: center
        color: #E15554
        font-size: 14px
        @media(max-width: 767px)
            height: 41px 
            width: 41px
            border: 1px solid #E5E5E5  
            border-radius: 2px
            font-size: 0
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            justify-content: center
            i
                margin-right: 0

        &:hover, &:active
            color: #E15554
        i
            margin-right: 7px
            font-size: 12px
    &__heads
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-top: 50px
        margin-bottom: 30px
        .addCompany__title
            margin-bottom: 0
            margin-top: 0
            margin-right: auto
    &__waivers
        .addDoc
            display: none
            

.addCompanySocLink
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    margin-bottom: 30px
    @media(max-width: 767px)
        flex-wrap: wrap
    & > [class^="icn-"]:first-child
        font-size: 30px
        flex: 0 0 30px
        margin-right: 11px
    .icn-facebook
        color: #4460A0
    .cnt
        flex: 1 1 auto
        line-height: 1
        .title
            font-size: 14px
        .link
            font-size: 14px
            font-weight: bold
    .control
        margin-left: auto
        a
            margin-left: 10px
        @media(max-width: 767px)
            width: 100%
            margin-top: 30px
            a
                margin-left: 0
                margin-right: 15px

.addCompanyDoc
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    margin-bottom: 30px
    @media(max-width: 767px)
        flex-wrap: wrap
    .icn-facebook
        color: #4460A0
    .cnt
        flex: 1 1 auto
        line-height: 1
        .title
            font-size: 14px
        .link
            font-size: 14px
            font-weight: bold
    .control
        margin-left: auto
        a
            margin-left: 10px
        @media(max-width: 767px)
            width: 100%
            margin-top: 30px
            a
                margin-left: 0
                margin-right: 15px


.uploadFileBox
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    input
        width: 0px
        height: 0px
        overflow: hidden
    .name
        margin-left: 10px