.bfh-timepicker-popover
    width: 290px
    .table
        width: 100%
        td
            padding: 5px
        .separator
            padding-left: 0
            padding-right: 0
        .input-group
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            .field
                height: 30px
                width: 30px
                padding: 0
                text-align: center
            .bfh-selectbox-toggle.field
                padding: 0
            .input-group-addon
                user-select: none
                width: 25px
                height: 30px
                //background: #f00
                &:last-child
                    border-left: 0
                    border-radius: 0 2px 2px 0
                border: 1px solid #e5e5e5
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                justify-content: center
                & > .glyphicon-chevron-up
                    height: auto

                    &:before
                        margin: 0
                        display: block
                        border: 5px solid #000
                        content: ''
                        border-top: none
                        border-left-color: transparent
                        border-right-color: transparent


                & > .glyphicon-chevron-down
                    height: auto

                    &:before
                        margin: 0
                        display: block
                        border: 5px solid #000
                        content: ''
                        border-bottom: none
                        border-left-color: transparent
                        border-right-color: transparent

    .bfh-selectbox-toggle  
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        height: 30px
        align-items: center
        padding: 0 5px
        width: 55px
        .caret.selectbox-caret
            margin: 0
            margin-left: 5px
            display: block
            border: 5px solid #000
            content: ''
            border-bottom: none
            border-left-color: transparent
            border-right-color: transparent
    .bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option
        display: inline-block
        float: left
        width: auto
        height: auto
        overflow: visible
        text-overflow: ellipsis
    .bfh-selectbox .bfh-selectbox-options ul
        margin: 0
        padding: 0
        li
            margin-bottom: 0
    
    

.addEventLocation
    position: relative
    font-size: 14px
    margin-bottom: 30px
    @media(min-width: 768px)
        padding-right: 200px
    .control
        position: absolute
        top: 0
        right: 0
        a
            margin-left: 15px
        @media(max-width: 767px)
            position: static
            a
                margin-left: 0
                margin-right: 15px

    .state
        display: block
        margin-bottom: 5px
    .address
        display: block
        margin-bottom: 5px
        font-size: 14px
        color: #81838C
    .addEvent__check
        margin-top: 10px
    .info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        a
            margin-right: 10px
            margin-left: 5px
    .icn-info-solid
        margin-left: 10px
        color: #81838C
        width: auto
        display: inline-block
        position: relative
        top: 2px
        font-size: 12px


.addEvent
    .filterSidebar__range
        margin: 0 2px 0 9px
    .resetButton
        height: 0
        width: 0
        position: absolute
        left: -99999px
    &__toggleContent
        @media(max-width: 767px)
            height: 0
            overflow: hidden
    &__title
        margin-top: 50px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 767px)
            margin-top: 30px
        .icn-info-solid
            font-size: 12px
            margin-left: 10px
            color: #81838C
            pointer-events: auto
            position: relative
            top: 1px
        .icn-angle-down
            margin-left: auto
            color: #81838C
            font-size: 14px
        &.open
            .icn-angle-down
                transform: rotate(180deg)
            & + .addEvent__toggleContent
                overflow:  visible
                height:  auto  
        @media(min-width: 768px)
            pointer-events: none
            .icn-angle-down
                display: none

        &.ext
            margin-bottom: 10px
        &.ext2
            margin-top: 0 

    &__add
        text-align: right
        margin-top: -60px      
        margin-bottom: 30px 
        @media(max-width: 767px)
            margin-top: 0   
            .btns
                width: 100%
                display: block  
                text-align: center  
    &__subtitle
        color: #272727
        font-size: 14px
        margin-bottom: 24px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        line-height: 1
        &.ext
            margin-bottom: 15px
            margin-top: 15px
            width: 100%
            
        i
            margin-left: 10px
            color: #81838C
            font-size: 12px
    [data-next]
        display: none
    
    textarea
        line-height: 1.1
    &__bnts
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 50px
        @media(max-width: 767px)
            text-align: center
            display: block
        .btns
            width: 100%
            max-width: 160px
            @media(max-width: 767px)
                max-width: 100%
        .remove
            color: #E15554
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            font-size: 14px
            @media(max-width: 767px)
                justify-content: center 
                margin-top: 30px
            i
                font-size: 11px
                margin-right: 10px
                position: relative
                top: 2px
    &__max
        color: #81838C
        font-size: 13px
        margin-bottom: 20px
        position: relative
        top: -15px
    &__check
        .check-name
            .icn-info-solid
                display: inline-block
                font-size: 12px
                margin-left: 10px
                color: #81838C
                pointer-events: auto
                position: relative
                top: 1px
    &__locations
        .loader-circle
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            width: 100%
            height: 100%
            background-color: #fff
            z-index: 129

    &__edit
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        align-items: center
        color: #81838C
        font-size: 14px
        @media(max-width: 767px)
            height: 41px 
            width: 41px
            border: 1px solid #E5E5E5  
            border-radius: 2px
            font-size: 0
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            justify-content: center
            i
                margin-right: 0

        &:hover, &:active
            color: #81838C
        i
            margin-right: 7px
            font-size: 12px
    &__remove
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        align-items: center
        color: #E15554
        font-size: 14px
        @media(max-width: 767px)
            height: 41px 
            width: 41px
            border: 1px solid #E5E5E5  
            border-radius: 2px
            font-size: 0
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            justify-content: center
            i
                margin-right: 0

        &:hover, &:active
            color: #E15554
        i
            margin-right: 7px
            font-size: 12px
    &__photos
        margin: 0 -15px
        font-size: 0
        .photo
            display: inline-block
            vertical-align: top
            position: relative
            width: calc(20% - 30px)
            margin: 0 15px 30px
            @media(max-width: 991px)
                width: calc(33.33333% - 30px)

            &:after
                display: block
                padding: 50% 0
                content: ''
            img
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                //display: none
            i
                position: absolute
                color: #fff
                top: 10px
                right: 10px
                font-size: 11px
                text-shadow: 1px 1px 3px rgba(0,0,0,0.5)
                cursor: pointer
                opacity: 0

            a.main
                background-color: #FF5E1C
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                text-align: center
                color: #fff
                font-size: 12px
                padding: 5px
                opacity: 0
            &:hover
                i, a.main    
                    opacity: 1
        .photoAdd
            width: calc(20% - 30px)
            margin: 0 15px
            border: 2px solid #FF5E1C
            position: relative
            display: inline-block
            @media(max-width: 991px)
                width: calc(33.33333% - 30px)
            &:after
                display: block
                padding: 50% 0
                content: ''
            span
                top: 0
                left: 0
                width: 100%
                height: 100%
                color: #FF5E1C
                font-size: 100px
                font-weight: bold
                position: absolute
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                justify-content: center
                @media(max-width: 767px)
                    font-size: 50px
            input
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                cursor: pointer
                opacity: 0
                z-index: 99
    &__schedule
        border: 1px solid #E5E5E5
        padding: 20px 30px
        font-size: 14px
        margin-bottom: 20px
        position: relative
        @media(max-width: 767px)
            padding: 15px
        .btnsBlock
            position: absolute
            top: 20px
            right: 20px
            @media(max-width: 767px)
                position: static
            a
                margin-left: 20px
            .addEvent__edit.ext
                margin-left: auto
        .head
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            margin-bottom: 20px
            h4
                margin-bottom: 0
                margin-right: 20px
            
        .status
            @media(max-width: 767px)
                span
                    display: block
            .link
                margin-left: 20px
                font-weight: bold
                user-select: none
                @media(max-width: 767px)
                    margin-left: 0
                    margin-top: 5px
        .per
            text-align: right
            font-size: 18px
            @media(max-width: 767px)
                text-align: left
                margin: 20px 0
            del, strong
                line-height: 18px
            del
                color: #81838C
                margin-right: 6px
            span
                display: block
                font-size: 14px
                color: #81838C
                line-height: 1
        .statusPre
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 15px
            @media(max-width: 767px)
                display: block
        .props
            font-size: 12px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: flex-start
            flex-wrap: wrap
            justify-content: space-between
            @media(max-width: 767px)
                justify-content: flex-start
            .prop
                @media(max-width: 767px)
                    width: 50%
                    &:first-child
                        margin-right: 0
                        width: 100%
                        margin-bottom: 10px
        .prop
            font-size: 12px
            .name
                color: #81838C
                text-transform: uppercase
                font-weight: bold
                display: block
            .val
                margin-left: 0px
        .bottBar
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            margin-top: 15px
            @media(max-width: 767px)
                display: block
            p
                margin-bottom: 0
                padding-right: 40px
                flex: 1 1 auto
                @media(max-width: 767px)
                    padding-right: 0
            .prop
                flex: 0 0 auto
                @media(max-width: 767px)
                    margin: 20px 0
    .scheduleBlock
        border: 1px solid #e3e3e3
        padding: 0 15px
        margin-bottom: 30px
    .timeCount
        background: none
        border: none
        width: 1px
        position: absolute
        left: -9999px
        height: 1px
    .timesBlock
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        border-top: 1px solid #e3e3e3
        margin: 0 -15px
        .item
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            font-size: 14px
            font-weight: bold
            padding: 5px 10px
            background: #fff
            border: 1px solid #ff5e1c
            cursor: pointer
            width: 25%
            color: #ff5e1c
            @media(max-width: 991px)
                width: 33.33% 
            @media(max-width: 767px)
                width: 50%
            input
                width: 100%
                border: none
                text-align: center
                background: none
                color: #ff5e1c
                pointer-events: none
            i
                font-size: 10px
                cursor: pointer
            &.active
                background: #ff5e1c
                input, i
                    color: #fff
        .buttonAddTime
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            padding: 0 10px
            font-weight: bold
            font-size: 14px
            width: 25%
            color: #ff5e1c
            height: 33px
            cursor: pointer
            @media(max-width: 991px)
                width: 33.33%
            @media(max-width: 767px)
                width: 50%

    .dayAll
        margin : 0 -15px
        padding: 15px
        border-bottom: 1px solid #e3e3e3
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-end
        justify-content: space-between
        flex-wrap: wrap
        @media(max-width: 991px)
            justify-content: flex-start
        .title
            margin-bottom: 5px
            display: block
            font-size: 14px
            width: 100%
            font-weight: normal
        .bord
            height: 15px
            width: 1px
            background: #000
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            @media(max-width: 991px)
                width: 100%
                background: none
            
        .days
            font-size: 14px
            @media(max-width: 991px)
                margin-right: 30px
            .name
                width: 100%
                margin-bottom: 3px
                text-align: center
                font-weight: bold
                font-size: 12px
                display: block
            .on, .off
                border: 1px solid #ccc
                width: 15px 
                height: 15px
                display: -webkit-inline-flex
                display: -moz-inline-flex
                display: -ms-inline-flex
                display: -o-inline-flex
                display: inline-flex
                vertical-align: middle
                align-items: center
                justify-content: center
                margin-left: 3px
                cursor: pointer
            .on
                margin-left: 0
                &:after
                    width: 7px 
                    height: 7px
                    display: block
                    background: #ff5e1c
                    content: ''
    .calendarBox
        text-align: center
        margin-bottom: 30px
        .pickmeup
            margin: 0 -15px
            background: #fff
            width: 100%
            .pmu-instance 
                width: 33.33%
                padding: 15px
                @media(max-width: 767px)
                    width: 50%
                @media(max-width: 480px)
                    width: 100%
                nav:first-child
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    width: 100%
                    text-transform: uppercase
                    .pmu-month
                        color: #81838C
                        font-size: 12px
                        flex: 1 1 auto
                    .pmu-next,
                    .pmu-prev
                        color: #81838C
                        font-size: 12px
                        width: 14.28%
                        flex: 0 0 14.28%
                        text-align: center
                        display: none
                .pmu-days
                    .pmu-button
                        font-size: 14px
                        color: #272727
                        width: 14.28%
                        padding: 5px 0
                        text-align: center
                        &.pmu-today
                            background: none
                        &.pmu-disabled
                            opacity: 0.5
                            cursor: not-allowed
                        &.pmu-not-in-month
                            opacity: 0
                            pointer-events: none
                        &.pmu-sunday,
                        &.pmu-saturday
                            color: #5642AB

                        &.pmu-selected 
                            background: #ccc4de
                .pmu-day-of-week
                    font-size: 12px
                    margin-bottom: 4px
                    div
                        text-transform: uppercase
                        text-align: center
                        width: 14.28%
                        &:first-child,
                        &:last-child
                            color: #5642AB
                        .week
                            margin: 0 auto
                            border: 1px solid #ccc
                            width: 15px 
                            height: 15px
                            display: -webkit-flex
                            display: -moz-flex
                            display: -ms-flex
                            display: -o-flex
                            display: flex
                            align-items: center
                            justify-content: center
                            cursor: pointer
                            display: none
                            &:after
                                width: 7px 
                                height: 7px
                                display: block
                                background: #ff5e1c
                                content: ''

.addEventSocLink
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    margin-bottom: 30px
    @media(max-width: 767px)
        flex-wrap: wrap
    & > [class^="icn-"]:first-child
        font-size: 30px
        flex: 0 0 30px
        margin-right: 11px
    .icn-youtube
        color: #ff0000
    .icn-facebook
        color: #4460A0
    .cnt
        flex: 1 1 auto
        line-height: 1
        .title
            font-size: 14px
        .link
            font-size: 14px
            font-weight: bold
    .control
        margin-left: auto
        a
            margin-left: 10px
        @media(max-width: 767px)
            width: 100%
            margin-top: 30px
            a
                margin-left: 0
                margin-right: 15px

.uploadFileBox
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    input
        width: 0px
        height: 0px
        overflow: hidden
    .name
        margin-left: 10px