.addKids
    &__title
        margin-bottom: 0
        flex: 1 1 auto
        margin-right: auto
        @media(max-width: 991px)
            margin-bottom: 50px
    &__add
        flex: 0 0 160px
        margin-left: 30px
        @media(max-width: 991px)
            margin-left: 0
        @media(max-width: 767px)
            display: block
            width: 100%
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 50px
        @media(max-width: 991px)
            display: block
            margin-bottom: 30px
    &__btn
        min-width: 160px
        @media(max-width: 767px)
            width: 100%
            display: block
    &__list
    &__listItem
        position: relative
        margin-bottom: 30px
        padding-bottom: 30px
        border-bottom: 1px solid #E5E5E5
        .name
            color: #272727
            font-size: 18px
            font-family: $mont
            font-weight: bold
            display: inline-block
            vertical-align: middle
            @media(max-width: 767px)
                margin-bottom: 10px
                display: block
                padding-right: 80px
        .old
            font-size: 14px
            color: #81838C
            display: inline-block
            vertical-align: middle
        .interests
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            flex-wrap: wrap
            margin-top: 15px
            width: 100%
            span
                margin: 5px 10px 5px 0
                font-size: 14px
            .tag
                margin: 5px 10px 5px 0
        .edit
            top: 0
            right: 0
            position: absolute
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            color: #81838C
            i
                margin-right: 10px
