.browsHisItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    @media(max-width: 767px)
        display: block
        position: relative
    &__img
        width: 90px
        flex: 0 0 90px
        margin-right: 30px
        display: block
        @media(max-width: 767px)
            margin-right: 0
            width: 100%
            max-width: 90px
            margin-bottom: 20px
        img
            display: block
            width: 100%
    &__content
        
        flex: 1 1  auto
        margin-right: auto
        padding-right: 15px
        @media(max-width: 767px)
            padding-right: 0
        .link
            font-weight: bold
    .icn-close, .icn-favorite
        font-size: 11px
        color: #83858E
        cursor: pointer
        @media(max-width: 767px)
            position: absolute
            right: 0
            top: 27px
    .icn-favorite
        color: #ff5e1c
        font-size: 15px

    &__title
        margin-bottom: 5px
        a
            color: #272727

.browsHis
    &__list
        margin-bottom: 50px