.category
    border: 1px solid #E5E5E5
    padding: 50% 0
    margin-bottom: 30px
    display: block
    position: relative
    &__link
        position: absolute
        left: 0px
        bottom: 0px
        right: 0px
        top: 0
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        
        background: #fff
        
    &__icon
        flex: 1 1 50%
        min-height: 50%
        overflow: hidden
        
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-end
        justify-content: center


        img
            width: 100%
            max-width: 50%
            max-height: 60%

        
    &__name
        
        flex: 1 1 50%
        margin: 10px 0
        overflow: hidden
        
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        
        color: #272727  
        font-family: $mont
        font-weight: bold
        font-size: 18px 
        text-align: center
        padding: 0 10px

        @media(max-width: 991px)
            font-size: 16px
        @media(max-width: 767px)
            font-size: 10px
        &.small
            text-transform: uppercase
            font-size: 14px
            @media(max-width: 767px)
                font-size: 11px
    
    &:hover
        border: 1px solid #FF5E1C
        .category__name 
            color: #FF5E1C