.checkout
    .link
        font-weight: bold
    
    .field-name.passName
        .link.link-primary
            color: #ff5e1c
            margin-left: auto 
        i
            margin-left: 5px 
    .paymentCheck
        position: absolute
        left: -9999px
    .alert
        a
            color: #155724
            text-decoration: underline
    .hidden
        display: none
    
    &__subtitle
        margin-bottom: 10px
    &__address
        margin-bottom: 30px
        margin-top: 10px
        color: #81838C
        font-size: 14px
        .link 
            margin-left: 20px
    &__smalltitle 
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        a
            color: #272727
        .badges
            margin-left: 20px
    &__prop
        margin-bottom: 18px
        max-width: 45%
        @media(max-width: 767px)
            max-width: none
            &:nth-child(1),
            &:nth-child(2)
                flex-basis: 50%
        .name
            color: #81838C
            text-transform: uppercase
            font-weight: bold
            display: block
        .val
            margin-left: 0px
        
    &__props
        font-size: 12px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
        max-width: 600px
        
    &__info
        position: relative
        border: 1px solid #E5E5E5
        //padding: 20px 60px 20px 20px
        padding: 20px
        margin-bottom: 32px
        @media(max-width: 767px)
            //padding: 20px 20px 60px 20px
        .after
            width: 40px
            border-left: 1px solid #E5E5E5
            position: absolute
            top: 1px
            right: 1px
            bottom: 1px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            @media(max-width: 767px)
                left: 1px
                top: auto
                height: 40px
                width: auto
                border-top: 1px solid #E5E5E5
                border-left: none
            &:after
                content: ''
                border-top: 5px solid #32373D
                border-left: 5px solid transparent
                border-right: 5px solid transparent
        p
            margin-bottom: 0
            font-size: 14px
        .list
            position: absolute
            top: 100%
            background: #fff
            border: 1px solid #E5E5E5
            border-top: none
            z-index: 100
            transition: opacity 150ms linear
            opacity: 0
            right: auto
            left: -9999px
            height: 366px
            overflow-y: auto
            .item

                position: relative
                padding: 18px 20px 0 20px
                border-top: 1px solid #E5E5E5
                &:hover
                    background: #e5e5e5
                p
                    display: none
                input
                    left: 0
                    top: 0
                    cursor: pointer
                    width: 100%
                    height: 100%
                    //opacity: 1
        &.active
            .after:after
                transform: rotate(180deg)
            .list
                opacity: 1
                left: -1px
                right: -1px
                
    &__stepTitle
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 0
        opacity: 0.5
        transition: opacity 150ms linear
        pointer-events: none
        cursor: pointer
        i
            color: #81838C
            font-size: 14px
    &__stepBody
        transition: opacity 150ms linear
        height: 0
        overflow: hidden
        opacity: 0

    &__step
        border-bottom: 1px solid #E5E5E5
        padding-bottom: 30px
        margin-bottom: 30px
        position: relative

        .infoInput
            color: #81838C
            font-size: 14px
            font-weight: bold
            margin-bottom: 15px
        .btnsBox
            text-align: right
            .btns
                width: 160px
        .paypal,
        .stripe
            display: none
        &.active
            .checkout__stepTitle
                opacity: 1
                pointer-events: auto
        &.show
            .checkout__stepTitle
                margin-bottom: 30px
                i
                    transform: rotate(180deg)
            .checkout__stepBody
                height: auto
                overflow: visible
                opacity: 1
        &.step1
            .checkout__stepBody
                height: auto
                overflow: visible
                opacity: 1
        .loader-circle
            background-color: #fff
            position: absolute
            z-index: 1011
            top: 0
            left: 0
            width: 100%
            height: 100%
    &__kids
        .link-primary
            margin-top: 20px
            display: inline-block
            i
                position: relative
                top: 1px
            &:hover
                text-decoration: none
        .alert
            display: none
        .item
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            .check-case
                min-height: 1px
                flex-basis: auto
                .check-name
                    white-space: nowrap
            .old
                color: #81838C
                font-size: 14px
                margin-left: 10px
            .link
                margin-left: 53px
                i
                    display: inline-block
                    align-items: center
                    position: relative
                    top: 1px
                    font-size: 13px
                    margin-top: 2px
                &:hover
                    text-decoration: none
    &__checkCase
        align-items: center
        .field-radio
            margin-top: 0
        [class^="icon-"]
            display: block
    &__payinfo
        background-color: #F0F4F7
        padding: 20px
        margin-top: 30px
        strong
            display: block
            margin-bottom: 15px
        ul
            margin-bottom: 0
            li:last-child
                margin-bottom: 0
    &__comment
        margin-top: 30px
        p
            font-size: 14px
            margin-bottom: 10px
        .field-name
            margin-bottom: 0px
        .field
            height: 35px
            &.active
                height: 120px
    &__botBar
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        @media(max-width: 767px)
            flex-wrap: wrap
        .btns
            margin-left: 30px
            flex: 0 0 auto
            @media(max-width: 767px)
                flex: 1 1 auto
                width: 100%
                margin-left: 0
        p
            flex: 1 1 auto
            color: #81838C
            text-align: right
            @media(max-width: 767px)
                flex: 1 1 auto
                width: 100%
            .link
                font-weight: normal
                text-decoration: underline
    &__leftBar
        margin-bottom: 30px
        @media(min-width: 992px)
            position: sticky
            top: 123px
        .h4
            margin-bottom: 25px
        .items
            border-bottom: 1px solid #E5E5E5
            margin-bottom: 15px
        .item
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: flex-start
            justify-content: space-between
            margin-bottom: 15px
            .name
                color: #81838C
                font-size: 14px
            .value
                font-size: 16px
                &.time
                    span
                        display: block
            [name="seats"]
                margin: 0
                padding: 0
                text-align: right
                border: none
                width: 30px
                font-size: 16px
                background: none
        .total
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: flex-start
            justify-content: space-between
            &.hide
                display: none
            .name
                font-size: 16px
            .value
                text-align: right
                color: #81838C
                font-size: 14px
                strong
                    display: block
                    color: #272727
                    font-size: 18px
        .text-success
            &.hide
                display: none
.checkoutContent 
    .ui-datepicker.ui-widget.ui-widget-content
        min-height: 353px
    .ui-widget-content
        border-radius: 5px
        background-color: #FFFFFF 
        box-shadow: 0 2px 5px 0
        padding: 30px 30px 20px
        box-shadow: inset 0 -1px 0 0 #ccc, 0 2px 5px 0 rgba(0,0,0,0.1)
        width: 38rem !important
        @media(max-width: 767px)
            width: 290px !important
            padding: 15px
            &:before, &:after
                display: none
        .ui-datepicker-group
            @media(max-width: 767px)
                float: none
                width: 100%
                margin: 0 auto
                max-width: 300px
        .ui-widget-header
            border-radius: 0
            background: none
            border: none
            padding: 0
            margin-bottom: 8px
            .ui-datepicker-title
                font-size: 12px
                text-transform: uppercase
                color: #81838c
                font-weight: normal
            .ui-datepicker-prev, 
            .ui-datepicker-next
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                justify-content: center
                border: none !important
                background: none !important 
                top: 0 !important
                height: 100% !important
                .ui-icon 
                    transform: rotate(45deg)
                    border: 1px solid #83858e
                    width: 8px
                    height: 8px
                    position: static
                    margin-left: 0
                    margin-top: 0
                    background: none
                &:hover
                    .ui-icon 
                        border-color: #5642ab 
                &.ui-state-disabled
                    display: none
                    background: none
            .ui-datepicker-prev
                left: 0 !important 
                .ui-icon 
                    border-right: none
                    border-top: none

            .ui-datepicker-next
                right: 0 !important
                .ui-icon 
                    border-bottom: none
                    border-left: none
        

        .ui-datepicker-calendar
            margin: 0
            th
                font-family: $lato
                font-weight: normal
                color: #81838c
                padding: 0  0 8px 0
                font-size: 12px
                &.ui-datepicker-week-end
                    color: #5642ab
            td
                    color: #272727
                    border: none
                    padding: 0
                    width: 36px
                    position: relative
                    //pointer-events: none
                    a, span
                        display: -webkit-flex
                        display: -moz-flex
                        display: -ms-flex
                        display: -o-flex
                        display: flex
                        align-items: center
                        justify-content: center
                        background: none
                        height: 41px
                        width: 100%
                        min-width: 1px
                        font-size: 14px
                        border: none
                        color: #272727
                        padding: 0
                        margin: 0
                        font-weight: normal
                        position: relative
                    .time
                        width: 128px 
                        border: 1px solid #E5E5E5  
                        border-radius: 2px
                        background-color: #FFFFFF
                        position: absolute
                        bottom: 100%
                        margin-bottom: 5px
                        color: #000
                        display: block
                        height: auto
                        display: none
                        z-index: 3
                        left: 50%
                        margin-left: -64px
                        span
                            display: block
                            margin: 5px 0
                            text-align: center
                            color: #272727 !important
                            font-size: 12px
                            height: auto
                    &:hover
                        .time
                            display: block
                    &:hover
                        background: rgba(103, 90, 132, 0.2)    
                        
                    &.ui-datepicker-week-end 
                        a, span
                            color: #5642ab
                    &.ui-state-disabled
                        cursor: not-allowed  !important
                        background: none !important
    .ui-widget-content .ui-datepicker-calendar td:not([data-type])
        pointer-events: none


