.classesEvents
    &__head
        padding-bottom: 10px
.classesEventsItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-star
    position: relative
    @media(max-width: 767px)
        display: block
    &__img
        width: 90px
        flex: 0 0 90px
        margin-right: 15px
    &__content
        flex: 1 1 auto
        padding-right: 200px 
        @media(max-width: 767px)
            padding-right: 0
    &__title
        margin-bottom: 10px
        a
            color: #272727
    &__address
        color: #81838C
        font-size: 14px
        margin-right: 15px
        display: inline-block
    .link
        font-weight: bold
        font-size: 14px
    &__props
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-top: 10px
        font-size: 12px
        margin-bottom: -10px
        @media(max-width: 1199px)
            justify-content: space-between
        @media(max-width: 767px)
            flex-wrap: wrap
        .item
            margin-right: 33px
            text-transform: uppercase
            color: #81838C
            margin-bottom: 10px
            @media(max-width: 1199px)
                margin-right: 0
            span
                text-transform: none
                color: #272727
                margin-left: 10px
            a
                margin-left: 10px
    &__rightBar
        position: absolute
        top: 0
        right: 0
        text-align: right
        width: 200px
        @media(max-width: 767px)
            position: static
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            width: auto
            margin: 20px 0
            br
                display: none
        .edit
            white-space: nowrap
            color: #81838C
            font-size: 14px
            @media(max-width: 767px)
                display: none
            i
                display: inline-block
                margin-right: 5px
                font-size: 12px
                vertical-align: middle
                position: relative
                top: 1px
        .badges2
            margin: 5px 0
            display: inline-block
        .rate
            display: inline-block
            @media(max-width: 767px)
                margin-left: auto
        .commentsCount
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            margin-left: 10px
    .btns.btns-icon 
        margin-top: 20px
        @media(min-width: 768px)
            display: none



