.companySingle
    margin-top: 30px
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin-bottom: 30px
        @media(max-width: 767px)
            display: block
            margin-bottom: 20px
    &__img
        flex: 0 0 180px
        width: 180px
        margin-right: 20px
        @media(max-width: 767px)
            display: block
            margin-right: 0
            margin-bottom: 20px
            max-width: 180px
            width: 100%
        img
            display: block
            width: 100%
    &__info
        flex: 1 1 auto
        position: relative
        .social
            position: absolute
            top: 0
            right: 0
            @media(max-width: 767px)
                position: static
                display: block
                margin-top: 10px
    &__title
        margin-bottom: 10px  
        line-height: 1.1  
    &__rate
        display: inline-block
    &__commnets
        display: inline-block
        margin-left: 15px
    &__text
        margin-bottom: 20px
    &__tags
        margin-bottom: 50px
    &__docs
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 50px
        @media(max-width: 1199px)
            justify-content: space-between
        @media(max-width: 767px)
            flex-direction: column
            align-items: flex-start
            margin-top: 0px
        .doc
            margin-right: 30px
            @media(max-width: 1199px)
                margin-right: 0
            @media(max-width: 767px)
                margin-top: 20px