.companyItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    @media(max-width: 767px)
        display: block
    &__img
        width: 180px
        flex: 0 0 180px
        margin-right: 30px
        display: block
        @media(max-width: 767px)
            margin-right: 0
            width: 100%
            max-width: 180px
            margin-bottom: 20px

        img
            display: block
            width: 100%
    &__content
        flex: 1 1  auto
    &__title
        margin-bottom: 15px
        a
            color: #272727
            &:hover
                color: #272727
    &__info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 10px
    &__events
        font-size: 12px
        color: #81838C
        margin-right: auto
        span
            color: #272727
    &__comments
        margin-left: 16px
    &__text
        margin-bottom: 20px
    &__tags
        margin-bottom: 20px
        .tag
            margin-bottom: 10px
    &__link
        margin-bottom: 30px
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        align-items: center
        font-weight: bold
        i
            margin-right: 10px
        &:hover
            text-decoration: none

    &__btn
        max-width: 160px
        @media(max-width: 767px)
            max-width: 100%
.companyBox
    height: 620px
    position: relative
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 20px
    &__img
        width: 95px
        flex: 0 0 95px
        margin-right: 20px
        display: block
        img
            display: block
            width: 100%
    &__content
        flex: 1 1  auto
    &__title
        margin-bottom: 0
        a
            color: #272727
            &:hover
                color: #272727
    &__info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 10px
    &__events
        font-size: 12px
        color: #81838C
        margin-right: auto
        span
            color: #272727
    &__comments
        margin-left: 16px
    &__text
        margin-bottom: 20px
        height: 173px
        overflow-y: auto
        margin-right: -20px
        padding-right: 15px
    &__tags
        margin-bottom: 20px
        .tag
            margin-bottom: 10px
    &__address
        height: 240px
        overflow-y: auto
        margin-right: -20px
        span
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            color: #81838C
            font-size: 14px
            margin: 15px 0
            &:first-child
                margin-top: 0
            strong
                color: #272727
            i
                margin-right: 13px
    .slimScrollDiv
        margin-right: -15px
        padding-right: 15px
        .companyBox__address
            margin-left: 0
    &__btn
        position: absolute
        bottom: 0
        left: 0
        width: 100%
.companyProf
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    @media(max-width: 767px)
        display: block
    &__img
        width: 180px
        flex: 0 0 180px
        margin-right: 30px
        display: block
        @media(max-width: 767px)
            margin-right: 0
            width: 100%
            max-width: 180px
            margin-bottom: 50px

        img
            display: block
            width: 100%
    &__content
        flex: 1 1  auto
        position: relative

    &__title
        margin-bottom: 10px
        a
            color: #272727
    &__text
        margin-bottom: 15px
    .link
        font-weight: bold
        @media(max-width: 767px)
            margin-bottom: 30px
            display: block
        i
            display: inline-block
            vertical-align: middle
            margin-right: 10px
            position: relative
        & + .link
            margin-left: 30px
            @media(max-width: 767px)
                margin-left: 0
    &__action
        position: absolute
        top: 0
        right: 0
        @media(max-width: 767px)
            position: static
        .edit, .remove
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            color: #81838C
            @media(max-width: 767px)
                border: 1px solid #E5E5E5 
                border-radius: 2px
                width: 41px
                height: 41px
                justify-content: center
            i
                margin-right: 7px
                font-size: 12px
                @media(max-width: 767px)
                    margin-right: 0
            @media(max-width: 767px)
                span
                    display: none
        .remove
            color: #E15554
            margin-left: 24px
            @media(max-width: 767px)
                margin-left: 10px
            
