.contact
    &__btn
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: flex-end
        align-items: flex-start
        @media(max-width: 767px)
            flex-direction: column
        p
            text-align: right
            flex: 1 1 auto
            color: #81838C
            font-size: 14px
            @media(max-width: 767px)
                width: 100%
                text-align: left
            a
                text-decoration: underline
        .btns
            flex: 0 0 160px
            margin-left: 20px
            @media(max-width: 767px)
                width: 100%
                flex: 1 1 auto
                margin-left: 0
                order: -1
                margin-bottom: 20px