.dashboard
    .box
        border: 1px solid #E5E5E5
        background-color: #FFFFFF

    &__history
        height: 100%
        padding: 20px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        h4
            margin-bottom: 10px
        .linkList
            a
                display: block
                margin: 10px 0
                color: #272727
                font-size: 14px
        .bottomBar
            margin: auto -20px -20px
            border-top: 1px solid #E5E5E5
            text-align: center
            padding: 10px

            .link
                font-weight: bold

    .snapshots
        margin: 0 -15px -30px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        @media(max-width: 767px)
            margin-bottom: 0
    .snapshot
        margin: 0 15px
        width: calc(33.3333% - 30px)
        color: #000
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        flex-direction: column
        min-height: 100%
        height: 150px
        margin-bottom: 30px
        @media(max-width: 1199px)
            width: calc(50% - 30px)
        &:hover
            border-color: #FF5E1C
        strong
            height: 50%
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: flex-end
            justify-content: center
            font-size: 30px
            font-family: $mont
        span
            height: 50%
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: flex-start
            justify-content: center
            text-align: center
            color: #81838C
            font-size: 14px 
            padding: 10px 
    &__guides
        padding-top: 45px
        .guides
            margin: 0 -15px -30px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            flex-wrap: wrap
            .guide
                margin: 0 15px
                width: calc(33.3333% - 30px)
                padding: 40px 20px
                position: relative
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                flex-direction: column
                margin-bottom: 30px
                @media(max-width: 1199px)
                    width: calc(50% - 30px)
                @media(max-width: 767px)
                    width: calc(100% - 30px)
                .btns
                    margin-top: auto
                .h3
                    margin-bottom: 10px
                .icn-close
                    position: absolute
                    top: 10px
                    right: 10px
                    font-size: 15px
                    color: #83858E
                    cursor: pointer
    &__new
        padding-top: 45px
        .block
            margin-bottom: 50px
            .day
                margin-bottom: 20px
            .item
                &__head
                    margin-bottom: 15px
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    font-size: 14px
                    position: relative
                    @media(max-width: 767px)
                        display: block
                    .name
                        font-weight: bold
                        
                    .to
                        color: #81838C
                        margin: 0 15px
                        @media(max-width: 767px)
                            display: block
                            margin: 20px 0 5px 0
                    .link
                        font-weight: bold
                    .time
                        margin-left: auto
                        color: #81838C
                        @media(max-width: 767px)
                            top: 0
                            right: 0
                            position: absolute
                &__content
                    p
                        margin-bottom: 20px
                    .reply
                        display: -webkit-inline-flex
                        display: -moz-inline-flex
                        display: -ms-inline-flex
                        display: -o-inline-flex
                        display: inline-flex
                        font-size: 14px
                        align-items: center
                        color: #81838C
                        i
                            margin-right: 10px
                .show
                    display: -webkit-inline-flex
                    display: -moz-inline-flex
                    display: -ms-inline-flex
                    display: -o-inline-flex
                    display: inline-flex
                    font-size: 14px
                    align-items: center
                    color: #81838C
                    i
                        position: relative
                        top: 2px
                        margin-right: 10px
    
