.emptyContent
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 30px 0
    min-height: calc(100vh - 250px)
    @media(max-width: 991px)
        min-height: calc(100vh - 200px)
    @media(max-width: 767px)
        min-height: calc(100vh - 170px)
    i
        font-size: 80px
        margin-bottom: 20px
    .h4
        margin-bottom: 5px
        text-align: center
    p
        margin-bottom: 30px
        text-align: center
    .btns
        width: 100%
        max-width: 255px
        text-align: center
    .h4 + .btns
        margin-top: 25px
