.eventsPage
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 30px
        @media(max-width: 767px)
            display: block
        .btns
            flex:  0 0 160px
            @media(max-width: 767px)
                display: block
                width: 100%
                margin-top: 10px
                text-align: center

    &__title
        margin-bottom: 0
        margin-right: auto
        flex:  1 1 auto
    &__mainPhoto
        position: relative
        margin-bottom: 30px
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 100%
            height: 58px
            background: linear-gradient(180deg, rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%)
        img
            width: 100%
    &__link
        display: block
        width: 100%
    &__icon
        position: absolute
        top: 15px
        left: 15px
        z-index: 99
    &__social
        margin-left: auto
    &__comments
        margin-left: 16px
    &__control
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 20px
    &__infoEvent 
        border-left: 1px solid #E5E5E5
        padding-left: 30px
        @media(max-width: 767px)
            padding-left: 0
            border-left: none
    &__text
        margin-bottom: 20px
    &__tags
        margin-bottom: 50px
        .tag
            margin-bottom: 10px
    &__reviewsContent
        @media(max-width: 991px)
            height: 0
            overflow: hidden
            opacity: 0
            transition: opacity 150ms linear
    &__subtitle
        margin-bottom: 20px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        pointer-events: none
        @media(max-width: 991px)
            pointer-events: auto
            cursor: pointer
        i
            opacity: 0.5
            font-size: 14px
            @media(min-width: 992px)
                display: none
        &.open
            i
                transform: rotate(180deg)
            & + .eventsPage__reviewsContent
                @media(max-width: 991px)
                    height: auto
                    overflow: visible
                    opacity: 1

    &__schedules
        margin-bottom: 50px
    &__schedulesTitle
        margin-bottom: 10px
    &__schedulesItem
        border-top: 1px solid #E5E5E5
        padding-top: 20px
        margin-bottom: 20px
        opacity: 1
        overflow: visible
        height: auto
        transition: opacity 150ms linear
        &.hidden
            opacity: 0
            overflow: hidden
            height: 0
            margin-bottom: 0px
            padding-top: 0px
    &__more
        text-align: center
        padding: 9px 0
        border-top: 1px solid #E5E5E5
        border-bottom: 1px solid #E5E5E5
        margin-bottom: 50px
        .link
            font-size: 15px
            font-weight: bold
    &__moreEvent
        margin-top: 50px
        .h2
            margin-bottom: 20px
        .h3
            margin-bottom: 10px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            a
                margin-left: 15px
                font-size: 15px
        .total
            font-size: 16px
            margin-bottom: 30px


