.eventsList
    &__title
        margin-bottom: 20px
    &__control
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        border-bottom: 1px solid #E5E5E5
        padding-bottom: 30px
        margin-bottom: 30px
        flex-wrap: wrap
        
        .count
            margin-right: auto
            font-size: 16px
            color: #81838C
            @media(max-width: 991px)
                order: 4
                width: 100%
                margin-top: 20px
                &.ext
                    order: 0
                    width: auto
                    margin-right: auto
                    margin-top: 0
        .label
            font-size: 14px
            color: #81838C
        .check-case
            flex-basis: 225px
            min-height: 1px
            @media(max-width: 991px)
                margin-right: auto
            @media(max-width: 767px)
                flex: 1 1 150px
        .field-case
            padding-bottom: 0
            flex-basis: 225px
            margin: 0 20px
            .field ~ .appearance
                top: 1px
            @media(max-width: 767px)
                order: -1
                width: 100%
                flex-basis: 100%
                margin: 0
                margin-bottom: 20px
        .btns
            margin-left: 10px
            border-color: #FF5E1C
            color: #FF5E1C
            @media(max-width: 767px)
                flex: 0 0 40px
            &.active
                border-color: #81838C
                color: #81838C
    &__item
        border-bottom: 1px solid #E5E5E5
        margin-bottom: 30px
        padding-bottom: 30px
    &__map
        position: relative
        overflow: hidden
        @media(max-width: 767px)
            margin: 0 -15px    
        .moreInfo
            position: relative
            z-index: 50
            background: #fff
            padding: 40px 15px
            width: 400px
            min-height: 700px
            transition: opacity 150ms linear
            border: 1px solid #E5E5E5
            pointer-events: none
            opacity: 0
            @media(max-width: 767px)
                width: calc(100% - 30px)
                margin: 15px 

            &.active
                opacity: 1
                pointer-events: auto
            & > .icn-close
                position: absolute
                top: 10px
                right: 10px 
                font-size: 11px
                cursor: pointer
        .marker
            background: url('../img/map.svg') 0 0 no-repeat
        .mapboxgl-popup-content
            padding: 10px 15px
            //.mapboxgl-popup-close-button
                display: none
        #map
            height: 100%
            width: 100%
            position: absolute
            top: 0
            left: 0

    &__noresults
        margin-top: 40px

.mapboxgl-popup-content
    padding: 9px 15px
.mapPopup
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 160px
    &__title
        font-size: 14px
        line-height: 18px
        font-weight: bold
        font-family: $mont
        margin-bottom: 10px
        width: 100%
    &__price, &__age
        color: #81838C
        font-size: 12px
    &__address
        color: #81838C
        font-size: 12px
        margin-top: -5px
        margin-bottom: 10px
        width: 100%
    .btns
        margin-bottom: 5px

    