.placeholder
    width: 100%  
    padding: 40% 0
    background-color: #EFEFEF
    position: relative
    &__inner
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        color: #81838C
        opacity: 0.5
        i
            font-size: 100px
            margin-bottom: 15px
            display: block
        span
            font-size: 18px
            font-weight: bold
            display: block
        &.sm
            i
                font-size: 50px
                margin-bottom: 10px
            span
                font-size: 14px
        &.xs
            i
                font-size: 23px
                margin-bottom: 2px
            span
                font-size: 9px


.eventBlock
    border: 1px solid #E5E5E5
    border-radius: 2px
    background-color: #FFFFFF
    padding: 0 20px
    position: relative
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    min-height: 100%
    @media(max-width: 767px)
        min-height: 1px
    &__img
        display: block
        margin: 0 -20px 20px
        position: relative
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 100%
            height: 58px
            background: linear-gradient(180deg, rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%)
        img
            width: 100%
    &__price
        position: absolute
        z-index: 2
        top: 5px
        right: 0
    &__icon
        position: absolute
        left: 16px
        top: 16px
        z-index: 99
    &__title
        font-size: 22px
        font-weight: bold
        line-height: 30px
        color: #272727
        font-family: $mont
        margin-top: 10px
        margin-bottom: auto
        a
            color: #272727
    &__label
        font-weight: bold
        margin-top: 10px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    &__tags
        padding: 15px 20px
        border-top: 1px solid #E5E5E5
        margin: 10px -20px 0
        .tag
            margin-bottom: 3px
            margin-right: 2px
            display: inline-block
    &__comment
        margin-left: 10px
    &__info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        & > .dateAge
            margin-right: auto
            

.eventBlockList
    &__item
        margin-bottom: 30px


.eventItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    position: relative
    @media(max-width: 767px)
        flex-direction: column
    &__img
        flex: 0 0 255px
        margin-right: 30px
        position: relative
        @media(max-width: 1199px)
            flex: 0 0 200px
        @media(max-width: 767px)
            flex: 1 1 auto
            width: 100%
            margin-bottom: 20px
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 100%
            height: 58px
            background: linear-gradient(180deg, rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%)
        img
            width: 100%
    &__icon
        font-size: 18px
        color: #fff
        position: absolute
        left: 16px
        top: 16px
        z-index: 5

        .icn-favorite-o
            color: #fff
        .icn-favorite
            color: #FF5E1C
        &.ext
            position: static
            margin-left: auto
    &__content
        flex: 1 1 auto
        @media(max-width: 767px)
            flex: 1 1 auto
            width: 100% 
    &__title
        font-size: 22px
        font-weight: bold
        line-height: 30px
        color: #272727
        font-family: $mont
        margin-top: 5px
        margin-bottom: 10px
        a
            color: #272727
    &__info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        @media(max-width: 767px)
            justify-content: flex-start
        .price
            background-color: #F9F9F9
            border: 1px solid #E5E5E5
            @media(max-width: 767px)
                margin-left: auto

    &__label
        color: #FF5E1C
        font-size: 14px
        font-weight: bold
        margin-right: auto
        &.ext
            @media(max-width: 767px)
                width: 100%
                margin-bottom: 5px
        &:hover
            color: #FF5E1C
            text-decoration: underline
        @media(max-width: 767px)
            margin-right: 0
            order: -1
    &__comments
        margin-left: 16px
    &__address
        color: #81838C
        font-size: 14px
        margin-bottom: 20px
        margin-top: 5px
        width: 100%
        @media(max-width: 767px)
            order: -1
            margin-bottom: 10px
        &.ext
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            width: auto
            margin: 0
            margin-right: auto
            @media(max-width: 767px)
                width: 100%
                margin-bottom: 5px
            i
                margin-top: 10px
    &__text
        font-size: 16px
        color: #272727
        @media(max-width: 767px)
            margin-top: 20px
        &.ext
            margin-top: 20px
    &__block
        margin: 0 -7px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
    &__subtitle
        font-size: 16px
        margin: 0 7px 20px
        width: 100%
    &__block
        height: 0
        overflow: hidden
        opacity: 0
        transition: opacity 150ms linear
        margin-top: 0px
        &.active
            height: auto
            overflow: visible
            opacity: 1
            margin-top: 30px
    &__box
        margin: 0 7px
        width: calc(25% - 14px)
        @media(max-width: 1299px)
            margin-bottom: 20px
            width: calc(33.333% - 14px)
        @media(max-width: 767px)
            width: calc(100% - 14px)
    &__tags
        margin-top: 20px
        .tag
            margin-bottom: 3px
            margin-right: 2px
            display: inline-block

.eventBox
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        position: relative
        margin-bottom: 20px
    
    &__img
        flex: 0 0 90px
        margin-right: 15px
        position: relative
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 100%
            height: 58px
            background: linear-gradient(180deg, rgba(0,0,0,0.47) 0%, rgba(0,0,0,0) 100%)
        img
            width: 100%
    

    &__content
        flex: 1 1 auto
        
    &__icon
        font-size: 12px
        color: #fff
        position: absolute
        left: 8px
        top: 8px
        z-index: 5
        .icn-favorite-o
            color: #fff
        .icn-favorite
            color: #FF5E1C
    
    &__title
        font-size: 18px
        font-weight: bold
        line-height: 30px
        color: #272727
        font-family: $mont
        margin-bottom: 10px
        margin-top: 5px
        line-height: 1.3
        a
            color: #272727
    &__info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        .price
            background-color: #F9F9F9
            border: 1px solid #E5E5E5
            @media(max-width: 767px)
                margin-left: auto

    &__label
        color: #FF5E1C
        font-size: 14px
        font-weight: bold
        margin-right: auto
        &:hover
            text-decoration: underline
        
    &__comments
        margin-left: 16px
    &__address
        color: #81838C
        font-size: 14px
        margin-bottom: 15px
        margin-top: 5px
        width: 100%
    
    &__text
        font-size: 14px
        color: #272727
        margin-bottom: 20px
        
    &__block
        margin: 0 -7px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
    &__subtitle
        font-size: 16px
        margin: 0 7px 20px
        width: 100%
    
    &__box
        margin-bottom: 15px

    &__btn
        @media(max-width: 991px)
            width: 100%


.eventMini
    border: 1px solid #E5E5E5
    border-radius: 2px
    padding: 20px
    position: relative
    margin-bottom: 30px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    flex-direction: column
    height: 100%
    @media(max-width: 767px)
        margin-bottom: 30px
        height: auto
    &__icon
        position: absolute
        top: 20px
        right: 20px
        .icn-favorite-o
            color: #858790
    &__title
        margin-top: 10px
        margin-bottom: 0
        a
            color: #272727
            &:hover
                color: #272727
    &__address
        margin-top: 10px
        color: #81838C
        font-size: 14px
        display: block
    &__price
        margin-top: 10px
        font-weight: bold
        margin-top: auto
    &__bar
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-top: 22px
        .rate
            margin-right: 10px
            
