.footerForm
    &__title
        display: block
        font-size: 14px
        color: #fff
        margin-bottom: 14px
    &__form
        @media(min-width: 768px)
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: flex-start
    &__field
        @media(min-width: 768px)
            flex: 1 1 auto
    &__btn
        @media(min-width: 768px)
            flex: 0 0 140px
            margin-left: 5px
.footerControll
    @media(max-width: 991px)
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        @media(max-width: 767px)
            flex-direction: column
    &__logo
        margin-bottom: 45px
        @media(max-width: 991px)
            margin-bottom: 22px
            width: 112px
        @media(max-width: 767px)
            width: 112px
            margin-bottom: 0
    &__social
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        a
            color: #9D9C9C
            font-size: 20px
            margin-right: 20px
            i
                display: block
    &__box
        margin-bottom: 33px
        @media(max-width: 991px)
            margin-bottom: 0
        @media(max-width: 767px)
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 33px

.footer
    background-color: #3C3D42
    &__inner
        padding: 52px 0
        @media(max-width: 767px)
            padding-top: 0
    &__menus
        @media(min-width: 768px)
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            justify-content: space-between
        @media(max-width: 991px)
            margin-bottom: 50px
    &__menu
        @media(max-width: 767px)
            border-bottom: 1px solid rgba(255,255,255,0.2)
            padding: 20px 15px
            margin: 0 -15px
    &__title
        color: #fff
        text-transform: uppercase
        font-size: 13px 
        font-weight: bold
        pointer-events: none
        @media(max-width: 767px)
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            pointer-events: auto

        i
            margin-left: auto
            font-size: 8px
            transition: all 150ms linear
            @media(min-width: 768px)
                display: none
        &.open
            i 
                transform: rotate(180deg)
            & + .footer__list
                margin-top: 20px
                height: auto
                opacity: 1
                overflow: visible

    &__list
        +reset-list()
        margin-top: 20px
        transition: all 150ms linear
        @media(max-width: 767px)
            margin-top: 0
            overflow: hidden
            height: 0
            opacity: 0
        li
            margin-bottom: 10px
            a
                font-size: 14px
                color: rgba(255,255,255,0.7)
                line-height: 20px
                &:hover
                    color: #7b7b7b
    &__copy
        border-top: 1px solid rgba(255,255,255,0.2)
        color: rgba(255,255,255,0.2)
        text-align: center
        font-size: 12px
        padding: 20px 0

