.fullSearch
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    @media(max-width: 767px)
        flex-direction: column
    &__field
        flex: 1 1 auto
        @media(max-width: 767px)
            width: 100%    
        .field
            @media(min-width: 768px)
                border-radius: 2px 0 0 2px
                border-right: 0
    &__btn
        flex: 0 0 40px
        width: 40px
        @media(min-width: 768px)
            height: 40px
            border-radius: 0 2px 2px 0
        @media(max-width: 767px)
            flex: 1 1 auto
            width: 100%
        span
            @media(min-width: 768px)
                display: none

        i
            margin-right: 0
            padding-left: 0
            padding-left: 0
            @media(max-width: 767px)
                display: none
