.logo
    display: inline-block
    width: 150px
    @media(max-width: 767px)
        width: 73px
    img
        display: block
        width: 100%
.logoBlock
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    @media(max-width: 767px)
        flex-direction: column
        align-items: flex-start
    &__text
        font-family: $mont
        font-size: 16px 
        color: #fff
        font-weight: bold
        margin-left: 33px
        @media(max-width: 767px)
            font-size: 11px
            margin-top: 8px
            margin-left: 0
        &:hover
            color: #fff
.subMenu
    border: 1px solid #E5E5E5
    border-radius: 0 0 2px 2px
    background-color: #FFFFFF
    margin-top: 0
    border-top: none
    +reset-list()
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    padding: 10px 0
    width: 370px
    &-oneColumn
        width: 180px
    li
        width: 50%
        margin: 0
        font-size: 15px  
        line-height: 1.2
        a
            color: #272727
            display: block
            padding: 10px
            &:hover
                 color: #FF5E1C
        &.fullWidth
            width: 100%
        &.divider
            width: 100%
            height: 1px
            margin: 5px 10px
            background: #E5E5E5
.mainMenu
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    &__item
        font-size: 15px
        color: #fff
        line-height: 50px
        margin-right: 80px
        margin-bottom: 0
        cursor: pointer
        position: relative
        &:hover
            color: #FF5E1C
            .mainMenu__submenu
                opacity: 1
                left: -10px
                pointer-events: auto
    &__list
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        +reset-list()
    &__submenu
        position: absolute
        top: 100%
        left: -9999px
        z-index: 9
        opacity: 0
        pointer-events: none
        transition: opacity 150ms linear
.menuBar
    border-top: 1px solid rgba(255,255,255,0.2)
    @media(max-width: 991px)
        display: none
    &__inner
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
    &__wishlist
        margin-left: auto
.headerIcons
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: space-between
    &__item
        color: #fff !important
        font-size: 18px
        margin-right: 15px
        &:last-child
            margin-right: 0
        i
            display: block
        &:hover
            color: #fff
        &.search
            .icn-close
                display: none
            &.open
                .icn-search
                    display: none
                .icn-close
                    display: block

.headUser
    position: relative
    &__name
        font-size: 15px
        margin-right: 20px
        color: #fff
    &__user
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        cursor: pointer
    &__toggle
        position: absolute
        top: 100%
        background: #fff    
        width: 620px
        border: 1px solid #E5E5E5
        padding: 20px
        margin-top: 15px
        left: -9999px
        opacity: 0
        transition: opacity 150ms linear
        z-index: 3
        &.open
            left: auto
            right: 0
            opacity: 1
        &:after
            border-bottom: 10px solid #fff
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            content: ''
            position: absolute
            right: 5px
            top: -10px
    &__menus
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin: 0 -15px
    &__title
        color: #282B3B
        font-size: 15px
        font-weight: bold
        margin-bottom: 20px
    &__menu
        +reset-list()
        margin: 0 15px
        width: 33.333%
        li
            margin-bottom: 15px
            a
                color: #282B3B
                font-size: 15px
                display: block
                padding-right: 25px
                position: relative
                .count
                    height: 18px
                    width: 18px
                    background-color: #5642AB
                    border-radius: 30px
                    font-size: 12px
                    color: #fff
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    justify-content: center
                    position: absolute
                    top: 0
                    right: 0
                &:hover
                    color: $prim
    &__control
        border-top: 1px solid #E5E5E5   
        padding-top: 20px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
    &__price
        font-weight: bold
        color: #282B3B
        font-size: 15px
        margin-right: 22px
    &__btns
        color: #81838c
        font-size: 13px
        margin-right: 13px
        &:hover
            color: #81838c
        i
            display: block
    &__singOut
        margin-left: auto
        font-size: 15px
        color: #282B3B
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        line-height: 1.1
        &:hover
            color: #282B3B
        i
            margin-right: 10px


.header-place
    margin-bottom: 30px
.header
    background-color: #5642AB
    z-index: 1061
    position: fixed
    
    width: 100%
    left: 0
    top: 0

    .col-sm-12
        position: static
    &-extend
        position: relative
        background: none
        padding-right: 0 !important
        margin-bottom: -90px
        @media(max-width: 767px)
            margin-bottom: -80px
    &__inner
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        padding: 25px 0
    &__logo
        margin-right: auto
    &__wishlist
        margin-right: auto
    &__back
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        color: #FF5E1C  
        font-family: $mont
        font-size: 14px 
        font-weight: bold
        margin-left: auto
        i
            margin-right: 13px
            color: #fff
            font-size: 12px
        span
            font-weight: normal
            color: #fff
            margin-right: 2px
            @media(max-width: 767px)
                display: none
        &:hover
            color: #FF5E1C
    &__signIn
        color: #fff !important
        font-size: 15px
        margin-right: 40px
        &:hover
            color: #fff
            opacity: 0.5
    &__searchBy
        margin: 0 60px
        flex: 1 1 0
        @media(max-width: 991px)
            position: absolute
            top: 100%
            padding: 15px
            width: 100%
            left: 0
            background: #5642ab
            margin: 0
            opacity: 0
            left: -9999px
            transition: opacity 150ms linear
            &.open
                opacity: 1
                left: 0px
        @media(max-width: 991px)
            .searchBy
                max-width: 690px
                margin: 0 auto
        @media(max-width: 767px)
            .searchBy
                max-width: 510px
    &__icons

.modal-open[style]
    padding-right: 16px !important
    .header
        padding-right: 16px
.fancybox-active
    .header
        padding-right: 16px