.helpNotfound
    margin: -50px 0 -70px
    @media(max-width: 991px)
        margin: 0
    &__img, &__pic
        width: 100%
        max-width: 510px
    &__pic, 
        margin: 0 auto 50px
    &__title
        margin-bottom: 20px
    &__text
        margin-bottom: 40px
        font-size: 16px
    &__list
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        @media(max-width: 767px)
            display: block
        li
            width: 50%
            margin-bottom: 15px
            padding-right: 15px
            cursor: pointer
            @media(max-width: 767px)
                width: auto
                padding-right: 0