.helpCategory
    &__title, 
        margin-bottom: 30px
    &__search
        margin-bottom: 30px
    &__subtitle
        pointer-events: none
        margin-bottom: 0
        @media(max-width: 767px)
            pointer-events: auto
            cursor: pointer
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
        i
            margin-left: auto
            font-size: 10px
            transition: all 150ms linear
            opacity: 0.5
            @media(min-width: 768px)
                display: none
        &.open
            i 
                transform: rotate(180deg)
            & + .helpCategory__list
                margin-top: 20px
                height: auto
                opacity: 1
                overflow: visible
    &__list
        margin-top: 30px
        li:last-child
            margin-bottom: 0
        @media(max-width: 767px)
            transition: all 150ms linear
            height: 0
            overflow: hidden
            opacity: 0
            margin-top: 0
            margin-bottom: 0
    &__box
        @media(max-width: 767px)
            border-bottom: 1px solid #E5E5E5
            padding-bottom: 30px
            margin-bottom: 30px