.homeMenu
    margin-top: 22px
    text-align: center
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: center
    @media(max-width: 767px)
        display: none
    &__item
        text-align: center
        color: #fff
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        font-size: 14px
        font-weight: bold
        align-items: center
        margin: 0 20px
        i
            margin-right: 10px
        &:hover
            opacity: 0.6
            color: #fff
.home
    &__topBar
        padding: 135px 0 95px
        background: url('../img/bg.svg') 0 0 repeat
        //background-size: cover
        margin-bottom: 50px
        position: relative
        @media(max-width: 767px)
            padding: 107px 0 60px
        picture
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            img
                display: block
                width: 100%
                height: 100%

    &__logo
        width: 243px
        margin: 0 auto 67px
        display: block
        img
            width: 100%
        
        @media(max-width: 767px)
            width: 175px
            margin: 0 auto 55px
    &__title
        margin-bottom: 50px
        text-align: center
    &__categories
        padding: 50px 0 20px
        background-color: #F9F9F9
        margin-bottom: -70px
    &__browse
        +reset-list()
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        margin: 0 -15px
        justify-content: center
        li
            width: calc(20% - 30px)
            margin: 0 15px 0
            @media(max-width: 991px)
                width: calc(33.333% - 30px)
            @media(max-width: 767px)
                width: calc(50% - 30px)
    &__empty
        text-align: center
        margin: 0 auto
        max-width: 600px
        margin-bottom: 50px
        i
            font-size: 80px
            margin-bottom: 20px
        .btns
            max-width: 255px
            margin: 0 auto


