.infoEvent
    &__item
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        color: #81838C
        font-size: 14px
        margin-bottom: 20px
        i
            margin-top: 5px
            margin-right: 21px

