.loading
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    &.active
        opacity: 1
    .loader-circle
        position: relative
        top: -3px
        width: 50px
        height: 20px
        background-size: 150% auto