.locationList
    position: absolute
    width: 100%
    margin-top: 5px
    border: 1px solid #e5e5e5
    background: #fff
    z-index: 9
    border-radius: 5px
    .current
        color: #FF4A00
        font-size: 16px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        font-weight: bold
        padding: 10px
        cursor: pointer
        &:hover
            background-color: #F9F9F9
        i
            margin-right: 10px
    .listTitle
        font-size: 12px
        color: #81838C
        text-transform: uppercase
        display: block
        margin: 10px
    .list
        +reset-list()
        overflow-y: auto
        //max-height: 167px
        max-height: 600px
        
        li
            color: #272727
            font-size: 15px
            padding: 10px 
            margin-bottom: 0
            cursor: pointer
            &:hover
                background-color: #F9F9F9
            i
                margin-right: 10px