.mobileMenu
    position: fixed
    width: 95%
    max-width: 370px
    height: 100%
    top: 0
    right: -100%
    background: #fff
    z-index: 2050
    overflow-x: auto
    padding-top: 96px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    transition: all 150ms linear
    &.open
        @media(max-width: 991px)
            right: 0
    &__close
        position: absolute
        top: 20px
        right: 20px
        font-size: 11px
        color: #272727
        cursor: pointer
    &__name
        font-size: 15px
        margin-left: 15px
        color: #272727
        font-weight: bold
    &__user
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        cursor: pointer
        margin: 0 20px 40px
    &__singOut
        font-size: 15px
        color: #282B3B
        width: 100px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin: 0 auto
        justify-content: center
        align-items: center
        line-height: 1.1
        &:hover
            color: #282B3B
        i
            margin-right: 10px
    
    &__box
        padding: 20px
        border-bottom: 1px solid #EAEAEA
    &__title
        font-size: 12px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        color: #272727
        font-weight: bold
        cursor: pointer
        text-transform: uppercase
        i
            margin-left: auto 
            font-size: 8px
        a
            display: block
            text-align: center
            color: #272727
            width: 100%
            text-transform: none
            font-size: 14px
            margin-bottom: 15px
        &.open
            i 
                transform: rotate(180deg)
            & + .mobileMenu__list
                height: auto
                opacity: 1
                overflow: visible

    &__list
        +reset-list()
        overflow: hidden
        height: 0
        opacity: 0
        transition: all 150ms linear
        li
            margin-bottom: 0
            margin-top: 20px
            a
                font-size: 12px
                line-height: 20px
                color: rgba(51,51,51,0.7)
                position: relative
                display: block
                padding-right: 25px
                &:hover
                    color: #272727
                .count
                    height: 18px
                    width: 18px
                    background-color: #5642AB
                    border-radius: 30px
                    font-size: 12px
                    color: #fff
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    justify-content: center
                    position: absolute
                    top: 0
                    right: 0


    &__btns
        padding: 30px
        margin-top: auto
        .btns + .btns
            margin-top: 10px