.modals
    z-index: 1902
    &__title
        margin-bottom: 30px
        &.center
            text-align: center
    &__smallSpace
        text-align: center
        margin-bottom: 10px
        &.left
            text-align: left
    &__subtitle
        margin-bottom: 35px
        text-align: center
        font-size: 16px
        &.left
            text-align: left 
    &__small
        font-size: 14px
        display: block
        margin-bottom: 5px
    &__or
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: space-between
        border-bottom: 1px solid #ccc
        margin-bottom: 25px
        padding-bottom: 30px
        position: relative
        @media(max-width: 767px)
            display: block
        .btns
            width: calc(50% - 15px)
            @media(max-width: 767px)
                width: 100%
                max-width: 100%
                & + .btns
                    margin-top: 20px
        span
            color: #81838C
            font-size: 14px
            padding: 5px 10px
            background: #fff
            position: absolute
            left: 50%
            margin-left: -16px
            bottom: -14px
    &__steps
        font-weight: bold
        margin-bottom: 20px
        font-family: $mont
    &__fieldInfo
        margin-bottom: 30px
        color: #81838C
        font-size: 13px
    &__forgot
        position: absolute
        right: 15px
        top: 50%
        margin-top: -24px
    .field-name 
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        position: relative
        a
            margin-left: auto
    .check-case 
        min-height: 25px
        .check-name
            font-size: 14px
    .cancel
        display: block
        text-align: center
        margin-top: 20px
        font-weight: bold
        color: #81838C 
        &.inline
            @media(min-width: 768px)
                display: inline-block
                vertical-align: middle
                margin-top: 0
                margin-left: 30px
    #addLocation
        .btns
            @media(max-width: 767px)
                width: 100%
                display: block
        .mapPlace
            position: relative
            height: 370px
            margin-bottom: 40px
            &__info
                position: absolute
                padding: 10px
                top: 5px
                left: 10px
                right: 10px
                font-size: 14px
                color: #81838C
                text-align: center
                z-index: 100
                background: #fff
                border: none
        .check-case
            margin-bottom: 15px
            .check-name
                font-weight: bold
        #locationMap
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
    #addSchedule
        .js-counterStr
            height: 80px
        .buttonGroup1
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 30px
            .cancel 
                margin: 0
        .buttonGroup2
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 30px
            .cancel 
                margin: 0
                margin-right: auto
            .btns-default
                margin-right: 10px
                height: 40px
                padding: 0 10px
                i
                    margin-right: 0
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
            width: 12px
            height: 12px
            border-radius: 12px
            background: $prim
            border: none
            background-image: none
            &:focus
                outline: none
        .ui-widget-content
            height: 3px
            background: #ccc
            background-image: none
        .ui-slider .ui-slider-range
            background: $prim
            background-image: none

        .total
            margin-top: 30px
            color: #81838C
            font-size: 14px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: flex-end
            flex-wrap: wrap
            opacity: 0
            @media(max-width: 991px)
                margin-top: 0
                margin-bottom: 15px
            strong
                color: #272727
                margin-left: 10px
                font-size: 18px
            .type
                width: 100%
                text-align: right
                line-height: 12px
                font-size: 11px
            &.active
                opacity: 1

        .stepsTitle
            color: #81838C
            font-size: 14px
            margin-bottom: 30px
            display: block
        
                
        .field-case
            .daterangepicker 
                width: 100%
                border-radius: 5px
                background-color: #FFFFFF
                padding: 10px 10px 0 10px
                box-shadow: inset 0 -1px 0 0 #CCCCCC, 0 2px 5px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2)
                z-index: 3000
                position: absolute
                @media(max-width: 991px)
                    position: relative
                    width: 100% 
                    padding: 10px
                    top: auto !important
                .calendar-table 
                    th
                        color: #81838C 
                        padding: 0
                        font-size: 12px
                        padding-bottom: 8px
                        min-width: 1px
                        @media(max-width: 991px)
                            font-size: 10px
                        &.available
                            span
                                border-color: #83858E
                            &:hover
                                background: none
                                span
                                    border-color: #5642ab
                    td
                        padding: 0
                        color: #272727
                        border-radius: 0
                        border: 1px solid #fff
                        height: 42px
                        min-width: 1px
                        font-size: 14px
                        @media(max-width: 991px)
                            font-size: 12px
                            height: 32px
                            width: 32px

                        &.weekend
                            color: #5642AB
                        &.off.available,
                        &[class="off off disabled"],
                        &[class="weekend off off disabled"]
                            pointer-events: none
                            opacity: 0

                        &[class="off disabled"]
                            pointer-events: auto
                            opacity: 1
                            text-decoration: none
                            color: rgba(51,51,51,0.5)
                        &[class="weekend off disabled"]
                            color: #5642AB
                            opacity: 0.5
                            text-decoration: none
                        &.active
                            background-color: #CCC4DE
                            &:hover
                                color: #272727
                        &.in-range
                            background-color: #F1EDF9
                        &.end-date, &.start-date
                            background-color: #CCC4DE
                        &.start-date.end-date
                            border-radius: 0
                    thead tr:last-child
                        th
                            padding-bottom: 8px
                        th:last-child,
                        th:first-child
                            color: #5642AB
                &.show-calendar 
                    .drp-buttons
                        display: none
                div.drp-calendar
                    float:none !important
                    padding: 0
                    width: 100%
                    max-width: 100%
                    
                    
                .drp-selected
                    margin-right: auto
        
        &[data-step="1"]
           .stepModal2
               display: none
        &[data-step="2"]
           .stepModal1
               overflow: hidden
               height: 0
    .greybox
        background-color: #F0F4F7
        padding: 20px
        margin-bottom: 20px
    .directDeposit
        .check
            padding: 20px
            border: 1px solid #E5E5E5
            border-radius: 2px
            background-color: #F7F5FB
            @media(max-width: 767px)
                display: none
            strong
                font-family: $mont
                margin-bottom: 10px
                display: block
                text-align: center
            img
                display: block
                width: 100%
            
        .btns
            @media(max-width: 767px)
                width: 100%
                display: block
        .cancel
            @media(min-width: 768px)
                display: inline-block
                margin-left: 20px
        .swift
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            .field
                flex: 1 1 auto
                border-right: none
                border-radius: 2px 0 0 2px 
            .btns
                flex: 0 0 40px
                padding: 0
                border-radius: 0 2px 2px 0
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
        [data-address]
            position: relative
            &.hidden
                height: 0
                overflow: hidden
            .loader-circle
                position: absolute
                height: 100%
                width: 100%
                z-index: 1050
                background-color: #fff
                background-size: 50% auto
                background-position: center
            &.ext
                .loader-circle
                    background: #fff
   
        .cnt
            @media(max-width: 767px)
                height: 0
                overflow: hidden
        .js-toggleMenu 
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            @media(min-width: 768px)
                pointer-events: none
            i
                margin-left: auto
                font-size: 14px
                color: #81838C
                @media(min-width: 768px)
                    display: none
            &.open
                @media(max-width: 767px)
                    i
                        transform: rotate(180deg)
                    & + .cnt
                        height: auto
                        overflow: visible
    &__btn
        margin: 0 auto
        display: block
        max-width: 160px
        text-align: center
    &__scrollZone
        margin-bottom: 30px
    #dellAcc
        .check-case
            margin-bottom: 10px
    .slimScrollDiv
        margin-bottom: 30px
        .modals__scrollZone
            background-color: #F9F9F9
            margin-bottom: 0px
            padding: 15px
            @media(max-width: 1190px)
                background: none
                padding: 0
                overflow: visible !important
                height: auto !important
                pointer-events: none
    .locationList .list
        max-height: 127px
    &__map
        min-height: 540px
        position: relative
        overflow: hidden
        @media(max-width: 767px)
            min-height: 400px
        &.ext
            .loader-circle
                position: absolute
                top: 0
                right: 0
                width: auto
                height: auto
                left: 295px
                bottom: 0
                z-index: 9
                background-color: #fff
            @media(max-width: 576px)
                margin: 0 -30px
            .marker
                
                background: url("../img/map.svg") 0 0 no-repeat
                width: 17px
                height: 25px
                cursor: pointer
                &.active
                    background: url("../img/map-2.svg") 0 0 no-repeat
                    width: 22px
                    height: 32px
            .mapboxgl-popup-close-button
                font-size: 0

        #mapModal, #mapAddress, #mapCoModal
            position: absolute
            top: 0
            width: 100%
            bottom: 0
            right: 0
            transition: width 150ms linear
        .searchByAddress
            position: relative
            z-index: 10
            min-height: 540px  
            padding: 40px 20px
            border: 1px solid #E5E5E5  
            background-color: #FFFFFF
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            flex-direction: column
            transition: all 150ms linear
            width: 295px   
            left: -295px
            @media(max-width: 767px)
                width: calc(100% - 25px)
                left: -100%
                margin-left: 25px
                
            .btns
                margin-top: auto
            &__btns
                position: absolute
                left: 100%
                height: 40px
                width: 25px
                border: 1px solid #E5E5E5
                border-radius: 0 2px 2px 0
                background-color: #FFFFFF
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                &:after
                    content: ''
                    border-top: 6px solid transparent
                    border-bottom: 6px solid transparent
                    border-left: 6px solid #000
            &__address
                height: 260px
                overflow-y: auto
                @media(max-width: 767px)
                    margin-right: -20px
                    overflow-y: scroll
                    height: 260px
                .item
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    color: #81838C
                    font-size: 14px
                    margin: 20px 0
                    padding-right: 15px
                    cursor: pointer
                    &:first-child
                        margin-top: 0
                    &.active
                        font-weight: bold
                        color: #272727
                    i
                        margin-right: 13px
                        margin-top: 1px
            .slimScrollDiv
                margin-right: -20px
            &.active
                left: 0px
                @media(max-width: 767px)
                    margin-left: 0px
                .searchByAddress__btns
                    &:after
                        transform: rotate(180deg)


.noteModal
    border-radius: 4px
    background-color: rgba(51,51,51,0.83)
    text-align: center
    .modal-body
        padding: 25px
        text-align: center
    &__icon
        font-size: 40px
        margin-bottom: 10px
        &.icn-success
            color: #3AB272
        &.icn-wrong
            color: #E15554
    &__text
        font-size: 16px
        color: #fff
        font-weight: bold


#kidModal, #kidEditModal
    .daterangepicker 
        width: 690px
        border-radius: 5px
        background-color: #FFFFFF
        padding: 30px 30px 20px
        box-shadow: inset 0 -1px 0 0 #CCCCCC, 0 2px 5px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2)
        z-index: 3000
        position: absolute
        @media(max-width: 991px)
            position: relative
            width: 100%
            padding: 10px
            top: auto !important
        .calendar-table 
            th
                color: #81838C 
                padding: 0
                font-size: 12px
                padding-bottom: 8px
                min-width: 1px
                @media(max-width: 991px)
                    font-size: 10px
                &.available
                    span
                        border-color: #83858E
                    &:hover
                        background: none
                        span
                            border-color: #5642ab
            td
                padding: 0
                color: #272727
                border-radius: 0
                border: 1px solid #fff
                height: 42px
                min-width: 1px
                font-size: 14px
                @media(max-width: 991px)
                    font-size: 12px
                    height: 32px
                    width: 32px

                &.weekend
                    color: #5642AB
                &.off.available,
                &[class="off off disabled"],
                &[class="weekend off off disabled"]
                    pointer-events: none
                    opacity: 0

                &[class="off disabled"]
                    pointer-events: auto
                    opacity: 1
                    text-decoration: none
                    color: rgba(51,51,51,0.5)
                &[class="weekend off disabled"]
                    color: #5642AB
                    opacity: 0.5
                    text-decoration: none
                &.active
                    background-color: #CCC4DE
                    &:hover
                        color: #272727
                &.in-range
                    background-color: #F1EDF9
                &.end-date, &.start-date
                    background-color: #CCC4DE
                &.start-date.end-date
                    border-radius: 0
            thead tr:last-child
                th
                    padding-bottom: 8px
                th:last-child,
                th:first-child
                    color: #5642AB
        &.show-calendar 
            .drp-buttons
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                padding: 15px 0 0 0
                @media(max-width: 991px)
                    flex-direction: column
                    flex-wrap: wrap
                .drp-selected
                    color: #272727
                    font-size: 15px
                    @media(max-width: 991px)
                        text-align: center
                        margin: 0
                        padding: 0
                .btns
                    margin-left: 5px
                    @media(max-width: 991px)
                        width: 100%
                        margin: 15px 0 0 0
        div.drp-calendar
            padding: 0
            width: 48%
            max-width: 48%
            margin-bottom: 20px
            @media(max-width: 991px)
                width: 100%
                max-width: 100%
            &.left
                float: left
                .calendar-table
                    padding: 0 
            &.right
                float: right
        .drp-selected
            margin-right: auto
    .daterangepicker
        .drp-buttons
            padding: 0
            border: none
            *
                display: none
        select.monthselect,
        select.yearselect
            height: 25px
            text-align: center
            padding: 0 15px 
            border-radius: 2px
        &.opensright:before
            display: none
    .field-case
        i
            top: 32px
        .appearance
            top: 31px
        .daterangepicker
            width: 100%
            div.drp-calendar.left
                float: none
                width: 100%
                max-width: 100%
                margin-bottom: 0
        .daterangepicker
            select
                height: 30px
                -webkit-appearance: auto
                appearance: auto
            .drp-buttons
                padding: 0
    [type="reset"]
        width: 0
        height: 0
        background: none
        border: none
        position: absolute
    .deleteKid
        display: block
        margin-top: 15px
        color: #f00
        font-weight: bold
        text-align: center
    .field-case .daterangepicker .calendar-table td.end-date, 
    .field-case .daterangepicker .calendar-table td.start-date
        background: none


    