.modalPage
    width: 100%
    min-height: 100vh
    background: #ccc
    padding: 0 15px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    padding-top: 93px
    .header
        z-index: 2010
    @media(max-width: 991px)
        padding-top: 71px
    &__inner
        max-width: 600px
        margin: 30px 0
        width: 100%
        background: #fff
        padding: 40px
        position: relative
        border: 1px solid rgba(0,0,0,.2)
        border-radius: .3rem
        &.ext
            max-width: 460px 
