.notePref
    &__control  
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-bottom: 30px
        @media(max-width: 767px)
            flex-wrap: wrap
        .link
            margin-left: 20px
            font-weight: bold
            @media(max-width: 767px)
                margin-left: 0
                margin-right: 20px
    &__subtitle
        margin-bottom: 0
        margin-right: auto
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 767px)
            width: 100%
            margin-bottom: 30px
        i
            font-size: 14px
            margin-left: 10px
            color: #858790
    &__form
        .check-case
            min-height: 1px
            margin-bottom: 15px
    &__btn
        margin-top: 50px
        @media(min-width: 768px)
            max-width: 160px

