.orderItem
    border: 1px solid #E5E5E5
    padding: 15px 0
    margin-bottom: 30px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    @media(max-width: 767px)
        display: block
    .box
        margin: 0 15px
        @media(max-width: 991px)
            margin-bottom: 15px
        &:last-child
            text-align: right
            @media(max-width: 767px)
                text-align: left
                margin-bottom: 0

    p, .text
        font-size: 14px
        margin-bottom: 0
        color: #81838C
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        i
            margin-right: 10px
            position: relative
            top: 2px
    .num
        color: #272727
        font-size: 18px
        font-weight: bold
        margin-right: 15px
    .total
        font-size: 16px
        color: #81838C
        justify-content: flex-end
        @media(max-width: 767px)
            justify-content: flex-start
        strong
            font-size: 18px
            color: #272727
            font-family: $mont
            position: relative
            top: 2px
    .btns
        margin-top: 5px
    .process
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: flex-end
        align-items: center
        i
            font-size: 12px
            margin-right: 0

.orderTitle
    margin-top: 50px