.menuAsTab
    border-bottom: 1px solid #E5E5E5
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    @media(max-width: 767px)   
        width: 0
        height: 0
        overflow: hidden
        border: 0
    a
        border-bottom: 2px solid transparent
        font-size: 15px
        padding: 15px 20px
        color: #272727
        &.active
            color: #FF5E1C
            border-color: #FF5E1C

.dateBtns
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: flex-end
    
    a
        color: #81838C
        font-size: 12px
        padding: 10px 20px
        background: #000
        background-color: #F9F9F9
        border: solid 1px #F9F9F9
        @media(max-width: 767px)
            width: 33.333%
            text-align: center
            padding-left: 0
            padding-right: 0
        &.active
            background: #fff
            border: 1px solid #81838C
            color: #272727

.payment
    .field-case
        .daterangepicker 
            width: 690px
            border-radius: 5px
            background-color: #FFFFFF
            padding: 30px 30px 20px
            box-shadow: inset 0 -1px 0 0 #CCCCCC, 0 2px 5px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2)
            z-index: 3000
            position: absolute
            @media(max-width: 767px)
                //position: relative
                width: 100%
                max-width: 290px
                padding: 10px
                top: auto !important
            .calendar-table 
                th
                    color: #81838C 
                    padding: 0
                    font-size: 12px
                    padding-bottom: 8px
                    min-width: 1px
                    @media(max-width: 991px)
                        font-size: 10px
                    &.available
                        span
                            border-color: #83858E
                        &:hover
                            background: none
                            span
                                border-color: #5642ab
                td
                    padding: 0
                    color: #272727
                    border-radius: 0
                    border: 1px solid #fff
                    height: 42px
                    min-width: 1px
                    font-size: 14px
                    @media(max-width: 767px)
                        font-size: 12px
                        height: 32px
                        width: 32px

                    &.weekend
                        color: #5642AB
                    &.off.available,
                    &[class="off off disabled"],
                    &[class="weekend off off disabled"]
                        pointer-events: none
                        opacity: 0

                    &[class="off disabled"]
                        pointer-events: auto
                        opacity: 1
                        text-decoration: none
                        color: rgba(51,51,51,0.5)
                    &[class="weekend off disabled"]
                        color: #5642AB
                        opacity: 0.5
                        text-decoration: none
                    &.active
                        background-color: #CCC4DE
                        &:hover
                            color: #272727
                    &.in-range
                        background-color: #F1EDF9
                    &.end-date, &.start-date
                        background-color: #CCC4DE
                    &.start-date.end-date
                        border-radius: 0
                thead tr:last-child
                    th
                        padding-bottom: 8px
                    th:last-child,
                    th:first-child
                        color: #5642AB
            &.show-calendar 
                .drp-buttons
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    padding: 15px 0 0 0
                    @media(max-width: 767px)
                        flex-direction: column
                        flex-wrap: wrap
                    .drp-selected
                        color: #272727
                        font-size: 15px
                        @media(max-width: 767px)
                            text-align: center
                            margin: 0
                            padding: 0
                    .btns
                        margin-left: 5px
                        @media(max-width: 767px)
                            width: 100%
                            margin: 15px 0 0 0
            div.drp-calendar
                padding: 0
                width: 48%
                max-width: 48%
                margin-bottom: 20px
                @media(max-width: 767px)
                    width: 100%
                    max-width: 100%
                &.left
                    float: left
                    .calendar-table
                        padding: 0 
                &.right
                    float: right
            .drp-selected
                margin-right: auto


    .daterangepicker
        z-index: 500
    &__head
        margin: 30px 0
    &__balance
        text-align: right
        color: #81838C
        @media(max-width: 1199px)
            text-align: left
            margin-top: 32px
        @media(max-width: 767px)
            margin-top: 15px
        strong
            color: #272727
            display: inline-block
            vertical-align: middle
            position: relative
            top: 0px
            margin-left: 20px
            font-size: 18px
    &__tab
        @media(min-width: 768px)   
            width: 0
            height: 0
            overflow: hidden
    &__statisticsTable
        margin-top: 30px
        td, th
            &:last-child
                text-align: right
        @media(max-width: 767px)
            display: block
            thead
                display: none
            
            tr
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                flex-wrap: wrap
                align-items: center
                border-bottom: 1px solid #e6edf2
                padding: 10px 0
            tbody
                td
                    width: 100%
                    border: none
                    padding: 0
                    &:nth-child(3)
                        padding: 10px 0
                    &:last-child
                        justify-content: flex-end
                    &:first-child,
                    &:last-child
                        width: 50%
                        display: -webkit-flex
                        display: -moz-flex
                        display: -ms-flex
                        display: -o-flex
                        display: flex
                        align-items: center
                        order: 1
            tfoot
                td
                    border: none
                    padding: 0
                    width: 50%
    &__radio
        .check-name
            font-weight: 18px
            font-family: $mont
            font-weight: bold
    &__info
        padding-left: 25px
        margin-bottom: 10px
        width: 280px
        max-width: 100%
        .item
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            span
                font-size: 14px
                width: 50%
    &__edit
        color: #81838C
        margin-left: 25px
        margin-bottom: 50px
        font-size: 14px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        &:hover
            color: #81838C
        i
            margin-right: 10px
            font-size: 12px
    &__btn
        margin-left: 25px
        width: 100%
        max-width: 160px
        margin-bottom: 50px
        @media(max-width: 767px)
            margin-left: 0
            min-width: 100%
        
    &__historyTable
        .date
            font-size: 12px
            line-height: 15px
            display: block
        @media(max-width: 767px)
            tr
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                flex-wrap: wrap
                align-items: center
                border-bottom: 1px solid #e6edf2
                padding: 10px 0
            tbody
                td
                    width: 50%
                    border: none
                    padding: 0
                    margin: 2px 0
                    &:nth-child(2),
                    &:nth-child(4)
                        text-align: right
                    &:last-child
                        width: 100%
                        br
                            display: none
    
    &__title
        margin-bottom: 20px
    &__specify
        color: #81838C
        font-size: 14px
        display: block
    &__commit 
        padding: 30px 0
        margin: 30px 0 50px
        border-top: 1px solid #E5E5E5   
        border-bottom: 1px solid #E5E5E5
        p
            font-size: 14px   
            margin-bottom: 0
            @media(max-width: 767px)
                margin-top: 20px
    &__seeall
        margin: 0 auto
        max-width: 185px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin-top: 30px
        text-align: center
        .connecting
            border: 2px solid #ff5e1c
            border-radius: 50%
            border-top: 2px solid #5642ab
            width: 15px
            height: 15px
            margin-right: 10px
            -webkit-animation: spin 1s linear infinite
            animation: spin 1s linear infinite 


.preferencesItem
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    align-items: flex-start
    @media(max-width: 767px)
        display: block
    &__info
        .name
            font-size: 18px
            font-weight: bold
            font-family: $mont
            display: inline-block
            vertical-align: middle
            margin-right: 10px
        .per
            color: #81838C
            display: inline-block
            vertical-align: middle
            font-size: 14px
        p
            width: 100%
            margin-bottom: 0
            @media(max-width: 767px)
                margin-bottom: 30px
    &__title
        color: #81838C
        font-size: 14px
        display: block
        margin-bottom: 5px
    &__options
        .payment__info
            padding-left: 0
        .payment__edit
            margin-left: 0
            margin-bottom: 0
        .btns
            width: 160px
            text-align: left