.popoverPlace
    position: relative
    cursor: pointer
    & > .popovers
        display: none
.popovers
    color: #272727
    max-width: 425px
    width: 100%
    
    padding: 30px 15px
    z-index: 99
    position: relative
    &-sm
        max-width: 325px
    &__title
        margin-bottom: 10px
        font-size: 18px
    &__table
        margin-bottom: 20px
        tr
            td
                border: none
                padding: 0 10px 0 0
    &__price
        padding-bottom: 20px
        font-size: 16px
        strong
            display: block
            
    &__priceBox
        align-items: flex-end
    &__close
        position: absolute
        top: 10px
        right: 10px
        font-size: 11px
        color: #272727
        cursor: pointer
    &__header
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px
    &__text
        font-size: 16px
        color: #32373D
        margin-bottom: 20px
    &__addrres
        margin-top: 5px
        font-size: 14px
        color: #81838C
    .link-primary
        font-size: 15px
        font-weight: bold