.promo
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    position: relative
    min-height: 100vh
    padding-top: 120px
    picture
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        img
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            width: 100%
            height: 100%
    &__logoPlace
        position: absolute
        top: 0
        left: 0
        width: 100%
        padding-top: 40px
    &__title
        color: #fff
        font-size: 45px
        font-family: $mont
        margin-bottom: 20px
        font-weight: bold
    &__text
        font-size: 22px
        color: #fff
    &__formBox
        border-radius: 6px
        background-color: #FFFFFF
        box-shadow: 0 11px 30px 0 rgba(0,0,0,0.2)
        padding: 40px 
        @media(max-width: 767px)
            padding: 20px
        .h1
            text-align: center
            margin-bottom: 30px

