.writeReview
    border: 1px solid #E5E5E5 
    border-radius: 2px
    overflow: hidden
    margin-bottom: 20px
    height: auto
    &__rate
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        
        height: auto
        margin-bottom: 10px
        overflow: hidden
        .rate
            margin-top: 5px
            margin-left: 15px
            i
                margin-right: 3px
    &__form
        margin: 15px
        .error
            text-align: right
            width: 100%
    &__field
        width: 100%
        padding: 0 
        display: block
        margin: 0
        resize: none
        border: none
        margin-bottom: 10px
        font-size: 16px
        overflow: hidden
        height: auto
        &:focus
            outline: none
    &__btns
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: flex-end
        align-items: center
        .btns
            width: 115px
            margin-left: 30px
        .link
            font-size: 13px
            font-weight: bold
    &.mini
        height: 40px
        .writeReview__form
            margin: 7px 15px
        .writeReview__rate
            margin-bottom: 0px
            height: 0
        &.active
            height: auto
            .writeReview__form
                margin: 15px
            .writeReview__rate
                margin-bottom: 10px
                height: auto
    &.hiddenForm
        opacity: 0
        height: 0


.review
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    position: relative
    &.hidden
        display: none
    &__avatar
        margin-right: 20px
        flex: 0 0 40px
        @media(max-width: 767px)
            top: 0
            left: 0
            position: absolute
            margin-right: 0
    &__content
        flex: 1 1 auto
        border-bottom: 1px solid #E5E5E5
        margin-bottom: 20px
        .review
            margin-left: -15px
            @media(max-width: 767px)
                margin-left: 10px
            &__avatar
                width: 30px
                height: 30px
                flex: 0 0 30px
            &:last-child
                & > .review__content
                    margin-bottom: 0
                    border-bottom: none
            &.ext
               & > .review__content
                    margin-bottom: 0
                    border-bottom: none 
                
                    
    &__control
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        color: #81838C
        margin-bottom: 10px
        font-size: 15px
        @media(max-width: 767px)
            flex-wrap: wrap
        
    &__name
        font-size: 14px
        color: #272727
        font-weight: bold
        margin-right: 15px

    &__date
        font-size: 14px
        margin-right: 15px
    &__replyName 
        font-size: 14px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-right: 15px
        @media(max-width: 767px)
            position: absolute
            margin-right: 0
            top: 0
            right: 0
        i
            margin-right: 5px

    &__iterator
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        user-select: none
        font-size: 14px
        @media(max-width: 767px)
            position: absolute
            top: 0
            right: 0
        i
            font-size: 8px
            margin-top: 2px
            cursor: pointer
        span
            font-weight: bold
            margin: 0 5px
            text-align: center
            min-width: 21px
            &.green
                color: #3FA875
            &.red
                color: #f00
    &__nameDate
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        @media(max-width: 767px)
            width: 100%
            padding-left: 50px
            flex-direction: column
            align-items: flex-start
            position: relative
            margin-bottom: 10px
    &__id
        font-size: 15px
        margin-left: auto 
        @media(max-width: 767px)
            margin-right: auto
            margin-left: 0
            font-size: 12px
    &__rate
        margin-left: 15px
    &__official
        margin-left: auto
        color: #3FA875
    
    &__text
        font-size: 16px
        margin-bottom: 20px
        &.hidden
            display: none
    
    &__reply
        position: relative
        display: inline-block
        margin-bottom: 20px
        span
            color: #81838C
            font-size: 14px
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            cursor: pointer
            background: none
            border: none
            i
                margin-left: 15px
                margin-top: 2px 

        .replyBody
            position: absolute
            //overflow: hidden
            padding-top: 5px
            top: 100%
            right: -25px
            width: 110px    
            border: 1px solid #E5E5E5   
            background-color: #FFFFFF
            border-radius: 2px
            z-index: 99
            opacity: 0
            pointer-events: none
            &:after
                position: absolute
                top: -6px
                right: 26px
                width: 10px
                height: 10px
                background: #fff
                content: ""
                border: 1px solid #e5e5e5
                transform: rotate(45deg)
                border-bottom: none
                border-right: none
                
            a
                display: block
                text-align: center
                line-height: 40px
                font-size: 14px
                color: #272727
                &.del
                    color: #E15554
                &:hover
                    background-color: #F9F9F9
            &.open
                opacity: 1
                pointer-events: auto

    &__replys
        color: #FF5E1C
        font-size: 14px
        font-weight: bold
        cursor: pointer
        display: block
        margin-bottom: 20px
        margin-left: 34px
        
    &__noteGuest
        margin-bottom: 10px
        display: none
        &.open
            display: block
    &__inputBox
        margin-top: 0px
        height: 0
        overflow: hidden
        opacity: 0
        &.open
            opacity: 1
            height: auto
            margin-bottom: 20px
        .writeReview
            margin-bottom: 0
    &__inputBoxEdit
        margin-top: 0px
        height: 0
        overflow: hidden
        opacity: 0
        &.open
            opacity: 1
            height: auto
            margin-bottom: 20px
        .writeReview
            margin-bottom: 0
      

                


.reviewInfo
    position: fixed
    right: -350px
    bottom: 30px
    width: 300px
    background-color: rgba(51,51,51,0.9)
    color: #fff
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    padding: 20px 20px 20px 20px
    z-index: 3020
    transition: right 300ms linear
    &.active
        right: 60px
        @media(max-width: 767px)
            right: 15px
            width: calc(100% - 30px)
    &__text
        color: #fff
        line-height: 1.2
    &__icon
        font-size: 25px
        margin-right: 22px
    &:before
        position: absolute
        content: ""
        height: 100%
        width: 4px
        top: 0
        left: 0
    &-wrong
        i
            color: #E15554
        &:before
            background-color: #E15554
    &-success
        i
            color: #3FA875
        &:before
            background-color: #3FA875
    &-warning
        i
            color: #FF5E1C
        &:before
            background-color: #FF5E1C
    .icn-close
        color: #fff
        font-size: 10px
        cursor: pointer
        margin-left: 15px



