.reviewsPage
    &__controll
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: flex-end
        align-items: center
        margin-bottom: 30px
        @media(max-width: 767px)
            display: block
        .name
            font-size: 14px
            color: #81838C
            @media(max-width: 767px)
                display: none
        .field-case
            @media(min-width: 768px)
                padding-bottom: 0
                flex-basis: 255px
                margin-left: 20px
                .field ~ .appearance
                    top: 1px        