.schedulesPrices
    border: 1px solid #E5E5E5
    border-radius: 2px
    background-color: #F7F5FB
    padding: 20px 10px 15px
    color: #32373D
    font-size: 14px
    text-align: center
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    position: relative
    @media(max-width: 767px)
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__discount
        color: #81838C
        font-size: 13px
        position: absolute
        top: 50%
        left: 15px
        margin-top: -22px
        text-decoration: line-through
        z-index: 3
    .field-case
        padding-bottom: 0
        margin: auto 0 
        @media(max-width: 767px)
            margin: 0
            flex: 0 0 120px
    .field
        text-align: center
        font-size: 13px
        font-weight: bold
        &:hover
            border-color: #5642AB
    &__discount + .field
        text-align: right
    &__label
        position: absolute
        top: -6px
        right: -5px
        padding: 3px 0
        color: #FFFFFF
        font-size: 10px
        font-weight: bold
        line-height: 15px
        text-align: center
        width: 40px  
        border-radius: 2px
        background-color: #5642AB
    .lg
        margin: 0 0 10px
        @media(max-width: 767px)
            flex: 1 1 auto
            margin-right: 10px
            text-align: left
    .sm
        margin-top: 11px
        font-size: 12px
        color: #81838C
        display: block
        @media(max-width: 767px)
            margin-top: 5px
    .num
        font-size: 30px
        font-weight: bold
        color: #272727
        display: block
        text-align: left
    .link-primary
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        text-align: left
        font-weight: bold
        margin-top: auto
        font-size: 15px
        line-height: 1.1
        &:hover
            text-decoration: none
            opacity: 0.8

.schedulesPricesMap 
    padding: 10px 15px
    border: 1px solid #E5E5E5
    background-color: #F7F5FB
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    color: #272727
    position: relative
    &:hover
        color: #272727
    &__label
        position: absolute
        top: -15px
        right: -8px
        padding: 3px 0
        color: #FFFFFF
        font-size: 10px
        font-weight: bold
        line-height: 15px
        text-align: center
        width: 40px  
        border-radius: 2px
        background-color: #5642AB
    &__boxText
        margin-right: auto
    &__title
        display: block
        font-size: 14px
        font-weight: bold
    &__priceBox
        display: block
        font-size: 12px
        color: #81838C
    &__discount
        text-decoration: line-through
    &__price
        color: #272727
        font-weight: bold
    .field-case
        padding-bottom: 0 
        &:hover
            border-color: #5642AB  

.schedules
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    &__title
        margin-bottom: 0
        margin-right: 15px
    &__head
        margin-bottom: 17px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
    &__prop
        margin-bottom: 18px
        max-width: 45%
        @media(max-width: 767px)
            max-width: none
            &:nth-child(1),
            &:nth-child(2)
                flex-basis: 50%
        .name
            color: #81838C
            text-transform: uppercase
            font-weight: bold
            display: block
        .val
            margin-left: 0px
    &__props
        font-size: 12px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: space-between
        
    &__text
        font-size: 14px
        margin-bottom: 20px
        margin-top: 10px
        @media(max-width: 767px)
            margin-top: 0
    &__price
        color: #81838C
        display: block
        margin-bottom: 17px
        text-align: right

        strong
            color: #272727
    &__content
        flex: 1 1 calc(100% - 170px)
        padding-right: 43px
        @media(max-width: 767px)
            width: 100%
            padding-right: 0
            flex: 1 1 auto
    &__control
        flex: 0 0 170px
        position: relative
        @media(max-width: 767px)
            width: 100%
            padding-right: 0
            flex: 1 1 auto
            order: 1
            margin-top: 20px
        .badges
            position: absolute
            right: -15px
            bottom: 30px
            @media(max-width: 767px)
                right: -5px

    &__dates
        font-weight: bold
        display: -webkit-inline-flex
        display: -moz-inline-flex
        display: -ms-inline-flex
        display: -o-inline-flex
        display: inline-flex
        align-items: center
        user-select: none
        &:hover
            text-decoration: none
        i
            margin-right: 10px
        span
            margin: 0 3px    
    &__calendar
        flex: 1 1 100%
        margin-top: 20px
        height: 0
        overflow: hidden
        opacity: 0
        transition: opacity 150ms linear
        &.active
            margin-top: 20px
            height: auto
            overflow: visible
            opacity: 1
        
        .ui-datepicker-calendar
            margin: 0
            th
                font-family: $lato
                font-weight: normal
                color: #81838c
                padding: 0  0 8px 0
                font-size: 12px
                &.ui-datepicker-week-end
                    color: #5642ab
            td
                    color: #272727
                    border: none
                    padding: 0
                    width: 36px
                    position: relative
                    //pointer-events: none
                    a, span
                        display: -webkit-flex
                        display: -moz-flex
                        display: -ms-flex
                        display: -o-flex
                        display: flex
                        align-items: center
                        justify-content: center
                        background: none
                        height: 41px
                        width: 100%
                        min-width: 1px
                        font-size: 14px
                        border: none
                        color: #272727
                        padding: 0
                        margin: 0
                        font-weight: normal
                        position: relative
                    .time
                        width: 128px 
                        border: 1px solid #E5E5E5  
                        border-radius: 2px
                        background-color: #FFFFFF
                        position: absolute
                        bottom: 100%
                        margin-bottom: 5px
                        color: #000
                        display: block
                        height: auto
                        display: none
                        z-index: 3
                        left: 50%
                        margin-left: -64px
                        span
                            display: block
                            margin: 5px 0
                            text-align: center
                            color: #272727 !important
                            font-size: 12px
                            height: auto
                    &:hover
                        .time
                            display: block
                    &:hover
                        background: rgba(103, 90, 132, 0.2)    
                        
                    &.ui-datepicker-week-end 
                        a, span
                            color: #5642ab
                    &.ui-state-disabled
                        cursor: not-allowed  !important
                        background: none !important

        .ui-widget-content
            background: none !important
            padding: 0
            border: none
            border-radius: 0
            box-shadow: none
            
            @media(max-width: 767px)
                width: 100% !important
                &:before, &:after
                    display: none
            .ui-datepicker-group
                @media(max-width: 767px)
                    float: none
                    width: 100%
                    margin: 0 auto
                    max-width: 300px
            .ui-widget-header
                border-radius: 0
                background: none
                border: none
                padding: 0
                margin-bottom: 8px
                .ui-datepicker-title
                    font-size: 12px
                    text-transform: uppercase
                    color: #81838c
                    font-weight: normal
                .ui-datepicker-prev, 
                .ui-datepicker-next
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    justify-content: center
                    border: none !important
                    background: none !important 
                    top: 0 !important
                    height: 100% !important
                    .ui-icon 
                        transform: rotate(45deg)
                        border: 1px solid #83858e
                        width: 8px
                        height: 8px
                        position: static
                        margin-left: 0
                        margin-top: 0
                        background: none
                    &:hover
                        .ui-icon 
                            border-color: #5642ab 
                    &.ui-state-disabled
                        display: none
                        background: none
                .ui-datepicker-prev
                    left: 0 !important 
                    .ui-icon 
                        border-right: none
                        border-top: none

                .ui-datepicker-next
                    right: 0 !important
                    .ui-icon 
                        border-bottom: none
                        border-left: none
            

    &__time
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        border-top: 1px solid #E5E5E5
        padding-top: 10px
        justify-content: center
        align-items: center
        width: 38rem
        justify-content: space-around
        flex-wrap: wrap
        @media(max-width: 767px)
            width: 100%
        .item
            position: relative
            padding-left: 30px
            font-size: 14px
            margin: 10px 5px
            cursor: pointer
            span
                display: block
            .marker
                width: 20px
                height: 20px
                position: absolute
                left: 0
                top: 50%
                margin-top: -10px
            