.searchBy
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    border-radius: 2px
    background: #fff
    flex: 1 1 auto
    position: relative
    z-index: 9
    @media(max-width: 767px)
        flex-direction: column
        background: none
    &__box
        flex: 1 1 auto
        position: relative
        @media(max-width: 767px)
            margin-bottom: 20px
            width: 100%
        input
            display: block
            width: 100%
            background: #fff
            height: 40px
            color: #272727
            font-weight: bold
            border: none
            padding: 0 15px 0 60px
            border-radius: 2px
            @media(max-width: 767px)
                padding-left: 45px
        label
            position: absolute
            left: 15px
            margin-bottom: 0
            height: 100%
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            i
                display: block
                margin-top: 3px
                @media(min-width: 768px)
                    display: none
            span
                color: #272727
                font-family: $mont
                font-size: 15px
                line-height: 15px
                margin-top: 2px
                font-weight: bold
                @media(max-width: 767px)
                    display: none
        .appearance
            position: absolute
            z-index: 99
            height: 100%
            top: 0
            right: 0px
            width: 30px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            pointer-events: none
            &:after
                content: ''
                margin-top: 1px
                border-top: 5px solid #32373D
                border-left: 5px solid transparent
                border-right: 5px solid transparent
            &.active
                &:after
                    transform: rotate(180deg)
        & + .searchBy__box
            &:after
                position: absolute
                height: 20px   
                top: 50%
                left: 0
                margin-top: -10px
                content: ""
                width: 1px
                background: #CCCCCc
                @media(max-width: 767px)
                    display: none
        &.ext
            cursor: pointer
            @media(min-width: 768px)
                flex: 0 0 130px
                width: 130px
            input
                cursor: pointer
                padding: 0 15px

    &__select 
        width: 100%
        @media(min-width: 768px)
            margin: 0 15px
            width: 120px
        .field-case
            @media(min-width: 768px)
                padding-bottom: 0
        .field
            @media(min-width: 768px)
                height: 30px 
                font-size: 12px
                line-height: 30px
                & ~ .appearance
                    height: 28px
                    bottom: 1px
                    &:after
                        border-top: 4px solid #32373d
                        border-left: 4px solid transparent
                        border-right: 4px solid transparent
    &__btn
        border-radius: 0 2px 2px 0
        height: 40px
        width: 40px
        flex: 0 0 40px
        padding: 0
        @media(max-width: 767px)
            width: 100%
        i
            margin: 0
            @media(max-width: 767px)
                display: none
        span
            @media(min-width: 768px)
                display: none 
    &__list
        border-radius: 0 0 2px 2px 
        background-color: #FFFFFF
        position: absolute
        top: 100%
        width: 100%
        max-height: 500px
        overflow-y: auto
        border: 1px solid #E5E5E5
        padding: 5px 0
        z-index: 99
        .current
            color: #FF4A00
            font-size: 16px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            font-weight: bold
            padding: 10px 15px
            cursor: pointer
            &:hover
                background-color: #F9F9F9
            i
                margin-right: 10px
        .listTitle
            font-size: 12px
            color: #81838C
            text-transform: uppercase
            display: block
            margin: 10px 15px
        .list
            +reset-list()
            li
                color: #272727
                font-size: 15px
                padding: 10px 15px
                cursor: pointer
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                &:hover
                    background-color: #F9F9F9
                i
                    margin-right: 10px
