.settings
    &__title
        margin-top: 50px
    &__pass
        span
            color: #81838C
            font-size: 14px
            margin-left: 20px
    .check-case
        min-height: 1px
    &__bnts
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 50px
        @media(max-width: 767px)
            text-align: center
            display: block
        .btns
            width: 100%
            max-width: 160px
            @media(max-width: 767px)
                max-width: 100%
        .remove
            color: #E15554
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            font-size: 14px
            @media(max-width: 767px)
                justify-content: center
                margin-top: 30px
            i
                font-size: 11px
                margin-right: 10px
                position: relative
                top: 2px
    &__alert
        margin-bottom: 0
        font-size: 12px
        padding: 5px 10px 
   
    &__img
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        flex-direction: column
        margin-bottom: 20px
        @media(max-width: 991px) and (min-width: 768px)
            flex-direction: row
        .img
            width: 100%
            @media(max-width: 991px)
                width: 180px
                margin-bottom: 0
            @media(max-width: 767px)
                width: 100%
                max-width: 180px
            .placeholder
                @media(max-width: 991px) and (min-width: 768px)
                    margin-bottom: 0
            img
                width: 100%
                
                display: block
                @media(max-width: 991px) and (min-width: 768px)
                    margin-bottom: 0
                & + .placeholder
                    display: none
            .error
                font-size: 12px
                color: #f00
                min-height: 25px
                padding: 2px 0 4px
                display: block
        .btns
            margin-bottom: 10px
            @media(max-width: 991px)
                width: 180px
                margin-bottom: 0
                margin: 0 20px
            @media(max-width: 767px)
                margin: 0 0 10px 0
                width: 100%
        input
            position: absolute
            left: -9999px
        