.sidebar
    padding-bottom: 70px
    border-left: 1px solid #E5E5E5
    margin-bottom: -70px
    min-height: calc(100% + 70px)
    

    @media(max-width: 991px)
        width: 280px
        border-left: none
        
        min-height: 1px
        left: 100%
        margin: 0
        position: fixed
        top: 0
        padding: 0
        background: #fff
        z-index: 1800
        transition: all 150ms linear
        &.open
           margin-left: -280px
    &__close
        position: absolute
        top: 20px
        right: 20px
        font-size: 11px
        color: #272727
        cursor: pointer
        @media(min-width: 767px)
            display: none
    &__btn
        right: 280px
        top: 152px
        position: absolute
        @media(min-width: 992px)
            display: none
        &.open
            @media(max-width: 767px)
                display: none
    &__content
        @media(max-width: 991px)
            width: 100%
            margin-top: 40px
            padding-top: 50px
            overflow-y: auto
            height: calc(100vh - 40px)