.sidebarMenu
	&__title
		margin-bottom: 30px
		padding-left: 30px
		@media(max-width: 991px)
			margin-right: 15px
		&.ext
			margin-bottom: 20px
		&.cogs
			position: relative
			padding-right: 15px
			.cog
				color: #AEAFB5
				font-size: 14px
				position: absolute
				right: 0
				top: 50%
				margin-top: -5px
	&__list
		+reset-list()
		@media(max-width: 991px)
			margin-right: 15px
		li
			a, span
				display: block
				padding-left: 30px
				color: #272727
				font-size: 16px
				line-height: 20px
				position: relative
				&:after
					position: absolute
					top: 3px
					left: 0
					content: ''
					height: 14px	
					width: 5px
				.count
                    height: 18px
                    width: 18px
                    background-color: #5642AB
                    border-radius: 30px
                    font-size: 12px
                    color: #fff
                    display: -webkit-flex
                    display: -moz-flex
                    display: -ms-flex
                    display: -o-flex
                    display: flex
                    align-items: center
                    justify-content: center
                    position: absolute
                    top: 0
                    right: 0


			&:hover, &.active
				a, span
					color: #FF5E1C
					&:after
						background: #FF5E1C
	.bord
		margin: 20px 0px 20px 30px
		@media(max-width: 991px)
			margin-right: 15px
