.sidebarBox
    padding-left: 30px
    margin-bottom: 30px
    @media(max-width: 991px)
        padding: 0 20px 
    &__title
        margin-bottom: 20px
    &__item
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: flex-start
        color: #81838C
        font-size: 14px
        margin-bottom: 20px
        &.ext
            padding-bottom: 20px
            border-bottom: 1px solid #E5E5E5
        & > i
            margin-top: 5px
            margin-right: 21px
        .link-primary
            font-weight: bold
            i
                margin-right: 5px
                position: relative
                top: 2px
    &__social
        a
            margin: 0 6px
            &:last-child
                margin-right: 0
            &:first-child
                margin-left: 0
            .icn-facebook
                color: #4460A0
            .icn-twitter
                color: #00AAEC
            .icn-instagram
                color: #E82D8A
            .icn-website
                color: #81838C
    .more
        display: block
        font-size: 14px
        border-bottom: 1px solid #E5E5E5
        border-top: 1px solid #E5E5E5
        padding: 5px 0
        text-align: center
        color: #81838C
