.sitePager
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    &__item
        height: 40px
        min-width: 40px
        padding: 0 10px
        color: #81838C
        font-size: 16px
        border-radius: 2px
        border: 1px solid transparent
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        margin: 0 2px
        &:hover
            color: #272727
        &:first-child
            margin-right: auto
            margin-left: 0
            border-color: #81838C
        &:last-child
            margin-left: auto
            margin-right: 0
            border-color: #81838C
        &.active
            border-color: #272727
            color: #272727
        &.hide-mobile
            @media(max-width: 767px)
                display: none
        &.inactive
            opacity: .7
            &:hover
                color: #81838C