.slimScrollDiv
    @media(max-width: 991px)
        height: auto !important
        position: static !important
        overflow: visible !important
    .slimScrollBar, .slimScrollRail
        @media(max-width: 991px)
            display: none !important
    .slimScrollBar
        transition: opacity 150ms linear, background 150ms linear
        opacity: 0.2 !important
        cursor: grab !important
        cursor: -webkit-grab !important
        &:hover, &.active
            opacity: 1 !important
            background: #7e808a  !important