.socNetItem
    margin-bottom: 60px
    &__title
        font-weight: bold
        font-family: $mont
        margin-bottom: 0px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        i
            font-size: 14px
            margin-left: 10px
            color: #858790
    &__info
        font-size: 12px
        margin: 10px 0
    &__body
        align-items: center
        border: 1px solid #e5e5e5
        padding: 10px 15px
        max-width: 500px
        display: none
        @media(max-width: 767px)
            flex-wrap: wrap
        &.active
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
        & > i
            font-size: 30px
            margin-right: 10px
            flex: 0 0 30px
        
        .btns
            @media(max-width: 767px)
                width: 100%
                margin-top: 10px
    &__cnt
        position: relative
        flex: 1 1 auto
        padding-right: 30px
        @media(max-width: 767px)
            padding-right: 0
            width: calc(100% - 45px)
        .link
            font-weight: bold
            display: -webkit-inline-flex
            display: -moz-inline-flex
            display: -ms-inline-flex
            display: -o-inline-flex
            display: inline-flex
            align-items: center
            line-height: 1

        .name
            display: block
            font-size: 14px
            color: #81838C
    .connecting
        border: 2px solid #fff
        border-radius: 50%
        border-top: 2px solid #5642ab
        width: 15px
        height: 15px
        margin-left: 10px
        -webkit-animation: spin 1s linear infinite
        animation: spin 1s linear infinite


@-webkit-keyframes spin
    0%
        -webkit-transform: rotate(0deg)
    100%
        -webkit-transform: rotate(360deg)


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)