.social
    display: -webkit-inline-flex
    display: -moz-inline-flex
    display: -ms-inline-flex
    display: -o-inline-flex
    display: inline-flex
    align-items: center
    a
        margin: 0 8px
        i
            display: block
        &:last-child
            margin-right: 0
        &:first-child
            margin-left: 0
        .icn-facebook
            color: #4460A0
        .icn-twitter
            color: #00AAEC
        .icn-pinterest
            color: #CC2127

