.tableCustom
	th, td
		border-left: none
		border-right: none
		border-top: none
		padding-left: 0
		padding-right: 0
	.green
		color: #3FA875
		display: block
	.red
		color: #E15554
		display: block
	.label
		color: #81838C
		margin-right: 10px
		font-size: 12px
		@media(min-width: 768px)
			display: none
