.thankYouTtable
    border: 1px solid #E5E5E5
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    margin-bottom: 20px
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        padding: 15px
        width: 100%
        align-items: center
        border-bottom: 1px solid #E5E5E5
        @media(max-width: 767px)
            flex-wrap: wrap
            padding: 7px 15px
        .num
            color: #272727
            font-size: 18px
            font-weight: bold
            margin-right: 15px
            @media(max-width: 767px)
                margin: 7px 0
        .date
            color: #81838C
            font-size: 14px
            margin-right: auto
            @media(max-width: 767px)
                margin-right: 0
                margin-left: auto
                width: calc(100% - 100px)
                text-align: right
                
        .total
            font-size: 16px
            color: #81838C
            margin-left: 15px
            @media(max-width: 767px)
                margin-right: 0
                margin-left: auto
            strong
                font-size: 18px
                color: #272727
                font-family: $mont
    &__box
        padding: 15px
        width: 50%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        @media(max-width: 1199px)
            width: 100%
        & + .thankYouTtable__box
            border-left: 1px solid #E5E5E5
            @media(max-width: 991px)
                width: 100%
                border-left: none

        .box
            width: 50%
            @media(max-width: 767px)
                width: 100%
            &.w100
                width: 100%
            & + .w100
                margin-top: 20px   
            strong
                display: block
                font-size: 14px
                margin-bottom: 5px
            p, .text
                font-size: 14px
                margin-bottom: 0
                color: #81838C 
            .addeventatc
                display: inline-block
                padding: 0
                border: none
                box-shadow: none !important
                background: none 
                color: #ff5e1c !important
                font-weight: bold
                z-index: 10
                .addeventatc_icon.atc_node
                    display: none
                &:focus
                    outline: none
                    text-decoration: none
            .cont
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                align-items: center
                font-size: 14px
                i
                    margin-right: 10px
                    position: relative
                    top: 2px
                &:hover
                    text-decoration: none
            &.ext
                border: 1px solid #E5E5E5
                padding: 10px
                position: relative
                .js-showSchedulesDates
                    position: absolute
                    top: 10px
                    right: 10px
                    @media(max-width: 767px)
                        position: static
                    i
                        font-size: 14px
                        display: inline-block
                        margin-left: 6px
                        position: relative
                        top: 1px
                .upper 
                    color: #272727
                    font-size: 12px
                    margin-right: 10px
                    span
                        text-transform: uppercase
                        color: #81838C 
                        font-weight: bold
                .schedules__calendar.ext
                    position: absolute
                    right: 0
                    top: 20px
                    z-index: 50
                    padding: 10px 5px 0px
                    border-radius: 5px
                    background: #fff
                    border: 1px solid #E5E5E5
                    @media(max-width: 767px)
                        margin-top: 0
                        position: static
                        padding: 0
                        border-radius: 0
                        border: none
                        &.active
                            margin-top: 10px
            .process
                display: -webkit-flex
                display: -moz-flex
                display: -ms-flex
                display: -o-flex
                display: flex
                justify-content: flex-end
                font-size: 14px
                align-items: center
                i
                    margin-left: 5px
                    position: relative
                    top: 2px
                    font-size: 11px
                &:hover
                    text-decoration: none

                        
            
    
.thankYou
    .link-primary
        font-weight: bold
        i
            margin-right: 5px
            position: relative
            top: 1px
    &__title
        margin-bottom: 20px
    &__text
        margin-bottom: 50px
    &__sub
        margin-bottom: 0
        margin-right: 15px

    &__share
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        margin-left: auto
        span
            margin-right: 21px
            font-size: 16px
        @media(max-width: 767px)
            width: 100%
            margin-top: 30px
            
    &__head
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        margin-bottom: 25px
        align-items: center
        @media(max-width: 767px)
            flex-wrap: wrap
    &__info
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        border: 1px solid rgba(225,85,84,0.4)
        border-radius: 2px
        background-color: rgba(225,85,84,0.1)
        padding: 20px
        margin-bottom: 50px
        margin-top: -20px
        flex-wrap: wrap
        @media(max-width: 767px)
            justify-content: space-around
        @media(max-width: 576px)
            justify-content: space-between
        a
            flex-basis: 99px
            [class^="icon-"]
                display: block
        p
            margin-bottom: 0
            margin-right: 20px
            @media(max-width: 767px)
                margin-right: 0
                width: 100%
                margin-bottom: 10px
        span
            margin: 0 20px
            @media(max-width: 576px)
                margin: 0
