.widget
    margin-bottom: 30px
    &__title
        margin-bottom: 15px
    &__list
        margin: 0 -5px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        @media(max-width: 991px)
            margin: 0 -15px
        @media(max-width: 767px)
            height: 0
            overflow: hidden
    &__item
        margin: 0 5px
        width: calc(25% - 10px)
        margin-bottom: 10px
        position: relative
        @media(max-width: 991px)
            width: calc(16.666% - 30px)
            margin-left: 15px
            margin-right: 15px
        .icn-play
            position: absolute
            font-size: 32px
            margin-left: 50%
            left: -16px
            top: 50%
            margin-top: -16px
            color: #fff
        img
            width: 100%
        &.lg
            width: calc(50% - 10px)
            @media(max-width: 991px)
                width: calc(33.333% - 30px)
        &.auto
            margin: 0
            width: 100%
            margin-bottom: 0
            position: relative
            display: block

    &__carousel
        position: relative
        @media(min-width: 768px)
            overflow: hidden
            height: 0
        .owl-prev,
        .owl-next
            position: absolute
            top: 50%
            margin-top: -15px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            height: 30px
            width: 30px
            border: 1px solid #E5E5E5
            border-radius: 2px 0 0 2px
            background-color: #FFFFFF
            color: #81838C
            font-size: 14px
        .owl-prev
            left: -15px
        .owl-next
            right: -15px
        