.wishlistPage
    &__add
        text-align: center
        &.ext
            padding-bottom: 50px
        .btns
            width: 100%
            max-width: 185px
            .connecting
                border: 2px solid #ff5e1c
                border-radius: 50%
                border-top: 2px solid #5642ab
                width: 15px
                height: 15px
                margin-right: 10px
                -webkit-animation: spin 1s linear infinite
                animation: spin 1s linear infinite
    &__title
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        