!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .helpNotfound
                .container
                    .row.align-items-center
                        .col-lg-6.d-none.d-lg-block
                            .helpNotfound__img
                                %img{:src => "assets/img/not-found.svg", :alt => ""}/
                        .col-lg-6
                            %h1.helpNotfound__title 404 - Page Not Found 
                            %p.helpNotfound__text
                                We apologize for the inconvenience - the page you requested could not be found. Below are some of our more popular pages that you may be interested in:
                            %img.helpNotfound__pic.d-none.d-md-block.d-lg-none{:src => "assets/img/not-found.svg", :alt => ""}/
                            %ul.orangeList.helpNotfound__list
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Lorem ipsum dolor sit amet
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Lorem ipsum dolor sit amet
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Aenea euismod bibendum laoreet
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Aenea euismod bibendum laoreet
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Prion gravida dolor sit amet lacus accumsan et viverra justo commodo
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Prion gravida dolor sit amet lacus accumsan et viverra justo commodo
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Proin sodales pulvinar tempor
                                %li
                                    %i.icn-angle-right
                                    %a.link-primary{:href => ""} Proin sodales pulvinar tempor
                            %p
                                You can return to our 
                                %a.link.link-primary{:href => ""} front page
                                , or 
                                %a.link.link-primary{:href => ""} drop us a 
                                line if you can't find what you're looking for.
                        
        //=include components/_footer.haml
    