!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true 
            //=include components/_header.haml
            .contact
                .container 
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span About Us
                            //=include components/_back.haml
                            %h1 About Us
                            %p
                                The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message.
                                %br/
                                %br/
                                It has come to a point where images and videos are used more to promote a product or service and this has extended from businesses to our daily routine. We are all in such a hurry that we wave bye instead of saying “goodbye”, show the watch to point to the time and so on. It is a healthy habit considering how we use our hands and motions to indicate what we are upto or capable of. Imagine dancing a few steps to tell someone you are off to a dance class? That would impress them to no end. The same applies when you are interacting with others online through a forum. You can take the assistance of MySpace Layouts to dress up your pages and convey messages to people who come by. 
                                %br/
                                %br/
                                As long as the page does not look too cluttered or it becomes difficult for people to read the text, these extra frills from MySpace Layouts can remain. However, if by using these from the MySpace Layouts, you are aiming at cutting across as professional, you might not really succeed. Because when our pages are filled with text, pictures and other fun elements, it loses its professionalism and becomes a fun page. So, it is advisable for you to choose from the MySpace Layouts sensibly. 
                            %img.img-block{:src => "http://loremflickr.com/915/300/brazil,rio", :srcset => "http://loremflickr.com/915/300/brazil,rio 1x, http://loremflickr.com/1830/600/brazil, rio 2x", :alt => ""}/                    
                            %p
                                The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point where images and videos are used more to promote a product or service and this has extended from businesses to our daily routine. We are all in such a hurry that we wave bye instead of saying “goodbye”, show the watch to point to the time and so on. It is a healthy habit considering how we use our hands and motions to indicate what we are upto or capable of. Imagine dancing a few steps to tell someone you are off to a dance class? That would impress them to no end. The same applies when you are interacting with others online through a forum. You can take the assistance of MySpace Layouts to dress up your pages and convey messages to people who come by.  
                                                
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    .sidebarMenu
                                        %ul.sidebarMenu__list
                                            %li.active
                                                %a{:href => ""} About Us
                                            %li
                                                %a{:href => ""} Knowladge Base
                                            %li
                                                %a{:href => ""} Privacy Policy
                                            %li
                                                %a{:href => ""} Contact Us
                                            
        //=include components/_footer.haml
    