!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .thankYou
                .container
                    .row
                        .col-sm-12
                            %h1.thankYou__title Your purchase was not completed :(
                            %p.thankYou__text
                                Something happened and we could not complete your purchase. 
                            
                            .thankYou__info
                                %p
                                    The payment was faild, try to pay again with 
                                %a{:href => ""}
                                    %i.icon-stripe.icon-stripe-size 
                                %span or
                                %a{:href => ""}
                                    %i.icon-paypal.icon-paypal-size 

                            .thankYou__head
                                %h3.thankYou__sub Order’s Info
                            .thankYouTtable
                                .thankYouTtable__head
                                    %span.num #3876
                                    %span.date May 5, 2018, 6:42PM
                                    .badges.badges-danger Order is paid
                                    %span.total
                                        Total: 
                                        &nbsp;
                                        %strong $500
                                .thankYouTtable__box
                                    .box
                                        %strong Kids (2)
                                        %p
                                            Michael Toporek (age: 10)
                                            %br/
                                            Sarah Toporek (age:11)

                                    .box
                                        %strong Date
                                        %p
                                            May 7, 2018
                                            

                                    .box.w100
                                        %strong Comment
                                        %p
                                            Hi! I want to start lessons on Monday. If it is possible. PLease, don’t call me. I can’t speak when i’m at work. Use WhatsApp or email for communication with me. Thanks.
                                .thankYouTtable__box
                                    .box.w100
                                        %strong Event
                                        %p
                                            %a.link.link-primary{:href => ""} Adventure Out
                                            %br/
                                            %a.link.link-primary{:href => ""} Rock Climbing for Kids and Teenagers

                                    .box.w100.ext
                                        %strong Class “Rock Climbinf for Kids”
                                        %p
                                            %span.upper 
                                                %span the nearest date
                                                Today

                                            %span.upper 
                                                %span price
                                                $250 for a seat
                                        %a.link.link-primary.js-showSchedulesDates{:tabindex => "", "data-text" => "no"}
                                            &nbsp;Show schedule
                                            %i.icn-date
                                        .schedules__calendar.ext
                                            / You can add min date - data-minDate="2019, 03, 20"
                                            .datepicker__calendar
                                            .schedules__time
                                                .schedules__time
                                                    .item{"data-type" => "am"}
                                                        .marker{:style => "background-color: #f1edf9"}
                                                        %span 9:00am - 11:00am
                                                    .item{"data-type" => "pm"}
                                                        .marker{:style => "background-color: #ccc4de"}
                                                        %span 9:00am - 11:00am
                                                    .item{"data-type" => "other"}
                                                        .marker{:style => "background: #f1edf9; background: -moz-linear-gradient(45deg, #f1edf9 50%, #ccc4de 50%); background: -webkit-linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); background: linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1edf9', endColorstr='#ccc4de',GradientType=1 );"}
                                                        %span 9:00am - 10:30am
                                                        %span 9:00pm - 10:30pm
                                    
                            %a.link.link-default{:tabindex => "", "data-target" => "#cancelModal", "data-toggle" => "modal"}
                                Need help?     
                                        
        //=include components/_footer.haml
    