!!!5
%html
    //=include components/_head.haml
    %body.checkoutContent
        %main
            - $header = 'checkout'
            //=include components/_header.haml
            .checkout#checkout
                //=include components/_kid.modals.haml
                %form#checkoutForm{:autocomplete => "off", :action => ""}
                    %input{:type => "hidden", :name => "price", :value => "200"}/
                    .container
                        .row
                            .col-lg-9
                                %h1.checkout__title 
                                    Checkout
                                %h2.checkout__subtitle Rock Climbing for Kids and Teenagers
                                %a.link.link-primary{:href => ""} Adventure Out
                                .checkout__address
                                    900 Poplar Pl S, Seattke, WA 98144
                                    %a.link.link-primary.js-showMapModal{:tabindex => "", "data-info" => '[ { "type": "FeatureCollection", "features": [ { "type": "Feature", "properties": { "id": "ak16994521", "message": { "title": "Rock Climbing for Kids and Teenagers", "price": "$160-$320", "age": "age: 8-14" } }, "geometry": { "type": "Point", "coordinates": [ -100.017, 45.457 ] } } ] } ]'} Show on the map
                                %h4.checkout__smalltitle 
                                    %a{:href => ""}
                                        Camp “Young Climber”
                                    .badges.badges-success Today
                                .checkout__info
                                    .cnt
                                        .checkout__props
                                            .checkout__prop
                                                %span.name Date
                                                %span.val Today

                                            .checkout__prop
                                                %span.name Time
                                                %span.val 8:00am-11:00am

                                            .checkout__prop
                                                %span.name Stats
                                                %span.val 4

                                            .checkout__prop
                                                %span.name Age 
                                                %span.val 8-14

                                            .checkout__prop
                                                %span.name Group
                                                %span.val 5-10
                                        %p
                                            Kids 7-10 years old, all day since 9am to 11am, skill level is not required (you have never engaged in rock climbing before)
                                    //.after.js-openSchedule
                                    / .list
                                    /     - (1..10).each do |i|
                                    /         .item
                                    /             %input.js-schedule{:type => "radio", :name => "schedule", :value => "schedule"}/
                                    /             .content
                                    /                 .checkout__props
                                    /                     .checkout__prop
                                    /                         %span.name Date
                                    /                         %span.val Today

                                    /                     .checkout__prop
                                    /                         %span.name Time
                                    /                         %span.val 8:00am-11:00am

                                    /                     .checkout__prop
                                    /                         %span.name Stats
                                    /                         %span.val 4

                                    /                     .checkout__prop
                                    /                         %span.name Age 
                                    /                         %span.val 3-14

                                    /                     .checkout__prop
                                    /                         %span.name Group
                                    /                         %span.val 5-10
                                    /                 %p
                                    /                     Kids 5-10 years old, all day since 9am to 11am, skill level is not required (you have never engaged in rock climbing before)

                                
                                .checkout__step.step1
                                    .checkout__stepBody
                                        .row
                                            .col-md-4.col-xl-4.selectContainer
                                                .field-case
                                                    %label.field-name 
                                                        Nearest date
                                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    %input.field.field-icon.checkout__calendar{:readonly => "", :type => "text", :name => "date"}/
                                                    %i.icn-date
                                                    .appearance
                                                .infoInput Define start day
                                            / .col-md-4.col-xl-3
                                            /     .field-case
                                            /         %label.field-name 
                                            /             Nearest Time
                                            /             %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                            /         %select.field.js-select{:name => "nearestTime"}
                                            /             %option{:value => ""} Select one ...
                                            /             %option{:value => "United States"} United States
                                            /             %option{:value => "Canada"} Canada
                                            
                                        .btnsBox
                                            %a.btns.btns-primary.disabled.js-next{"data-action" => "email"} Next
                                .checkout__step.step2
                                    %h2.checkout__stepTitle
                                        Customer
                                        %i.icn-angle-down

                                    .checkout__stepBody.customer
                                        .row
                                            .col-12
                                                .row
                                                    .col-md-12{"data-note" => "email"}
                                                        .field-case
                                                            %strong 
                                                                Please enter your Email and then click 'Enter'
                                                    .col-md-6
                                                        .field-case
                                                            %label.field-name 
                                                                Email Address 
                                                                %span *

                                                                %i.icn-info-solid{ "data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                            %input.field.js-email{:disabled => "disabled", :type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "true"}/
                                                    
                                                .row.hidden{"data-case" => "password"}
                                                    .col-md-12
                                                        .alert.alert-success
                                                            .row.align-items-center
                                                                .col-md-4.col-xl-5
                                                                    You are registered already, please insert your password and click  
                                                                    %strong 'Sign In'    
                                                                    %a{:href => ""} What does it mean ?
                                                                .col-md-5.col-xl-5
                                                                    .field-case
                                                                        %label.field-name.passName
                                                                            Password
                                                                            %span *
                                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "top", :title => "hint for you", 'data-container' => "element"}
                                                                            %a.link.link-primary{:tabindex => "", "data-target" => "#forgotModal2", "data-toggle" => "modal"} Forgot password ?
                                                                        %input.field.js-password{:disabled => "disabled", :type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.",}/
                                                                .col-md-3.col-xl-2
                                                                    .field-case
                                                                        %label.field-name
                                                                            &nbsp;
                                                                        %span.btns.btns-block.btns-primary.js-singIn
                                                                            Sign In
                                                .row.hidden{"data-case" => "newpassword"}
                                                    .col-md-12
                                                        .alert.alert-success
                                                            .row.align-items-center
                                                                .col-md-4
                                                                    You are not registered yet. To sign-in please create a password, confirm it, and then click 
                                                                    %strong 'Enter'
                                                                    %br/    
                                                                    %a{:href => ""} What does it mean ?
                                                                .col-md-4     
                                                                    .field-case
                                                                        %label.field-name 
                                                                            Create Password
                                                                            %span *
                                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                                        %input.field#passwordCheck.js-newpassword{:disabled => "disabled", :type => "password", :name => "newpassword", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/
                                                                        
                                                                .col-md-4
                                                                    .field-case
                                                                        %label.field-name 
                                                                            Confirm Password
                                                                            %span *
                                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                                        %input.field.js-passwordconf{:disabled => "disabled", :type => "password", :name => "repassword", :required => "true", "data-msg-required" => "Please enter your confirm password.", :placeholder => "Enter Confirm Password",  "data-rule-equalTo" => "#passwordCheck", "data-msg-equalTo" => "Your password confirmation doesn’t match your password."}/
                                                    
                                                .row.hidden{"data-case" => "userInfo"}
                                                    .col-md-6
                                                        .field-case
                                                            %label.field-name 
                                                                First Name
                                                                %span *
                                                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                            %input.field{:disabled => "disabled", :type => "text", :name => "firstname", :placeholder => "Enter First Name", :required => "true", "data-msg-required" => "Please enter your first name."}/
                                                    .col-md-6
                                                        .field-case
                                                            %label.field-name 
                                                                Last Name
                                                                %span *
                                                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                            %input.field{:disabled => "disabled", :type => "text", :name => "lastname", :placeholder => "Enter Last Name", :required => "true", "data-msg-required" => "Please enter your last name."}/
                                                    .col-md-6
                                                        .field-case
                                                            %label.field-name 
                                                                Cell Phone
                                                                %span *
                                                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                            %input.field{:disabled => "disabled", :type => "tel", :name => "phone", :placeholder => "Enter your phone.", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/ 
                                                    .col-md-6
                                                        .field-case
                                                            %label.field-name 
                                                                Your location
                                                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                            %input.field{:disabled => "disabled", :type => "text", :name => "location", :placeholder => "Enter your location"}/
                                        .btnsBox
                                            %a.btns.btns-primary.disabled.js-next{"data-action" => "registration"} Next
                                .checkout__step.step3
                                    %h2.checkout__stepTitle
                                        Kids
                                        %i.icn-angle-down
                                    .checkout__stepBody
                                        .infoInput 
                                            Seat avalilable:
                                            %span.seatCount 5
                                        .checkout__kids
                                            .alert.alert-warning
                                                You try to add more children than amount of seats
                                            .items 
                                                / .item
                                                /     %label.check-case
                                                /         %input{:type => "checkbox", :name => ""}/
                                                /         %span.field-checkbox
                                                /             %i.icn-checkbox
                                                /         .check-name 
                                                /             Bran Stark 
                                                /     .old 10 years old
                                                /     %a.link.link-default{:href => ""}
                                                /         %i.icn-edit
                                                /         Edit
                                            %a.link.link-primary{:tabindex => "", "data-target" => "#kidModal", "data-toggle" => "modal"} 
                                                %i.icn-add
                                                Add Child
                                        .btnsBox
                                            %a.btns.btns-primary.disabled.js-next{"data-action" => "payment"} Next
                                .checkout__step.step4
                                    %h2.checkout__stepTitle
                                        Payment Method
                                        %i.icn-angle-down
                                    .checkout__stepBody
                                        .paymentCheck
                                            %input{:type => "text", :required => "true", :name => "paymentCheck"}/
                                        %label.check-case.checkout__checkCase
                                            %input{:type => "radio", :name => "paymant", :value => "paypal", :required => "true"}/
                                            %span.field-radio
                                                %i.icn-radio
                                            .check-name 
                                                %i.icon-paypal2.icon-paypal2-size 
                                        %label.check-case.checkout__checkCase
                                            %input{:type => "radio", :name => "paymant", :value => "stripe", :required => "true"}/
                                            %span.field-radio
                                                %i.icn-radio
                                            .check-name 
                                                %i.icon-stripe2.icon-stripe2-size 
                                        
                                        .checkout__payinfo.paypal
                                            %strong You selected PayPal. Now what?
                                            %ul
                                                %li
                                                    You’ll be redirected to PayPal.com
                                                %li
                                                    %strong
                                                        This payment will be processed in the U.S. You’ll pay with PayPal in USD.
                                                %li
                                                    Make sure you complete all the steps with PayPal to confirm your booking
                                        .checkout__payinfo.stripe
                                            %strong You selected Stripe. Now what?
                                            %ul
                                                %li
                                                    You’ll be redirected to Stripe.com
                                                %li
                                                    %strong
                                                        This payment will be processed in the U.S. You’ll pay with Stripe in USD.
                                                %li
                                                    Make sure you complete all the steps with Stripe to confirm your booking
                                        .field-case.checkout__comment
                                            %label.field-name 
                                                Comment
                                                %span *
                                            %p
                                                Type your requests in English here – we'll share them with the provider.
                                            %textarea.field.js-comment{:name => "comment", :placeholder => "Leave a comment..", :required => "true", "data-msg-required" => "Please enter your comment.",}

                            .col-lg-3
                                .checkout__leftBar
                                    .h4 Camp “Young Climber”
                                    .items
                                        .item
                                            .name Amount
                                            .value
                                                %input{:type => "text", :name => "seats", :value => "0", :readonly => ""}/  
                                                seats 
                                                
                                        .item
                                            .name Date
                                            .value.date 
                                                04/10/2019
                                        .item
                                            .name Time
                                            .value.time 
                                                9:00am - 11:00am
                                    %p.text-success
                                        Please select children for counting price

                                    .total.hide
                                        .name Total
                                        .value
                                            %strong
                                                CAD
                                                %span.val
                                            per month
                                    .total.hide
                                        .name You will be charged
                                        .value
                                            %strong
                                                USD
                                                %span.conv
                                            per month
                                            %br/
                                            (after currency conversion)
                                    
                            .col-lg-9
                                .checkout__botBar
                                    %p
                                        Please, check the 
                                        %a.link.link-primary{"data-target" => "#cancellationModal", "data-toggle" => "modal", :tabindex => ""} Cancellation Policy 
                                        and 
                                        %a.link.link-primary{:href => ""} waiver 
                                        before paying the order
                                        %br/
                                        We'll send you instant confirmation to 
                                        %strong user@domain.com 
                                    %botton.btns.btns-success{:type => "submit", :disabled => ""}
                                        Complete booking - 
                                        $
                                        %span 0
                                        
        - $footer = 'checkout'                           
        //=include components/_footer.haml
    