!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .eventsList
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home   
                                %a.link-primary{:href => ""} Companies 
                                %span Adventure Out
                            //=include components/_back.haml
                            //=include components/_company.single.haml
                            - $list = true
                            //=include components/_company.control.haml
                            - (1..4).each do |i|
                                .eventItem.eventsList__item
                                    %a.eventItem__img{:href => ""}
                                        - if i == 3 
                                            .placeholder
                                                .placeholder__inner
                                                    %i.icn-photo
                                                    %span No Photo
                                        - else
                                            %img{:src => "http://loremflickr.com/250/200", :srcset => "http://loremflickr.com/250/200 1x, http://loremflickr.com/500/400 2x", :alt => ""}/
                                    - if i != 4 
                                        %a.addWish.eventItem__icon{"data-target" => "#pleaseSingInModal", "data-toggle" => "modal"}
                                            %i.icn-favorite-o
                                    - else
                                        // if not guest
                                        %a.addWish.animated.js-addWish.eventItem__icon
                                            %i.icn-favorite-o
                                        // if not guest
                                    .eventItem__content
                                        .eventItem__info
                                            %span.dateAge
                                                TODAY
                                                %i.icn-radio
                                                AGE: 8-14
                                            %span.price $160-$320
                                        .eventItem__title
                                            %a{:href => ""}
                                                Rock Climbing for Kids and Teenagers
                                        .eventItem__info
                                            .eventItem__address.ext
                                                900 Poplar Pl S, Seattke, WA 98144
                                            .rate
                                                %i.icn-star.active
                                                %i.icn-star.active
                                                %i.icn-star.active
                                                %i.icn-star
                                                %i.icn-star
                                            %a.commentsCount.eventItem__comments{:href => ""}
                                                %i.icn-comments
                                                3
                                        .eventItem__text.ext
                                            This camp is designed for those kids ages 8-14 who want to experience the thrill of outdoor rock climbing. Each half-day (4-hour) class will be held at Castle Rock State Park in the Los Gatos/Santa Cruz Hills. No previous experience is necessary and advanced coaching also available for kids that have climbed before 
                                        .eventItem__tags
                                            %a.tag{:href => ""} Outdoor Activities
                                            %a.tag{:href => ""} SPORT
                                            %a.tag{:href => ""} TEAM SPORT
                                        
                                        
                                        
                            //=include components/_pager.haml
                        .col-lg-3
                            .sidebar.js-sidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-info
                                .sidebar__content
                                    %i.icn-close.sidebar__close.js-closeSidebar
                                    //=include components/_sidebar.company.haml
                                    
                                    
                                        
        //=include components/_footer.haml
    