!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .eventsList
                .container 
                    .row
                        .col-lg-12
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span Companies
                            //=include components/_back.haml
                            %h1.eventsList__title Companies in Seattle, WA
                            - $list = true
                            //=include components/_company.list.control.haml 
                        .col-lg-9
                            - (1..5).each do |i|
                                .companyItem.eventsList__item
                                    %a.companyItem__img{:href => ""}
                                        - if i == 2
                                            .placeholder
                                                .placeholder__inner.sm
                                                    %i.icn-photo
                                                    %span No Photo
                                        - else 
                                            %img{:src => "assets/img/pop-logo.png", :srcset => "assets/img/pop-logo.png 1x, assets/img/pop-logo.png 2x", :alt => "alt", :title => "title"}/
                                    .companyItem__content
                                        %h2.companyItem__title 
                                            %a{:href => ""} Advanture Out
                                        .companyItem__info
                                            .companyItem__events
                                                EVENTS:
                                                %span 22
                                            .rate
                                                %i.icn-star.active
                                                %i.icn-star.active
                                                %i.icn-star.active
                                                %i.icn-star
                                                %i.icn-star
                                            %a.commentsCount.companyItem__comments{:href => ""}
                                                %i.icn-comments
                                                3
                                        %p.companyItem__text
                                            Since our founding in 2004, the mission of Adventure Out has been simple: to help people fall back in love with nature. We accomplish this providing programs of the highest quality and safety standards that get people outdoors, physically active, and adventuring in nature. By providing this time and space for people to escape the hustle-and-bustle of daily life, we accomplish what we consider to be some of most important environmental work of all-helping people to reconnect with our natural world.
                                        .companyItem__tags
                                            %a.tag{:href => ""} Outdoor Activities
                                            %a.tag{:href => ""} SPORT
                                            %a.tag{:href => ""} TEAM SPORT
                                        %a.link.link-primary.companyItem__link.js-showAddressModal{:tabindex => "", "data-info" => ''}
                                            %i.icn-map
                                            Show 3 Addresses on the Map
                                        %a.btns.btns-primary.btns-block.companyItem__btn{:href => ""} Show Events
                            //=include components/_pager.haml
                        .col-lg-3
                            .sidebar.js-sidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-filters
                                .sidebar__content
                                    %i.icn-close.sidebar__close.js-closeSidebar
                                    .filterSidebar
                                        .filterSidebar__map
                                            %a.btns.btns-primary{:href => ""} 
                                                %i.icn-map
                                                View Map
                                        //=include components/_filter.sidebar.company.haml
        //=include components/_footer.haml
    