!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .eventsList
                .container

                    .row
                        .col-lg-12
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span Companies
                            //=include components/_back.haml
                            %h1.eventsList__title Companies in Seattle, WA
                            - $list = false
                            //=include components/_company.list.control.haml 
                        .col-lg-9
                            .eventsList__map#companyListMap
                                #map
                                .moreInfo
                                    %i.icn-close.js-closeMoreInfo
                                    .moreInfo__content
                                        .companyBox
                                            .companyBox__head
                                                %a.companyBox__img{:href => ""}
                                                    %img{:src => "assets/img/pop-logo.png", :srcset => "assets/img/pop-logo.png 1x, assets/img/pop-logo.png 2x", :alt => "alt", :title => "title"}/
                                                %h4.companyBox__title 
                                                    %a{:href => ""} Advanture Out
                                            .companyItem__info
                                                .companyItem__events
                                                    EVENTS:
                                                    %span 22
                                                .rate
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star
                                                    %i.icn-star
                                                %a.commentsCount.companyItem__comments{:href => ""}
                                                    %i.icn-comments
                                                    3 
                                            %p.companyBox__text      
                                                Since our founding in 2004, the mission of Adventure Out has been simple: to help people fall back in love with nature. We accomplish this providing programs of the highest quality and safety standards that get people outdoors, physically active, and adventuring in nature. By providing this time and space for people to escape the hustle-and-bustle of daily life, we accomplish what we consider to be some of most important environmental work of all-helping people to reconnect with our natural world.
                                            .companyBox__tags
                                                %a.tag{:href => ""} Outdoor Activities
                                                %a.tag{:href => ""} SPORT
                                                %a.tag{:href => ""} TEAM SPORT 
                                            .companyBox__address#scrollAddress{"data-scrollBar" => "slimeScroll", "data-height" => "240px"}
                                                %span
                                                    %i.icn-map
                                                    175 Hilpert Square Apt. 059
                                                %span
                                                    %i.icn-map
                                                    45 Wilburn Groves Suite 004
                                                %span
                                                    %i.icn-map
                                                    18 Jensen Drives
                                                %span
                                                    %i.icn-map
                                                    175 Hilpert Square Apt. 059
                                                %span
                                                    %i.icn-map
                                                    45 Wilburn Groves Suite 004
                                                %span
                                                    %i.icn-map
                                                    18 Jensen Drives
                                                %span
                                                    %i.icn-map
                                                    175 Hilpert Square Apt. 059
                                                %span
                                                    %i.icn-map
                                                    45 Wilburn Groves Suite 004
                                                %span
                                                    %i.icn-map
                                                    18 Jensen Drives
                                               
                                            %a.btns-block.btns.btns-primary.companyBox__btn{:href => ""} Show Events 
                        .col-lg-3
                            .sidebar.js-sidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-filters
                                .sidebar__content
                                    %i.icn-close.sidebar__close.js-closeSidebar
                                    .filterSidebar
                                        //=include components/_filter.sidebar.company.haml
        //=include components/_footer.haml
    