!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .contact
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span Contact us
                            //=include components/_back.haml
                            %h1 Contact Us
                            %form#contact{:action => ""}
                                .row
                                    .col-lg-8
                                        .row
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Your Name
                                                        %span *
                                                    
                                                    %input.field{:type => "text", :name => "name", :placeholder => "Enter  Name", :required => "true", "data-msg-required" => "Please enter your name."}/
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Company Name
                                                        %span *
                                                    %input.field{:type => "text", :name => "company", :placeholder => "Enter Company Name", :required => "true", "data-msg-required" => "Please enter your company name."}/
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Your email address
                                                        %span *
                                                    %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Your phone
                                                        %span *
                                                    %input.field{:type => "tel", :name => "phone", :placeholder => "Enter your phone.", :required => "true", "data-msg-required" => "Please enter your phone."}/
                                        .field-case
                                            %label.field-name 
                                                Message
                                                %span *
                                            %textarea.field{:name => "msg", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your message."}
                                        .contact__btn
                                            %p
                                                Rest assured that informatiion will be kept secure in line with our 
                                                %br/
                                                %a.link.link-default{:href => ""} Privacy Policy
                                            %input.btns.btns-primary{:type => "submit", :value => "Send", :disabled => ""}/
                                                    
                                                
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    .sidebarMenu
                                        %ul.sidebarMenu__list
                                            %li
                                                %a{:href => ""} About Us
                                            %li
                                                %a{:href => ""} Knowladge Base
                                            %li
                                                %a{:href => ""} Privacy Policy
                                            %li.active
                                                %a{:href => ""} Contact Us
                                            
        //=include components/_footer.haml
    