!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        .wrapper
            %br/
            %h3 Tags Style
            %h1 H1 - Montserrat - 30px Lorem ipsum dolor sit amet
            %h2 H2 - Montserrat - 22px Lorem ipsum dolor sit amet
            %h3 H3 - Montserrat - 18px Lorem ipsum dolor sit amet
            %h4 H4 - Montserrat - 18px Lorem ipsum dolor sit amet
            %h5 H5 - Montserrat - 14px Lorem ipsum dolor sit amet
            %h6 H6 - Montserrat - 14px Lorem ipsum dolor sit amet
            %p p - Arial - 16px  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.
            %strong strong - Arial - 16px Lorem ipsum dolor sit amet
            %br/
            %br/
            %em em - Arial - 16px Lorem ipsum dolor sit amet
            %br/
            %br/
            %a.link.link-primary{:href => ""} a link-primary - Lato - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %a.link.link-secondery{:href => ""} a link-secondery - Lato - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %a.link.link-default{:href => ""} a link-default - Lato - 14px Lorem ipsum dolor sit amet
            %br/
            %br/
            %br/
            %h3 Table
            %br/
            .table-responsive
                %table{:cellspacing => "0"}
                    %thead
                        %tr
                            - (1..4).each do |i|
                                %th LOREM IPSUM
                    %tbody
                        %tr
                            %td 
                                123
                            %td 
                                Voluptatum nam, alias nobis fuga tempore beatae nostrum. 
                            %td 
                                Quidem fugit velit, inventore.
                            %td 
                                Quidem fugit velit, inventore.

                        %tr
                            %td 
                                456
                            %td 
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            %td 
                                Eius consequuntur perferendis pariatur, at libero iste quam!
                            %td 
                                Quidem fugit velit, inventore.

                        %tr
                            %td 
                                789
                            %td 
                                Voluptatum nam, alias nobis fuga tempore beatae nostrum. 
                            %td 
                                Quidem fugit velit, inventore.
                            %td 
                                Quidem fugit velit, inventore.

                        
            %br/
            %br/
            .elements
                .coll-6
                    %h3 UL
                    %br/
                    %ul
                        - (1..2).each do |i|
                            %li ol - Lato - 14px Lorem ipsum dolor sit amet
                            %li ol - Lato - 14px Lorem ipsum dolor sit amet
                        %li 
                            ol - Lato - 14px Lorem ipsum dolor sit amet
                            %ul
                                - (1..3).each do |i|
                                    %li ol - Lato - 14px Lorem ipsum dolor sit amet
                                    
                        - (1..3).each do |i|
                            %li ol - Lato - 14px Lorem ipsum dolor sit amet
                    %br/
                .coll-6
                    %h3 OL
                    %br/
                    %ol
                        - (1..2).each do |i|
                            %li ol - Lato - 14px Lorem ipsum dolor sit amet
                            %li ol - Lato - 14px Lorem ipsum dolor sit amet
                        %li 
                            ol - Lato - 14px Lorem ipsum dolor sit amet
                            %ol
                                - (1..3).each do |i|
                                    %li ol - Lato - 14px Lorem ipsum dolor sit amet
                                    
                        - (1..3).each do |i|
                            %li ol - Lato - 14px Lorem ipsum dolor sit amet
                .coll-6
                    %h3 UL ORANGE
                    %br/
                    %ul.orangeList
                        - (1..10).each do |i|
                            %li 
                                %i.icn-angle-right
                                ul - Lato - 14px Lorem ipsum dolor sit amet
                           
                    %br/
                
            .elements
                .coll-6
                    %div{:style => "font-size: 20px; column-count: 2"}
                        %h3 Icons
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-activites
                            %span{:style => "margin-left: 5px"} icn-activites
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-add
                            %span{:style => "margin-left: 5px"} icn-add
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-age
                            %span{:style => "margin-left: 5px"} icn-age
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-angle-down
                            %span{:style => "margin-left: 5px"} icn-angle-down
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-angle-up
                            %span{:style => "margin-left: 5px"} icn-angle-up
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-angle-left
                            %span{:style => "margin-left: 5px"} icn-angle-left
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-angle-right
                            %span{:style => "margin-left: 5px"} icn-angle-right
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arr-down
                            %span{:style => "margin-left: 5px"} icn-arr-down
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arr-up
                            %span{:style => "margin-left: 5px"} icn-arr-up
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arr-left
                            %span{:style => "margin-left: 5px"} icn-arr-left
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arr-right
                            %span{:style => "margin-left: 5px"} icn-arr-right
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arrows
                            %span{:style => "margin-left: 5px"} icn-arrows
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arrow-down
                            %span{:style => "margin-left: 5px"} icn-arrow-down
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arrow-up
                            %span{:style => "margin-left: 5px"} icn-arrow-up
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arrow-left
                            %span{:style => "margin-left: 5px"} icn-arrow-left
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-arrow-right
                            %span{:style => "margin-left: 5px"} icn-arrow-right
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-bars
                            %span{:style => "margin-left: 5px"} icn-bars
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-bell
                            %span{:style => "margin-left: 5px"} icn-bell
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-booking
                            %span{:style => "margin-left: 5px"} icn-booking


                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-calendar-date
                            %span{:style => "margin-left: 5px"} icn-calendar-date
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-calendar-pluse
                            %span{:style => "margin-left: 5px"} icn-calendar-pluse
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-camps
                            %span{:style => "margin-left: 5px"} icn-camps
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-categories
                            %span{:style => "margin-left: 5px"} icn-categories
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-checkbox
                            %span{:style => "margin-left: 5px"} icn-checkbox
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-child-care
                            %span{:style => "margin-left: 5px"} icn-child-care
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-classes
                            %span{:style => "margin-left: 5px"} icn-classes
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-clone
                            %span{:style => "margin-left: 5px"} icn-clone
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-close
                            %span{:style => "margin-left: 5px"} icn-close
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-cog
                            %span{:style => "margin-left: 5px"} icn-cog
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-comments
                            %span{:style => "margin-left: 5px"} icn-comments
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-date
                            %span{:style => "margin-left: 5px"} icn-date
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-dots
                            %span{:style => "margin-left: 5px"} icn-dots
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-edit
                            %span{:style => "margin-left: 5px"} icn-edit
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-email
                            %span{:style => "margin-left: 5px"} icn-email
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-external
                            %span{:style => "margin-left: 5px"} icn-external
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-facebook
                            %span{:style => "margin-left: 5px"} icn-facebook
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-favorite
                            %span{:style => "margin-left: 5px"} icn-favorite
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-favorite-o
                            %span{:style => "margin-left: 5px"} icn-favorite-o
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-filters
                            %span{:style => "margin-left: 5px"} icn-filters
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-filters-solid
                            %span{:style => "margin-left: 5px"} icn-filters-solid
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-google
                            %span{:style => "margin-left: 5px"} icn-google
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-google-plus
                            %span{:style => "margin-left: 5px"} icn-google-plus
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-info
                            %span{:style => "margin-left: 5px"} icn-info
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-info-solid
                            %span{:style => "margin-left: 5px"} icn-info-solid
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-instagram
                            %span{:style => "margin-left: 5px"} icn-instagram
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-link
                            %span{:style => "margin-left: 5px"} icn-link
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-list
                            %span{:style => "margin-left: 5px"} icn-list
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-location
                            %span{:style => "margin-left: 5px"} icn-location
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-map
                            %span{:style => "margin-left: 5px"} icn-map
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-no-events
                            %span{:style => "margin-left: 5px"} icn-no-events
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-no-events-2
                            %span{:style => "margin-left: 5px"} icn-no-events-2
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-order
                            %span{:style => "margin-left: 5px"} icn-order
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-phone
                            %span{:style => "margin-left: 5px"} icn-phone
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-photo
                            %span{:style => "margin-left: 5px"} icn-photo
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-pinterest
                            %span{:style => "margin-left: 5px"} icn-pinterest
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-play
                            %span{:style => "margin-left: 5px"} icn-play
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-price
                            %span{:style => "margin-left: 5px"} icn-price
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-provider
                            %span{:style => "margin-left: 5px"} icn-provider
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-radio
                            %span{:style => "margin-left: 5px"} icn-radio
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-reply
                            %span{:style => "margin-left: 5px"} icn-reply
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-review-empty
                            %span{:style => "margin-left: 5px"} review-empty

                            
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-search
                            %span{:style => "margin-left: 5px"} icn-search
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-sidebar
                            %span{:style => "margin-left: 5px"} icn-sidebar
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-sign-out
                            %span{:style => "margin-left: 5px"} icn-sign-out
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-star
                            %span{:style => "margin-left: 5px"} icn-star
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-success
                            %span{:style => "margin-left: 5px"} icn-success
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-twitter
                            %span{:style => "margin-left: 5px"} icn-twitter
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-user
                            %span{:style => "margin-left: 5px"} icn-user
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-user-pluse
                            %span{:style => "margin-left: 5px"} icn-user-pluse
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-website
                            %span{:style => "margin-left: 5px"} icn-website
                        
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-wish-empty
                            %span{:style => "margin-left: 5px"} icn-wish-empty
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-wrong
                            %span{:style => "margin-left: 5px"} icn-wrong

                .coll-6
                    %div{:style => "font-size: 20px; column-count: 2"}
                        %h3 Category Icons
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-water-activites
                            %span{:style => "margin-left: 5px"} Water Activities 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-ice-activities
                            %span{:style => "margin-left: 5px"} Ice Activities 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-snow-activities
                            %span{:style => "margin-left: 5px"} Snow Activites
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-dance-activities
                            %span{:style => "margin-left: 5px"} Dance Activites
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-performing-arts
                            %span{:style => "margin-left: 5px"} Performing Arts 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-team-sport
                            %span{:style => "margin-left: 5px"} Team sport
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-indoor-activities
                            %span{:style => "margin-left: 5px"} Indoor Activites
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-outdoor-activities
                            %span{:style => "margin-left: 5px"} Outdoor Activites
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-air-activities
                            %span{:style => "margin-left: 5px"} Air Activites
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-martial-arts
                            %span{:style => "margin-left: 5px"} Martial Arts
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-science
                            %span{:style => "margin-left: 5px"} Science
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-computers
                            %span{:style => "margin-left: 5px"} Computers
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-fun
                            %span{:style => "margin-left: 5px"} Fun 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-space
                            %span{:style => "margin-left: 5px"} Space 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-liberal-arts
                            %span{:style => "margin-left: 5px"} Liberal Arts
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-fine-art
                            %span{:style => "margin-left: 5px"} Fine art
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-handicraft
                            %span{:style => "margin-left: 5px"} Handicraft 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-cinema-theater
                            %span{:style => "margin-left: 5px"} Cinema & Theater
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-cooking
                            %span{:style => "margin-left: 5px"} Cooking
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-music
                            %span{:style => "margin-left: 5px"} Music 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-languages
                            %span{:style => "margin-left: 5px"} Languages
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-museums
                            %span{:style => "margin-left: 5px"} Museums
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-concerts
                            %span{:style => "margin-left: 5px"} Concerts
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-festivals
                            %span{:style => "margin-left: 5px"} Festivals
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-cirques
                            %span{:style => "margin-left: 5px"} Cirques
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-aquariums
                            %span{:style => "margin-left: 5px"} Aquariums 
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-parks
                            %span{:style => "margin-left: 5px"} Parks
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-cafe
                            %span{:style => "margin-left: 5px"} Cafe
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-playhouse
                            %span{:style => "margin-left: 5px"} Playhouse
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-education
                            %span{:style => "margin-left: 5px"} Education
                        %div{:style => "margin-bottom: 10px; display: flex; align-items: center"}
                            %i.icn-material-arts
                            %span{:style => "margin-left: 5px"} Material Arts
            
            %br/
            %br/
            %div
                %i.icon-instagram.icon-instagram-size 
                %i.icon-telegram.icon-telegram-size 
                %i.icon-vk.icon-vk-size 
                %i.icon-whatsApp.icon-whatsApp-size 
                
            %br/
            %br/
            %br/
            %hr/
            %br/
            %br/
            %h3 Form elements
            %br/
            .elements
                .coll-6
                    .field-case
                        %label.field-name Field name
                        %input.field{:type => "text", :placeholder => "Field", :name => ""}/
                    
                    .field-case
                        %label.field-name Field name
                        %input.field.error{:type => "text", :placeholder => "Field wrong", :value => "Field wrong", :name => ""}/
                        %label.error Wrong text

                    .field-case
                        %label.field-name Field name
                        %input.field{:type => "text", :placeholder => "Field disabled", :disabled => "disabled", :name => ""}/
                    //.field-case
                    //    %label.field-name  Field name
                    //    .file-case
                    //        %a.btns.btns-primary Attach file
                    //        %input{:type => "file", :multiple => "", :accept => "image/jpeg, application/msword, application/pdf//", :enctype => "multipart/form-data", :name => ""}/  
                    //        .field 
                    //            Attach files (doc, pdf less 2 mb) 
                .coll-6
                    .field-case
                        %label.field-name Field name
                        %input.field.field-icon{:type => "", :name => "", :placeholder => "Field ", :required => "true"}/
                        %i.icn-calendar-date
                        .appearance
                    .field-case
                        %label.field-name Field name
                        %input.field.field-icon.error{:type => "", :name => "", :placeholder => "Field ", :required => "true"}/
                        %label.error Wrong text
                        %i.icn-calendar-date
                        .appearance
                    .field-case
                        %label.field-name Field name
                        %input.field.field-icon{:type => "text", :placeholder => "Field disabled", :disabled => "disabled", :name => ""}/
                        %i.icn-calendar-date
                        .appearance

                .coll-12
                    .field-case
                        %label.field-name Textarea
                        %textarea.field{:name => "", :placeholder => "Textarea"}
                .coll-6
                    .field-case
                        %label.field-name 
                            Field name
                            %span *
                        %select.field{:name => ""}
                            %option{:value => ""} Select field
                            - (1..5).each do |i|
                                %option{:value => ""} Select item #{i}
                        .appearance
                    .field-case
                        %label.field-name Field name
                        %select.field.error{:name => ""}
                            %option{:value => ""} Select field wrong
                            - (1..5).each do |i|
                                %option{:value => ""} Select item #{i}
                        %label.error Wrong text
                        .appearance
                    .field-case
                        %label.field-name Field name
                        %select.field{:name => "", :disabled => "disabled"}
                            %option{:value => ""} Select field disabled
                            - (1..5).each do |i|
                                %option{:value => ""} Select item #{i}
                        .appearance

                .coll-6
                    .field-case
                        %label.field-name Field name
                        %select.field.js-select{:name => ""}
                            %option{:value => "0"} Select field 
                            - (1..50).each do |i|
                                %option{:value => "#{i}"} Select item #{i}
                    .field-case
                        %label.field-name Field name
                        %select.field.js-select.error{:name => ""}
                            %option{:value => "0"} Select field 
                            - (1..50).each do |i|
                                %option{:value => "#{i}"} Select item #{i}
                        %label.error Wrong text
                    .field-case
                        %label.field-name Field name
                        %select.field.js-select{:name => "", :disabled => "disabled"}
                            %option{:value => "0"} Select field 
                            - (1..50).each do |i|
                                %option{:value => "#{i}"} Select item #{i}
                .coll-6
                    .field-case
                        %label.field-name
                            Category of Interests
                            %span *
                            %i.icn-info-solid
                        %select.field.js-select-multi{:name => "",  :multiple => "multiple"}
                            %option{:value => "0"} Select field 
                            - (1..50).each do |i|
                                %option{:value => "#{i}"} Select item #{i}
                .coll-6
                    %label.field-name Input Number
                    .field-case
                        %input.field{:type => "number", :min => "-10", :max => "25", :placeholder => "Input Number", :value => "1"}/  
                        .increment
                            .up
                            .down
                .coll-6
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :name => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            %span.check-name 
                                checkbox default 
                                %a{:href => "#"}  Accept all terms of service
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input.error{:type => "checkbox", :name => ""}/
                            %label.error Wrong text
                            %span.field-checkbox
                                %i.icn-checkbox
                            %span.check-name checkbox wrong
                
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :disabled => "disabled", :name => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            %span.check-name checkbox disabled
                
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :disabled => "disabled", :checked => "checked", :name => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            %span.check-name checkbox disabled checked  
                .coll-6
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input{:type => "radio", :name => "test"}/
                            %span.field-radio
                                %i.icn-radio
                            %span.check-name radio default
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input.error{:type => "radio", :name => ""}/
                            %label.error Wrong text
                            %span.field-radio
                                %i.icn-radio
                            %span.check-name radio default
                
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input{:type => "radio", :disabled => "disabled", :name => ""}/
                            %span.field-radio
                                %i.icn-radio
                            %span.check-name radio disabled
                
                    .field-case
                        %label.field-name Field name
                        %label.check-case
                            %input{:type => "radio", :disabled => "disabled", :checked => "checked", :name => ""}/
                            %span.field-radio
                                %i.icn-radio
                            .check-name radio disabled checked 
            %br/        
            %br/
            %h3 Buttons
            %br/
            %button.btns.btns-primary Button Priamary
            &nbsp; 
            &nbsp; 
            %button.btns.btns-success Button Success
            &nbsp; 
            &nbsp; 
            %button.btns.btns-default Button default
            &nbsp; 
            &nbsp; 
            %button.btns.btns-default 
                %i.icn-twitter
                Button default with icon
            &nbsp;
            &nbsp;
            %button.btns.btns-primary.disabled Button Disabled
            %br/
            %br/
            %button.btns.btns-facebook
                %i.icn-facebook 
                Facebook
            &nbsp;
            &nbsp;
            %button.btns.btns-facebook.disabled
                %i.icn-facebook 
                Facebook
            &nbsp;
            &nbsp;
            %br/
            %br/
            %button.btns.btns-google-plus
                %i.icn-google-plus 
                Google
            &nbsp;
            &nbsp;
            %button.btns.btns-google-plus.disabled
                %i.icn-google-plus 
                Google
            %br/
            %br/
            %button.btns.btns-sm.btns-primary Button Small Priamary
            &nbsp; 
            &nbsp; 
            %button.btns.btns-sm.btns-default Button Small default
            &nbsp; 
            &nbsp; 
            %button.btns.btns-sm.btns-default 
                %i.icn-twitter
                Button default Small with icon
            &nbsp; 
            &nbsp;
            %button.btns.btns-sm.btns-primary.disabled Button Small Disabled
            %br/
            %br/
            %button.btns.btns-lg.btns-primary Button Large Priamary
            &nbsp; 
            &nbsp; 
            %button.btns.btns-lg.btns-default Button Large default
            &nbsp; 
            &nbsp; 
            %button.btns.btns-lg.btns-default 
                %i.icn-twitter
                Button Large default with icon
            &nbsp; 
            &nbsp;
            %button.btns.btns-lg.btns-primary.disabled Button Large Disabled
            %br/
            %br/
            %br/
            %h3 Buttons Icon
            %br/
            %button.btns.btns-icon 
                %i.icn-clone
            &nbsp; 
            &nbsp;
            %button.btns.btns-icon 
                %i.icn-edit
            &nbsp; 
            &nbsp;
            %button.btns.btns-icon 
                %i.icn-close
            &nbsp; 
            &nbsp;
            %button.btns.btns-icon.disabled 
                %i.icn-close
            %br/
            %br/
            
            %h3 Breadcrumbs
            %br/
            .breadcrumbs
                %a.link-primary{:href => ""} Home
                %a.link-primary{:href => ""} Events
                %a.link-primary{:href => ""} Camps
                %a.link-primary{:href => ""} Sport
                %span Rock climbing for Kids and Teenagers
            %a.link-primary.back{:href => ""}
                %i.icn-arrow-left
                Back
            %br/
            %br/
            %h3 Sidebar Button
            %br/
            %a.sidebarBtn{:href => ""}
                %i.icn-sidebar
            &nbsp; 
            &nbsp;
            %a.sidebarBtn.open{:href => ""}
                %i.icn-sidebar
            %br/
            %br/
            %br/
            %h3 Sidebar Button
            %br/
            %div{:style => "padding: 15px; background: #000"}
                %a.wishlist.menuBar__wishlist{:href => ""}
                    .wishlist__icon
                        %span.wishlist__count 1
                        %i.icn-favorite-o
                    Wishlist
                &nbsp; 
                &nbsp;
                %a.wishlist.menuBar__wishlist{:href => ""}
                    .wishlist__icon
                        %i.icn-favorite-o
                    Wishlist
            %br/
            %br/
            %h3 Review Info
            %br/
            .reviewInfo.reviewInfo-success{:style => "position: relative; bottom: 0; right: 0"}
                %i.icn-success.reviewInfo__icon
                .reviewInfo__text
                    Your complaint has been sent to the moderator
            %br/
            .reviewInfo.reviewInfo-wrong{:style => "position: relative; bottom: 0; right: 0"}
                %i.icn-wrong.reviewInfo__icon
                .reviewInfo__text
                    Your complaint has been sent to the moderator
            %br/
            .reviewInfo.reviewInfo-warning{:style => "position: relative; bottom: 0; right: 0"}
                %i.icn-info.reviewInfo__icon
                .reviewInfo__text
                    Your complaint has been sent to the moderator
            %br/
            .reviewInfo.reviewInfo-warning{:style => "position: relative; bottom: 0; right: 0"}
                %i.icn-bell.reviewInfo__icon
                .reviewInfo__text
                    Your complaint has been sent to the moderator
            %br/
            %br/
            %h3 Badges
            .badges2.badges2-default badges default
            .badges2.badges2-success badges success
            .badges2.badges2-danger badges danger
            .badges2.badges2-warninig badges warninig
            .badges2.badges2-info badges info
            .badges2.badges2-primary badges primary
            .badges2.badges2-secondary badges secondary
            .badges2.badges2-dark badges dark
            %br/
            %br/
            .badges.badges-discount discount
            .badges.badges-success success
            .badges.badges-danger danger
            %br/
            %br/

            
            
        //=include components/_footer.haml