!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .eventsList
                .container
                    .row
                        .col-lg-12
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span Events
                            //=include components/_back.haml
                            %h1.eventsList__title All Events and Classes for Kidsw in Seattle
                            - $list = false
                            //=include components/_events.list.control.haml
                        .col-lg-9
                            .eventsList__noresults
                                %h2
                                    No result for “Camps Sport’ in Seattle, WA

                                %p
                                    Doh! There aren’t any classes currently serving that address, but we’re always expanding.
                                    If you have any local favorites, then email notifyme@delivery.com and we’ll do our best to get them on the platform!
                                    %br/
                                    %br/
                                    Suggestions for improving the results:

                                %ul
                                    %li Double check your spelling
                                    %li Try using single words (e.g. cooking, painting)
                                    %li Try searching for an item that is less specific
                        .col-lg-3
                            .sidebar.js-sidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-filters
                                .sidebar__content
                                    %i.icn-close.sidebar__close.js-closeSidebar
                                    .filterSidebar
                                        //=include components/_filter.sidebar.haml
        //=include components/_footer.haml
    