!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .eventsPage
                .container
                    .row
                        .col-lg-12
                            %span.notification{"data-type" => "reviewInfo-success", "data-icon" => "icn-success"}
                                This is success notification
                            %span.notification{"data-type" => "reviewInfo-wrong", "data-icon" => "icn-wrong"}
                                This is wrong notification
                            %span.notification{"data-type" => "reviewInfo-warning", "data-icon" => "icn-info"}
                                This is warning notification
                            %span.notification{"data-type" => "reviewInfo-warning", "data-icon" => "icn-bell"}
                                This is warning notification
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Events
                                %a.link-primary{:href => ""} Camps
                                %a.link-primary{:href => ""} Sport
                                %a.link-primary{:href => ""} Rock climbing for
                                %span Kids and Teenagers
                            //=include components/_back.haml
                            .eventsPage__head
                                %h1.eventsPage__title Rock Climbing for Kind and Teenagers
                                %a.btns.btns-primary{:href => ""} Book Now
                        .col-lg-4
                            .row
                                .col-md-6.col-lg-12
                                    .eventsPage__mainPhoto
                                        / .placeholder
                                        /    .placeholder__inner
                                        /        %i.icn-photo
                                        /        %span No Photo
                                        %a.eventsPage__link{:href => "http://loremflickr.com/600/600/brazil,rio", "data-fancybox" => "gallery", "data-caption" => "Photo"}
                                            %img{:src => "http://loremflickr.com/390/260/brazil,rio", :srcset => "http://loremflickr.com/390/260/brazil,rio 1x, http://loremflickr.com/780/520/brazil,rio 2x", :alt => ""}/
                                        %a.addWish.eventsPage__icon{"data-target" => "#pleaseSingInModal", "data-toggle" => "modal"}
                                            %i.icn-favorite-o
                                        %a.addWish.animated.js-addWish.eventsPage__icon
                                            %i.icn-favorite-o
                                .col-md-6.d-lg-none
                                    .infoEvent.eventsPage__infoEvent
                                        .infoEvent__item
                                            %i.icn-provider
                                            %a.link.link-primary{:href => ""} Adventure Out
                                        .infoEvent__item
                                            %i.icn-map
                                            %span
                                                Seattle Washington 900 Poplar Pl S, Seattke, WA 98144
                                                %br/
                                                %a.link.link-primary.js-showMapModal{:tabindex => "", "data-info" => '[ { "type": "FeatureCollection", "features": [ { "type": "Feature", "properties": { "id": "ak16994521", "message": { "title": "Rock Climbing for Kids and Teenagers", "price": "$160-$320", "age": "age: 8-14" } }, "geometry": { "type": "Point", "coordinates": [ -100.017, 45.457 ] } } ] } ]'}  Show on the Map
                                        .infoEvent__item
                                            %i.icn-date
                                            Today
                                        .infoEvent__item
                                            %i.icn-age
                                            8-14 year
                                        .infoEvent__item
                                            %i.icn-price
                                            $160 - $320

                                    
                            .widget
                                %h2.widget__title Photos
                                .widget__list
                                    - ["brazil,rio", "dog", 'kitten', 'paris', "brazil", 'paris,girl'].each do |i|
                                        %a.widget__item{:href => "http://loremflickr.com/600/600/#{i}", "data-fancybox" => "gallery", "data-caption" => "Photo #{i}"}
                                            %img{:src => "http://loremflickr.com/90/90/brazil,rio", :srcset => "http://loremflickr.com/90/90/brazil,rio 1x, http://loremflickr.com/180/180/brazil,rio 2x", :alt => ""}/
                                .widget__carousel
                                    .widget__slider.owl-carousel{"data-items" => "3"}
                                        - ["brazil,rio", "dog", 'kitten', 'paris', "brazil", 'paris,girl'].each do |i|
                                            %a.widget__item.auto{:href => "http://loremflickr.com/600/600/#{i}", "data-fancybox" => "gallery", "data-caption" => "Photo #{i}"}
                                                %img{:src => "http://loremflickr.com/90/90/brazil,rio", :srcset => "http://loremflickr.com/90/90/brazil,rio 1x, http://loremflickr.com/180/180/brazil,rio 2x", :alt => ""}/

                            .widget
                                %h2.widget__title Vidoe
                                .widget__list
                                    - ["https://www.youtube.com/watch?v=_sI_Ps7JSEk", "https://www.youtube.com/watch?v=EjQ7jJx9PJk&t=", "https://www.youtube.com/watch?v=UQZ26BV8AU0"].each do |i|
                                        %a.widget__item.lg{"data-fancybox" => "videos", :href => "#{i}"}
                                            %i.icn-play
                                            %img{:src => "http://loremflickr.com/190/130/brazil,rio", :srcset => "http://loremflickr.com/190/130/brazil,rio 1x, http://loremflickr.com/380/260/brazil,rio 2x", :alt => ""}/
                                .widget__carousel
                                    .widget__slider.owl-carousel{"data-items" => "1"}
                                        - ["https://www.youtube.com/watch?v=_sI_Ps7JSEk", "https://www.youtube.com/watch?v=EjQ7jJx9PJk&t=", "https://www.youtube.com/watch?v=UQZ26BV8AU0"].each do |i|
                                            %a.widget__item.auto{"data-fancybox" => "videos", :href => "#{i}"}
                                                %i.icn-play
                                                %img{:src => "http://loremflickr.com/190/130/brazil,rio", :srcset => "http://loremflickr.com/190/130/brazil,rio 1x, http://loremflickr.com/380/260/brazil,rio 2x", :alt => ""}/

                        .col-lg-8
                            .row
                                .col-lg-8
                                    .eventsPage__control
                                        .rate
                                            %i.icn-star.active
                                            %i.icn-star.active
                                            %i.icn-star.active
                                            %i.icn-star
                                            %i.icn-star
                                        %a.commentsCount.eventsPage__comments{:tabindex => "", "data-scroll" => "#eventsPageReviews"}
                                            %i.icn-comments
                                            3
                                        .social.eventsPage__social.js-social
                                            %a{:tabindex => "", "data-href" => "http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com"}
                                                %i.icn-facebook
                                            %a{:tabindex => "", "data-href" => "http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons"}
                                                %i.icn-twitter
                                            %a{:tabindex => "", "data-href" => "http://pinterest.com"}
                                                %i.icn-pinterest
                                    %p.eventsPage__text
                                        Go climbing with the Bay Area’s top climbing guides. We operate regular programms at Castle Rock State Park located in the Santa Cruz Mountains and Pinnacles National Park on the Central Coast (private/custom bookings also available upon requestat Mt Diablo and the Berkeley Hills). When you climb with Adventure Outб you’ll take pride in knowing that you are not only getting the best instruction possible, but part of the proceeds from your trip go back to the parks where we climb(in 2012, in the face of state park closures
                                    .eventsPage__tags
                                        %a.tag{:href => ""} Outdoor Activities
                                        %a.tag{:href => ""} SPORT
                                        %a.tag{:href => ""} TEAM SPORT

                                .col-lg-4.d-sm-none.d-md-none.d-lg-block
                                    .infoEvent.eventsPage__infoEvent
                                        .infoEvent__item
                                            %i.icn-provider
                                            %a.link.link-primary{:href => ""} Adventure Out
                                        .infoEvent__item
                                            %i.icn-map
                                            %span
                                                Seattle Washington 900 Poplar Pl S, Seattke, WA 98144
                                                %br/
                                                %a.link.link-primary.js-showMapModal{:tabindex => "", "data-info" => '[ { "type": "FeatureCollection", "features": [ { "type": "Feature", "properties": { "id": "ak16994521", "message": { "title": "Rock Climbing for Kids and Teenagers", "price": "$160-$320", "age": "age: 8-14" } }, "geometry": { "type": "Point", "coordinates": [ -100.017, 45.457 ] } } ] } ]'}  Show on the Map
                                        .infoEvent__item
                                            %i.icn-date
                                            Today
                                        .infoEvent__item
                                            %i.icn-age
                                            8-14 year
                                        .infoEvent__item
                                            %i.icn-price
                                            $160 - $320
                            .row
                                .col-lg-12
                                    .eventsPage__schedules
                                        %h2.eventsPage__schedulesTitle  Schedules and Prices
                                        %p.eventsPage__schedulesText
                                            Please, check the 
                                            %a.link.link-primary{:tabindex => "", "data-target" => "#cancellationModal", "data-toggle" => "modal"} 
                                                cancellation policy 
                                            before make an order
                                        .eventsPage__schedulesList
                                            - (1..10).each do |i|
                                                .schedules.eventsPage__schedulesItem{:class => "#{i > 4 ? 'hidden' : ''}"}
                                                    .schedules__content
                                                        .schedules__head
                                                            %h3.schedules__title Camp “Young Climber”
                                                            - if i == 1
                                                                .badges.badges-success Today
                                                        .schedules__props
                                                            .schedules__prop
                                                                %span.name Date
                                                                %span.val Today

                                                            .schedules__prop
                                                                %span.name Time
                                                                %span.val 
                                                                    - if i < 3
                                                                        8:00am-11:00am,
                                                                        8:00am-11:00am,
                                                                        8:00am-11:00am,
                                                                        8:00am-11:00am
                                                                    - else
                                                                        8:00am-11:00am 

                                                            .schedules__prop
                                                                %span.name Stats
                                                                %span.val 4

                                                            .schedules__prop
                                                                %span.name Age 
                                                                %span.val 8-14

                                                            .schedules__prop
                                                                %span.name Group
                                                                %span.val 5-10
                                                        %p.schedules__text
                                                            Kids 7-10 years old, all day since 9am to 11am, skill level is not required (you have never engaged in rock climbing before)

                                                    .schedules__control
                                                        .schedules__price 
                                                            - if i != 1
                                                                %del $200
                                                                %strong $160 
                                                            - else
                                                                %strong $200 
                                                            %span / per month
                                                        %a.btns.btns-block.btns-primary{:href => ""} Book Now
                                                        - if i != 1
                                                            .badges.badges-discount -20%

                                                    %a.link.link-primary.schedules__dates.js-showSchedulesDates{:tabindex => ""}
                                                        %i.icn-date
                                                        %span Show 
                                                        full scheldule
                                                    .schedules__calendar
                                                        / You can add min date - data-minDate="2019, 03, 20"
                                                        .datepicker__calendar
                                                        .schedules__time
                                                            .item{"data-type" => "am"}
                                                                .marker{:style => "background-color: #f1edf9"}
                                                                %span 9:00am - 11:00am
                                                            .item{"data-type" => "pm"}
                                                                .marker{:style => "background-color: #ccc4de"}
                                                                %span 9:00am - 11:00am
                                                            .item{"data-type" => "other"}
                                                                .marker{:style => "background: #f1edf9; background: -moz-linear-gradient(45deg, #f1edf9 50%, #ccc4de 50%); background: -webkit-linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); background: linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1edf9', endColorstr='#ccc4de',GradientType=1 );"}
                                                                %span 9:00am - 10:30am
                                                                %span 9:00pm - 10:30pm
                                        .eventsPage__more
                                            %a.link.link-primary.js-moreScheldules{:tabindex => ""}
                                                Show all scheldules
                                    .eventsPage__reviews#eventsPageReviews
                                        %h2.eventsPage__subtitle.js-toggleMenu
                                            Reviews (22)
                                            %i.icn-angle-down
                                        .eventsPage__reviewsContent#reviews
                                            %app-writerevue{":mini" => "true"}
                                            - (1..4).each do  |i|
                                                .review
                                                    .avatar.review__avatar
                                                        %i.icn-user
                                                        %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                                                    .review__content
                                                        .review__control
                                                            .review__nameDate
                                                                %span.review__name Sheba K.
                                                                %span.review__date.perfect-date 
                                                                    2019-03-28 00:00:00 (UTC)
                                                                - if i != 4
                                                                    .review__iterator
                                                                        %i.icn-angle-up.js-iterator{"data-iterator" => "up"}        
                                                                        %span 0
                                                                        %i.icn-angle-down.js-iterator{"data-iterator" => "down"}
                                                            %span.review__id Review ID: 87399   
                                                            .rate.review__rate
                                                                %i.icn-star.active
                                                                %i.icn-star.active
                                                                %i.icn-star.active
                                                                %i.icn-star
                                                                %i.icn-star 
                                                        %p.review__text
                                                            My LO has been going to Kiddie Academy of Hamilton for over a year and half now and she absolutely loves it. I have never had a day when she said she didn’t want to go to her school and that speaks volumes about how much fun she has there. The teachers are extremely caring and the management is fantastic especially in terms of communication to the parents. Every day you get a detailed report sbout all the activities your kid was involved in. The cherry on the top is the axcellent food that is provided.
                                                        - if i == 1 || i == 2
                                                            .review__inputBoxEdit
                                                                %app-writerevue{":type" => "'edit'", ":rating" => "4", ":value" => "'My LO has been going to Kiddie Academy of Hamilton for over a year and half \\n now and she absolutely loves it. I have never had a day when she said she didn’t want to go to her school and that speaks volumes about how much fun she has there. The teachers are extremely caring and the management is fantastic especially in terms of communication to the parents. Every day you get a detailed report sbout all the activities your kid was involved in. The cherry on the top is the axcellent food that is provided.'"} 
                                                            .review__reply 
                                                                %span
                                                                    %span.js-writeReply Reply 
                                                                    %i.icn-dots.js-reply
                                                                .replyBody
                                                                    %a.js-edit Edit
                                                                    %a.del.js-remove Delete
                                                            .review__inputBox
                                                                %app-writerevue{":rate" => "false"}  
                                                        - if i == 3
                                                            .review__reply 
                                                                %span
                                                                    %span.js-writeReply Reply  
                                                                    %i.icn-dots.js-reply
                                                                .replyBody
                                                                    %a{:tabindex => "", "data-target" => "#checkAbuse", "data-toggle" => "modal"} Report abuse
                                                            .review__inputBox
                                                                %app-writerevue{":rate" => "false"} 
                                                        - if i == 1
                                                            - (1..10).each do  |i|
                                                                .review{:class => "#{i > 5 ? 'hidden' : ''}"}
                                                                    .avatar.review__avatar
                                                                        %i.icn-user
                                                                        %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                                                                    .review__content
                                                                        .review__control
                                                                            .review__nameDate
                                                                                %span.review__name John Snow
                                                                                %span.review__replyName 
                                                                                    %i.icn-reply
                                                                                    Sheba K.
                                                                                %span.review__date Yesterday
                                                                            - if i == 1
                                                                                %span.review__official Official Response from organization
                                                                        %p.review__text
                                                                            Thank you for your kind words. We appreciate you taking time out to share your families…
                                                                        - if i != 3
                                                                            .review__reply 
                                                                                %span
                                                                                    %span.js-writeReply Reply 
                                                                                    %i.icn-dots.js-reply
                                                                                .replyBody
                                                                                    %a{:tabindex => "", "data-target" => "#checkAbuse", "data-toggle" => "modal"} Report abuse
                                                                            .review__inputBox
                                                                                %app-writerevue{":rate" => "false"} 
                                                                        - else 
                                                                            .review__inputBoxEdit
                                                                                %app-writerevue{":rate" => "false", ":type" => "'edit'", ":rating" => "4", ":value" => "'Thank you for your kind words. We appreciate you taking time out to share your families'"}
                                                                            .review__reply 
                                                                                %span
                                                                                    %span.js-writeReply Reply 
                                                                                    %i.icn-dots.js-reply
                                                                                .replyBody
                                                                                    %a.js-edit Edit
                                                                                    %a.del.js-remove Delete
                                                                            .review__inputBox
                                                                                %app-writerevue{":rate" => "false"}
                                                            .review__replys.js-answers{"data-show" => "5"} 5 replies
                                                            
                                            %app-writerevue{":open" => "true"}
                                            %p
                                                You must to 
                                                %a.link.link-default{:tabindex => "", "data-target" => "#singUpModal", "data-toggle" => "modal"} create an account 
                                                and 
                                                %a.link.link-default{:tabindex => "", "data-target" => "#singInModal", "data-toggle" => "modal"} sign in 
                                                before leaving a commentю  
                                                     
                                    .eventsPage__moreEvent
                                        .h2 More Events
                                        
                                        .h3
                                            Advanture Out
                                            %a.link.link-primary{:href => ""} Show full info
                                        .total
                                            Total events: 144
                                        .row
                                            - (1..3).each do |i|
                                                .col-md-4
                                                    .eventMini
                                                        %a.addWish.eventMini__icon{"data-target" => "#pleaseSingInModal", "data-toggle" => "modal"}
                                                            %i.icn-favorite-o
                                                        %span.dateAge
                                                            TODAY
                                                            %i.icn-radio
                                                            AGE: 8-14

                                                        %h3.eventMini__title
                                                            %a{:href => ""}
                                                                - if i == 1
                                                                    Rock Climbing for Kids and Teehagers
                                                                    Rock Climbing for Kids and Teehagers
                                                                    Rock Climbing for Kids and Teehagers
                                                                - elsif i == 2
                                                                    Rock Climbing
                                                                - else
                                                                    Rock Climbing for Kids and Teehagers
                                                        %span.eventMini__address
                                                            900 Poplar Pl S, Seattke, WA 98144

                                                        .eventMini__price $160-$320
                                                        .eventMini__bar
                                                            .rate
                                                                %i.icn-star.active
                                                                %i.icn-star.active
                                                                %i.icn-star.active
                                                                %i.icn-star
                                                                %i.icn-star
                                                            %a.commentsCount{:href => ""}
                                                                %i.icn-comments
                                                                3

        //=include components/_footer.haml
            