!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .eventsList
                .container
                    .row
                        .col-lg-12
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span Events
                            //=include components/_back.haml
                            %h1.eventsList__title All Events and Classes for Kidsw in Seattle
                            - $list = true
                            //=include components/_events.list.control.haml
                        .col-lg-9
                            - (1..4).each do |i|
                                .eventItem.eventsList__item
                                    %a.eventItem__img{:href => ""}
                                        - if i == 3 
                                            .placeholder
                                                .placeholder__inner
                                                    %i.icn-photo
                                                    %span No Photo
                                        - else
                                            %img{:src => "http://loremflickr.com/250/200", :srcset => "http://loremflickr.com/250/200 1x, http://loremflickr.com/500/400 2x", :alt => ""}/
                                    - if i != 4 
                                        %a.addWish.eventItem__icon{"data-target" => "#pleaseSingInModal", "data-toggle" => "modal"}
                                            %i.icn-favorite-o
                                    - else
                                        // if not guest
                                        %a.addWish.animated.js-addWish.eventItem__icon
                                            %i.icn-favorite-o
                                        // if not guest
                                    .eventItem__content
                                        .eventItem__info
                                            %span.dateAge
                                                TODAY
                                                %i.icn-radio
                                                AGE: 8-14
                                            %span.price $160-$320
                                        .eventItem__title
                                            %a{:href => ""}
                                                Rock Climbing for Kids and Teenagers
                                        .eventItem__info
                                            .eventItem__label.popoverPlace.js-popovers{"data-container" => "body", "data-content" => "", "data-html" => "true", "data-toggle" => "popover"}
                                                Adventure Out 
                                                .popovers
                                                    //.loader-circle
                                                    %i.icn-close.popovers__close{"data-place" => "left"}
                                                    .popovers__header
                                                        .popovers__head
                                                            %h2 Advanture Out #{i}
                                                            .popovers__addrres
                                                                Seattle, Washington
                                                                %br/
                                                                900 Poplar Pl S, Seattke, WA 98144
                                                        %a{:href => ""}
                                                            %img{:src => "assets/img/pop-logo.png", :alt => ""}/
                                                    %p.popovers__text
                                                        Since our founding in 2004, the mission of Adventure Out has been simple: to help people fall back in love woth nature. We accomplish this by providing programs of the highest quality and safety standards that get people outdoors, physically active, and adventuring in nature. 
                                                    %a.link-primary{:href => ""} Learn More 
                                            .rate
                                                %i.icn-star.active
                                                %i.icn-star.active
                                                %i.icn-star.active
                                                %i.icn-star
                                                %i.icn-star
                                            %a.commentsCount.eventItem__comments{:href => ""}
                                                %i.icn-comments
                                                3
                                            .eventItem__address
                                                900 Poplar Pl S, Seattke, WA 98144
                                        .eventItem__text
                                            This camp is designed for those kids ages 8-14 who want to experience the thrill of outdoor rock climbing. Each half-day (4-hour) class will be held at Castle Rock State Park in the Los Gatos/Santa Cruz Hills. No previous experience is necessary and advanced coaching also available for kids that have climbed before 
                                        
                                        
                                        .eventItem__block.active
                                            .eventItem__subtitle Schedules and prices: 
                                            .schedulesPrices.eventItem__box
                                                .schedulesPrices__label -20%
                                                %span.lg Camp "Young Climber"
                                                .field-case
                                                    .schedulesPrices__discount $200
                                                    .field.popoverPlace.js-popovers{"data-container" => "body", "data-content" => "", "data-html" => "true", "data-toggle" => "popover"} 
                                                        $160
                                                        .popovers.popovers-sm
                                                            %i.icn-close.popovers__close{"data-place" => "left"}
                                                            %h3.popovers__title Class “Rock Climbing for Kids”
                                                            %p.popovers__text
                                                                Kids 7-10 years old, all day since 9AM to 6PM skill level is not required (you have never engaged in rock climbing before)
                                                            %table.popovers__table
                                                                %tr
                                                                    %td 
                                                                        %strong Seat available
                                                                    %td 4
                                                                %tr
                                                                    %td Price
                                                                    %td 
                                                                        %strong $200 per month
                                                                %tr
                                                                    %td 
                                                                        %strong Date
                                                                    %td 1 May, 2019
                                                            %form{:action => ""}
                                                                .row.popovers__priceBox
                                                                    .col-6
                                                                        .field-case
                                                                            %label.field-name Number
                                                                            %input.field.js-price{:type => "number", :name => "", :value => "1", :min => "1", "data-price" => "200"}/
                                                                            .increment
                                                                                .up
                                                                                .down
                                                                    .col-6
                                                                        .popovers__price
                                                                            %strong.js-priceOutput $200
                                                                            per month
                                                                %input.btns.btns-primary.btns-block{:type => "submit", :value => "Checkout"}/
                                                    %span.sm for a seat
                                            - if i <= 2    
                                                .schedulesPrices.eventItem__box

                                                    %span.lg Class “Rock Climbing for Kids”
                                                    .field-case
                                                        .field.popoverPlace.js-popovers{"data-container" => "body", "data-content" => "", "data-html" => "true", "data-toggle" => "popover"} 
                                                            $250
                                                            .popovers.popovers-sm
                                                                %i.icn-close.popovers__close{"data-place" => "left"}
                                                                %h3.popovers__title Class “Rock Climbing for Kids”
                                                                %p.popovers__text
                                                                    Kids 7-10 years old, all day since 9AM to 6PM skill level is not required (you have never engaged in rock climbing before)
                                                                %table.popovers__table
                                                                    %tr
                                                                        %td 
                                                                            %strong Seat available
                                                                        %td 4
                                                                    %tr
                                                                        %td Price
                                                                        %td 
                                                                            %strong $200 per month
                                                                    %tr
                                                                        %td 
                                                                            %strong Date
                                                                        %td 1 May, 2019
                                                                %form{:action => ""}
                                                                    .row.popovers__priceBox
                                                                        .col-6
                                                                            .field-case
                                                                                %label.field-name Number
                                                                                %input.field.js-price{:type => "number", :name => "", :value => "1", :min => "1", "data-price" => "200"}/
                                                                                .increment
                                                                                    .up
                                                                                    .down
                                                                        .col-6
                                                                            .popovers__price
                                                                                %strong.js-priceOutput $200
                                                                                per month
                                                                    %input.btns.btns-primary.btns-block{:type => "submit", :value => "Checkout"}/
                                                        %span.sm per month
                                            - if i <= 3
                                                .schedulesPrices.eventItem__box
                                                    .schedulesPrices__label -20%
                                                    %span.lg Camp "Young Climber"
                                                    .field-case
                                                        .schedulesPrices__discount $200
                                                        .field.popoverPlace.js-popovers{"data-container" => "body", "data-content" => "", "data-html" => "true", "data-toggle" => "popover"}
                                                            $160
                                                            .popovers.popovers-sm
                                                                %i.icn-close.popovers__close{"data-place" => "left"}
                                                                %h3.popovers__title Class “Rock Climbing for Kids”
                                                                %p.popovers__text
                                                                    Kids 7-10 years old, all day since 9AM to 6PM skill level is not required (you have never engaged in rock climbing before)
                                                                %table.popovers__table
                                                                    %tr
                                                                        %td 
                                                                            %strong Seat available
                                                                        %td 4
                                                                    %tr
                                                                        %td Price
                                                                        %td 
                                                                            %strong $200 per month
                                                                    %tr
                                                                        %td 
                                                                            %strong Date
                                                                        %td 1 May, 2019
                                                                %form{:action => ""}
                                                                    .row.popovers__priceBox
                                                                        .col-6
                                                                            .field-case
                                                                                %label.field-name Number
                                                                                %input.field.js-price{:type => "number", :name => "", :value => "1", :min => "1", "data-price" => "200"}/
                                                                                .increment
                                                                                    .up
                                                                                    .down
                                                                        .col-6
                                                                            .popovers__price
                                                                                %strong.js-priceOutput $200
                                                                                per month
                                                                    %input.btns.btns-primary.btns-block{:type => "submit", :value => "Checkout"}/
                                                        %span.sm for a seat
                                            - if i == 1
                                                .schedulesPrices.eventItem__box
                                                    %span.num 42
                                                    %a.link-primary{:href => ""}
                                                        View more 
                                                        %br/
                                                        variants
                                                        %i.icn-arrow-right
                            //=include components/_pager.haml
                        .col-lg-3
                            .sidebar.js-sidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-filters
                                .sidebar__content
                                    %i.icn-close.sidebar__close.js-closeSidebar
                                    .filterSidebar
                                        .filterSidebar__map
                                            %a.btns.btns-primary{:href => ""} 
                                                %i.icn-map
                                                View Map
                                        //=include components/_filter.sidebar.haml
        //=include components/_footer.haml
    