!!!5
%html
    //=include components/_head.haml
    %body
        .modalPage
            - $header = 'help'
            - $know = true
            //=include components/_header.haml
            .modals.modalPage__inner.ext
                %h1.modals__smallSpace Forgot Password
                %p.modals__subtitle
                    Enter your Email below to reset your password
                %form#forgot{:action => "", "data-action" => "./assets/json/check-form.json"}
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-rule-remote" => "true", "data-rule-checkUser" => "true", "data-msg-checkUser" => "User is not found with provided email.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/ 
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Reset Password", :disabled => ""}/
                    
                    %a.btns.btns-link.btn-block.js-changeModals{:href => ""} Back to Sign In
                    

            
    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
    %script{:type => "text/javascript", :src => "assets/js/libs.js"} 
    %script{:type => "text/javascript", :src => "assets/js/app.js"}