!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'help'
            - $know = false
            //=include components/_header.haml
            .helpBase
                .container
                    .row
                        .col-lg-10.offset-lg-1
                            %h1.helpBase__title Knowledge Base
                            %form.fullSearch.helpBase__search#fullSearch{:action => ""}
                                .field-case.fullSearch__field
                                    %input.field.field-icon{:type => "text", :name => "query", :placeholder => "Search", :required => "true"}/
                                    %i.icn-search
                                %button.btns.btns-primary.fullSearch__btn{:type => "submit"} 
                                    %i.icn-search
                                    %span Search
                            .row
                                .col-md-4.col-6
                                    .category
                                        %a.category__link{:href => ""}
                                            .category__icon
                                                %img{:src => "assets/img/getting-started.svg", :alt => ""}/
                                            %span.category__name Getting Started
                                .col-md-4.col-6
                                    .category
                                        %a.category__link{:href => ""}
                                            .category__icon
                                                %img{:src => "assets/img/find-event.svg", :alt => ""}/
                                            %span.category__name Find an Event
                                .col-md-4.col-6
                                    .category
                                        %a.category__link{:href => ""}
                                            .category__icon
                                                %img{:src => "assets/img/listing-event.svg", :alt => ""}/
                                            %span.category__name Listing Event
                                .col-md-4.col-6
                                    .category
                                        %a.category__link{:href => ""}
                                            .category__icon
                                                %img{:src => "assets/img/managing-orders.svg", :alt => ""}/
                                            %span.category__name Managing Orders
                                .col-md-4.col-6
                                    .category
                                        %a.category__link{:href => ""}
                                            .category__icon
                                                %img{:src => "assets/img/reviews.svg", :alt => ""}/
                                            %span.category__name Reviews
                                .col-md-4.col-6
                                    .category
                                        %a.category__link{:href => ""}
                                            .category__icon
                                                %img{:src => "assets/img/troubleshooting.svg", :alt => ""}/
                                            %span.category__name Troubleshooting
        //=include components/_footer.haml
    