!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'help'
            - $know = true
            //=include components/_header.haml
            .helpCategory
                .container
                    .row
                        .col-sm-12
                            .breadcrumbs
                                %a.link-primary{:href => ""} Knowledge base  
                                %span Managing orders
                            //=include components/_back.haml

                            %h1.helpCategory__title Managing orders
                            %form.fullSearch.helpCategory__search#fullSearch{:action => ""}
                                .field-case.fullSearch__field
                                    %input.field.field-icon{:type => "text", :name => "query", :placeholder => "Search", :required => "true"}/
                                    %i.icn-search
                                %button.btns.btns-primary.fullSearch__btn{:type => "submit"} 
                                    %i.icn-search
                                    %span Search
                            .row
                                - ['Order Creating','Processing','How to…'].each do |i|
                                    .col-lg-4.col-md-6
                                        .helpCategory__box
                                            %h2.helpCategory__subtitle.js-toggleMenu
                                                #{i}
                                                %i.icn-angle-down
                                            %ul.orangeList.helpCategory__list
                                                %li
                                                    %i.icn-angle-right
                                                    %a.link-primary{:href => ""}
                                                        Lorem ipsum dolor sit amet
                                                %li
                                                    %i.icn-angle-right
                                                    %a.link-primary{:href => ""}
                                                        Aenean euismod bibendum laoreet
                                                %li
                                                    %i.icn-angle-right
                                                    %a.link-primary{:href => ""}
                                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                                %li
                                                    %i.icn-angle-right
                                                    %a.link-primary{:href => ""}
                                                        Proin sodales pulvinar tempor
                                                %li
                                                    %i.icn-angle-right
                                                    %a.link-primary{:href => ""}
                                                        Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
                                                %li
                                                    %i.icn-angle-right
                                                    %a.link-primary{:href => ""}
                                                        Nam fermentum, nulla luctus pharetra vulputate
        //=include components/_footer.haml
    