!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'help'
            - $know = true
            //=include components/_header.haml
            .helpArticle
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Knowledge base
                                %a.link-primary{:href => ""} Managing orders
                                %span Managing orders
                            //=include components/_back.haml
                            %h1.helpArticle__title Aenean euismod bibendum laoreet
                            .helpArticle__text
                                %p
                                    The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message.
                                    %br/
                                    %br/
                                    It has come to a point where images and videos are used more to promote a product or service and this has extended from businesses to our daily routine. We are all in such a hurry that we wave bye instead of saying “goodbye”, show the watch to point to the time and so on. It is a healthy habit considering how we use our hands and motions to indicate what we are upto or capable of. Imagine dancing a few steps to tell someone you are off to a dance class? That would impress them to no end. The same applies when you are interacting with others online through a forum. You can take the assistance of MySpace Layouts to dress up your pages and convey messages to people who come by. 
                                    %br/
                                    %br/
                                    As long as the page does not look too cluttered or it becomes difficult for people to read the text, these extra frills from MySpace Layouts can remain. However, if by using these from the MySpace Layouts, you are aiming at cutting across as professional, you might not really succeed. Because when our pages are filled with text, pictures and other fun elements, it loses its professionalism and becomes a fun page. So, it is advisable for you to choose from the MySpace Layouts sensibly.
                            %button.btns.btns-primary.helpArticle__btn{"data-target" => "#questionModal", "data-toggle" => "modal"} I don't found answer for my question 
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    .sidebarMenu
                                        %h3.sidebarMenu__title Processing
                                        %ul.sidebarMenu__list
                                            %li
                                                %a{:href => ""}
                                                    Lorem ipsum dolor sit amet
                                            %li.active
                                                %a{:href => ""}
                                                    Aenean euismod bibendum laoreet
                                            %li
                                                %a{:href => ""}
                                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                            %li
                                                %a{:href => ""}
                                                    Proin sodales pulvinar tempor
                                            %li
                                                %a{:href => ""}
                                                    Sociis natoque penatibus et magnis dis parturient montes, nascetur readingiculus mus
                                            %li
                                                %a{:href => ""}
                                                    Nam fermentum, nulla luctus pharetra vulputate
        //=include components/_footer.haml
    