!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'home'
            - $guest = true
            //=include components/_header.haml
            .home
                .home__topBar
                    %picture
                        %source{:media => "(max-width: 320px)", :srcset => "assets/img/children/i-320.png"}
                        %source{:media => "(max-width: 480px)", :srcset => "assets/img/children/i-480.png"}
                        %source{:media => "(max-width: 768px)", :srcset => "assets/img/children/i-768.png"}
                        %source{:media => "(max-width: 960px)", :srcset => "assets/img/children/i-960.png"}
                        %source{:media => "(max-width: 1200px)", :srcset => "assets/img/children/i-1200.png"}
                        %source{:media => "(max-width: 1600px)", :srcset => "assets/img/children/i-1600.png"}
                        %img{:alt => "Text description", :src => "assets/img/children/i-1600.png", :title => "Text description"}/
                    .container
                        .row
                            .col-sm-12
                                %span.home__logo
                                    %img{:src => "assets/img/logo.svg", :alt => ""}/
                                //=include components/_search.by.haml
                                .homeMenu
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-child-care 
                                        Classes
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-camps 
                                        Camps
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-classes 
                                        Actuvities
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-activites 
                                        Child Care
                .container
                    .row
                        .col-sm-12
                            %h1.home__title 
                                Event for you in 
                                %u Seattle, WA
                            .home__empty
                                %i.icn-no-events
                                %p
                                    Doh! There aren't any events currently serving that location, but we're always expanding. Want to create first event?”
                                %a.btns.btns-block.btns-primary{"data-target" => "#singInModal", "data-toggle" => "modal"} Sign In
                //=include components/_home.browse.categories.haml
        //=include components/_footer.haml
    