!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'home'
            - $guest = false
            //=include components/_header.haml
            .home
                .home__topBar
                    .container
                        .row
                            .col-sm-12
                                %span.home__logo
                                    %img{:src => "assets/img/logo.svg", :alt => ""}/
                                //=include components/_search.by.haml
                                .homeMenu
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-child-care 
                                        Classes
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-camps 
                                        Camps
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-classes 
                                        Actuvities
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-activites 
                                        Child Care
                .container
                    .row
                        .col-sm-12
                            %h1.home__title Event for you in Seattle, WA
                            .row.justify-content-center.eventBlockList
                                - (1..2).each do |i|
                                    .col-lg-4.col-sm-6.eventBlockList__item
                                        .eventBlock
                                            %a.eventBlock__img{:href => ""}
                                                %img{:src => "http://loremflickr.com/250/200/girls", :srcset => "http://loremflickr.com/250/200/girls 1x, http://loremflickr.com/500/400/girls 2x", :alt => ""}/ 
                                            %span.price.eventBlock__price $160-$320
                                            %a.addWish.animated.js-addWish.eventBlock__icon
                                                %i.icn-favorite-o
                                            .eventBlock__info
                                                %span.dateAge
                                                    TODAY
                                                    %i.icn-radio
                                                    AGE: 8-14
                                                .rate
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star
                                                    %i.icn-star
                                                %a.eventBlock__comment.commentsCount{:href => ""}
                                                    %i.icn-comments
                                                    3
                                            .eventBlock__title
                                                %a{:href => ""}
                                                    Rock Climbing for Kids and Teenagers
                                            %a.link-primary.eventBlock__label{:href => ""}
                                                NIKA International Academy Academy of Ballroom and Lao Dzi
                                            .eventBlock__tags
                                                %a.tag{:href => ""} Outdoor Activities
                                                %a.tag{:href => ""} SPORT
                                                %a.tag{:href => ""} TEAM SPORT
                                    .col-lg-4.col-sm-6.eventBlockList__item
                                        .eventBlock
                                            %a.eventBlock__img{:href => ""}
                                                %img{:src => "http://loremflickr.com/250/200/girls", :srcset => "http://loremflickr.com/250/200/girls 1x, http://loremflickr.com/500/400/girls 2x", :alt => ""}/
                                            %span.price.eventBlock__price $160-$320
                                            %a.addWish.animated.js-addWish.eventBlock__icon
                                                %i.icn-favorite-o
                                            .eventBlock__info
                                                %span.dateAge 
                                                    TODAY
                                                    %i.icn-radio 
                                                    AGE: 8-14
                                                .rate
                                                    %i.icn-star
                                                    %i.icn-star
                                                    %i.icn-star
                                                    %i.icn-star
                                                    %i.icn-star
                                                %a.eventBlock__comment.commentsCount{:href => ""}
                                                    %i.icn-comments
                                                    3
                                            .eventBlock__title
                                                %a{:href => ""}
                                                    Spanish Immersion School
                                            %a.link-primary.eventBlock__label{:href => ""}
                                                Zoom Language
                                            .eventBlock__tags
                                                %a.tag{:href => ""} Zoom Language
                                    .col-lg-4.col-sm-6.eventBlockList__item
                                        .eventBlock
                                            %a.eventBlock__img{:href => ""}
                                                .placeholder
                                                    .placeholder__inner
                                                        %i.icn-photo
                                                        %span No Photo
                                            %span.price.eventBlock__price $160-$320
                                            %a.addWish.animated.js-addWish.eventBlock__icon
                                                %i.icn-favorite-o
                                            .eventBlock__info
                                                %span.dateAge
                                                    TODAY
                                                    %i.icn-radio
                                                    AGE: 8-14
                                                .rate
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star
                                                    %i.icn-star
                                                %a.eventBlock__comment.commentsCount{:href => ""}
                                                    %i.icn-comments
                                                    3
                                            .eventBlock__title
                                                %a{:href => ""}
                                                    Music Lessons for Kids
                                            %a.link-primary.eventBlock__label{:href => ""}
                                                Viva
                                            .eventBlock__tags
                                                %a.tag{:href => ""} MUSIC SCHOOL
                                                %a.tag{:href => ""} Indoor Activities
                                                %a.tag{:href => ""} Concerts
                                                
                                            
                //=include components/_home.browse.categories.haml
        //=include components/_footer.haml
    