!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .addKids
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Companies
                            //=include components/_back.haml
                            .addKids__head
                                %h1.addKids__title Companies
                                %a.btns.btns-default.addKids__add{:href => ""} + Add Company
                            .companyProfList
                                - (1..3).each do |i|
                                    .companyProf.listItem
                                        %a.companyProf__img{:href => ""}
                                            %img{:src => "assets/img/pop-logo.png", :alt => ""}/
                                        .companyProf__content
                                            %h3.companyProf__title
                                                %a{:href => ""} Zoom Language #{i}
                                            %p.companyProf__text
                                                SocialSkills Learning and Science Exploration

                                            %a.link.link-primary{:href => ""}
                                                %i.icn-classes
                                                Classes and Events
                                            %a.link.link-primary{:href => ""}
                                                %i.icn-order
                                                Orders (3)
                                            .companyProf__action
                                                %a.edit{:href => ""}
                                                    %i.icn-edit 
                                                    %span Edit 
                                                %a.remove.js-companyDel{:tabindex => ""}
                                                    %i.icn-close 
                                                    %span Remove 
                            
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    