!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .classesEvents
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Classes and Events
                            //=include components/_back.haml
                            %h1 Classes and Events
                            .emptyContent
                                %i.icn-wish-empty2
                                .h4 You do not have any order yet
                                %a.btns.btns-primary{:href => ""} Add Event
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    