!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .reviewsPage
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Wish List
                            //=include components/_back.haml
                            %h1 Wish List
                            .emptyContent
                                %i.icn-wish-empty
                                .h4 You have to sign in to see this page.
                                %p Sign in to view all your favorite events in your wishlist.
                                %a.btns.btns-primary{:href => ""} Sign In

                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    