!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .browsHis
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Browsing History
                            //=include components/_back.haml
                            %h1 Browsing History
                            .browsHis__container
                                .browsHis__list
                                    .h4 May 5, 2018
                                    - (1..3).each do |i|
                                        .browsHisItem.listItem
                                            %a.browsHisItem__img{:href => ""}
                                                %img{:src => "http://loremflickr.com/90/65", :srcset => "http://loremflickr.com/90/65 1x, http://loremflickr.com/180/130 2x", :alt => ""}/
                                            .browsHisItem__content
                                                %h4.browsHisItem__title
                                                    %a{:href => ""} Rock Climbing for Kids and Teenagers #{i}
                                                %a.link.link-primary{:href => ""}
                                                    Adventure Out
                                            %i.icn-close.js-delBrowsHisItem
                                .browsHis__list
                                    .h4 May 6, 2018
                                    - (1..6).each do |i|
                                        .browsHisItem.listItem
                                            %a.browsHisItem__img{:href => ""}
                                                %img{:src => "http://loremflickr.com/90/65", :srcset => "http://loremflickr.com/90/65 1x, http://loremflickr.com/180/130 2x", :alt => ""}/
                                            .browsHisItem__content
                                                %h4.browsHisItem__title
                                                    %a{:href => ""} Rock Climbing for Kids and Teenagers #{i}
                                                %a.link.link-primary{:href => ""}
                                                    Adventure Out
                                            %i.icn-close.js-delBrowsHisItem

                            .loading
                                .loader-circle
                                Loading  history reviews
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    