!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .payment
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Payment Preferences
                            //=include components/_back.haml
                            - $page = "preferences"
                            //=include components/_payment.head.haml
                            
                            
                            %h4 Setup your payment methods
                            .paymentPref
                                .preferencesItem.listItem
                                    .preferencesItem__info
                                        %span.name Bran Stark
                                        %span.per $5000 per withdrawal
                                        %p
                                            Deposit to a U.S. bank account in USD
                                    .preferencesItem__options#directDepositInfo
                                        %a.btns-sm.btns.btns-default.js-addDD{:tabindex => ""} 
                                            Set Up
                                .preferencesItem.listItem
                                    .preferencesItem__info
                                        %span.name PayPal
                                        %spna.per $1000 per withdrawal
                                        %p
                                            Deposit to a U.S. bank account in USD
                                    .preferencesItem__options#payPalInfo 
                                        %a.btns-sm.btns.btns-default.js-addPP{:tabindex => ""} 
                                            Set Up
                                .preferencesItem.listItem
                                    .preferencesItem__info
                                        %span.name Wire Transfrer
                                        %spna.per $1000 per withdrawal
                                        %p
                                            Deposit to a U.S. bank account in USD
                                    .preferencesItem__options#wireTransferInfo
                                        %a.btns-sm.btns.btns-default.js-addWT{:tabindex => ""} 
                                            Set Up 
                                //=include components/_modal.pay.haml
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    