!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .payment
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Payment Withdrawal
                            //=include components/_back.haml
                            
                            - $page = "withdrawal"
                            //=include components/_payment.head.haml
                            
                            %h2 Payment Method
                            %form#getMoney{:action => ""}
                                .row
                                    .col-lg-4.col-md-6
                                        %label.check-case.payment__radio
                                            %input{:type => "radio", :name => "test", :disabled => "disabled"}/
                                            %span.field-radio
                                                %i.icn-radio
                                            .check-name Direct Deposit/ACH
                                        %a.btns.btns-default.btns-sm.payment__btn{:href => ""} Set Up
                                    .col-lg-4.col-md-6
                                        %label.check-case.payment__radio
                                            %input{:type => "radio", :name => "test", :disabled => "disabled"}/
                                            %span.field-radio
                                                %i.icn-radio
                                            .check-name PayPal
                                        %a.btns.btns-default.btns-sm.payment__btn{:href => ""} Set Up
                                    .col-lg-4.col-md-6
                                        %label.check-case.payment__radio
                                            %input{:type => "radio", :name => "test", :disabled => "disabled"}/
                                            %span.field-radio
                                                %i.icn-radio
                                            .check-name Wire Transfer
                                        %a.btns.btns-default.btns-sm.payment__btn{:href => ""} Set Up

                                %h4.payment__title Specify Withdrawal Amount
                                .row
                                    .col-md-4
                                        .field-case
                                            %input.field{:disabled => "disabled", :type => "text", :name => "money", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your sum.", "data-rule-digits" => "true", "data-rule-balance" => "true", "data-balance" => "3700"}/
                                    .col-md-8.col-lg-4
                                        %span.payment__specify
                                            Your internal balance: $3700
                                            %br/
                                            You might request either full amount or partial

                                .payment__commit 
                                    .row.align-items-center
                                        .col-md-4.col-xl-3
                                            %input.btns.btns-primary{:type => "submit", :disabled => "disabled", :value => "Commit the Request"}/
                                        .col-md-8.col-xl-9
                                            %p 
                                                Eqrnings will be released upon your request.
                                                %br/
                                                We will perform the earnings withdrawal process every Wednesday

                            %h2 History of Payment Request
                            %table.tableCustom.payment__historyTable
                                %tbody
                                    - (1..4).each do |i|
                                        %tr
                                            %td
                                                15 August, 2018 13:22
                                                
                                            %td
                                                %strong $190
                                            %td
                                                Direct Deposit/ACH
                                            %td
                                                - if i == 1
                                                    %span.badges2.badges2-default Pending
                                                - elsif i == 2
                                                    %span.badges2.badges2-danger Cancelled
                                                - elsif i == 3
                                                    %span.badges2.badges2-warninig Pending
                                                - else
                                                    %span.badges2.badges2-success Paid
                                            %td
                                                %span.date
                                                    Estimated date of commision:
                                                    %br/
                                                    19 August, 2018   
                            %a.btns.btns-default.payment__seeall{:href => ""} See Full History
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    