!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .addCompany
                #addSocialLinkModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                    %span{"aria-hidden" => "true"} ×
                                %h2.modals__title.left
                                    Add Link 
                                %form#addSocialLink{:action => "", "data-status" => "new"}
                                    %input.field{:type => "hidden", :name => "ind"}/
                                    .field-case
                                        %label.field-name 
                                            Title
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    .field-case
                                        %label.field-name 
                                            Full URL to a Page in a Social Network
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "url", :required => "true", "data-msg-required" => "Please enter your url.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", "data-rule-url" => "true", "data-msg-url" => "Please enter valid url."}/  
                                    %input.btns.btns-primary.btns-block{:type => "submit", :value => "Add Link", :disabled => ""}/ 
                                    %input.resetButton{:type => "reset", :value => "reset"}/ 
                                    %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                #confirmSocialLinkModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to leave adding new link? 
                                    %br/
                                    All your changes will be lost.
                                    
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-doneLink OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block.js-cancelLink Cancel
                #removeSocialLinkModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to remove link?
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-linkDel OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                                    
                #addDocModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                    %span{"aria-hidden" => "true"} ×
                                %h2.modals__title.left
                                    Add Document 
                                %form#addDoc{:action => "", "data-status" => "new"}
                                    %input.field{:type => "hidden", :name => "ind"}/
                                    .field-case
                                        %label.field-name 
                                            Type
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %select.field.js-select{:name => "type", :required => "true", "data-msg-required" => "Please Select type.",}
                                            %option{:value => ""} Select One...
                                            - (1..50).each do |i|
                                                %option{:value => "Type #{i}"} Type #{i}     
                                    .field-case
                                        %label.field-name 
                                            Title
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    .field-case.uploadFileBox
                                        %a.btns.btns-default{:tabindex => ""} Upload File 
                                        %input{:type => "file", :name => "waiverFile", :required => "true", "data-msg-required" => "Please seelect file.", "data-rule-extension" => "pdf|jpg|png", :accept => ".jpg, .jpeg, .pdf, .png"}/ 
                                        %span.name File (PDF, JPG, PNG) 
                                    %input.btns.btns-primary.btns-block{:type => "submit", :value => "Add Document", :disabled => ""}/ 
                                    %input.resetButton{:type => "reset", :value => "reset"}/ 
                                    %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel 
                #confirmDocModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to leave adding new document? 
                                    %br/
                                    All your changes will be lost
                                    
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-doneDoc OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block.js-cancelDoc Cancel
                #removeDocModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to remove document?
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-docDel OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                
                %script{:src => "https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"}
                %script{:src => "https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"}



                
                #addLocationModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog.xl{:role => "document"}
                        .modal-content
                            .modal-body
                                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                    %span{"aria-hidden" => "true"} ×
                                %h2.modals__title.left
                                    Add New Location
                                %form#addLocation{:action => "", "data-status" => "new", :autocomplete => "off"}
                                    %input.field{:type => "hidden", :name => "ind"}/
                                    %input.field{:type => "hidden", :name => "coordinates"}/
                                    .field-case
                                        %label.field-name 
                                            Title
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    
                                    .row
                                        .col-md-4
                                            .field-case
                                                %label.field-name 
                                                    City 
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field.js-location{:type => "text", :name => "location", :required => "true", "data-msg-required" => "Please enter your  City.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => true, "data-rule-address" => true, "data-msg-space" => "Please select Address dopdown."}/
                                        .col-md-4
                                            .field-case
                                                %label.field-name 
                                                    Business Street Address
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field.js-location{:type => "text", :name => "businessStAddress", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                        .col-md-4
                                            .field-case
                                                %label.field-name 
                                                    ZIP
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field.js-location{:type => "text", :name => "code", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    .row
                                        .col-md-8.order-md-1
                                            .mapPlace
                                                .mapPlace__info
                                                    Move map marker if his position is incorrect
                                                #locationMap
                                        .col-md-4
                                            %label.check-case
                                                %input{:type => "checkbox", :name => "hasEmail", :value => "false"}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name 
                                                    Has own EmailAddress
                                            .field-case
                                                %label.field-name 
                                                    Email Address
                                                %input.field{:disabled => "", :type => "email", :name => "email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "true"}/
                                            %label.check-case
                                                %input{:type => "checkbox", :name => "hasPhone", :value => "false"}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name 
                                                    Has own Phone
                                            .field-case
                                                %label.field-name 
                                                    Phone
                                                %input.field{:disabled => "", :type => "tel", :name => "phone", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/

                                            %label.check-case
                                                %input{:type => "checkbox", :name => "hasWebsite", :value => "false"}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name  
                                                    Has own Website
                                            .field-case
                                                %label.field-name 
                                                    Website
                                                %input.field{:disabled => "", :type => "text", :name => "website", :required => "true", "data-msg-required" => "Please enter your website.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true", "data-rule-url" => "true", "data-msg-url" => "Please enter valid url."}/
                                        
                                    %input.resetButton{:type => "reset", :value => "reset"}/ 
                                    %input.btns.btns-primary{:type => "submit", :value => "Add Location", :disabled => ""}/ 
                                    %a.cancel.inline{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel

                #confirmLocationModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to leave adding new location? 
                                    %br/
                                    All your changes will be lost
                                    
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-doneLocation OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block.js-cancelLocation Cancel
                #removeLocationModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to remove location?
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-locationDel OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                #removeCompay.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure to delete your company? 
                                    %br/
                                    All data will be lost.
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block{:href => ""} OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %a.link-primary{:href => ""} Profile Settings
                                %span Add company
                            //=include components/_back.haml
                            %h1 Add company
                            %form#addCompanyForm{:action => "", "data-status" => "new"}
                                .row
                                    .col-lg-3
                                        .addCompany__img
                                            .img
                                                .placeholder
                                                    .placeholder__inner.sm
                                                        %i.icn-photo
                                                        %span No Photo
                                                .error
                                            %a.btns.btns-block.btns-default.js-call{:tabindex => ""} Upload Photo
                                            %input.js-change{:type => "file", :accept => ".jpg, .png, .gif"}/
                                            %a.link.link-default.js-remove{:tabindex => ""} Remove Photo
                                    .col-lg-9
                                        .h4.addCompany__title.ext2.js-toggleMenu 
                                            Company Data
                                            %i.icn-angle-down
                                        .addCompany__toggleContent 
                                            .row
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Business Name
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %input.field{:type => "text", :name => "businessname", :required => "true", "data-msg-required" => "Please enter your Business Name."}/
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Business Tax ID (EIN)
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %input.field{:type => "text", :name => "tax", :required => "true", "data-msg-required" => "Please enter your  Business Tax.", "data-rule-tax" => "true", "data-msg-tax" => "Please enter a valid tax", }/
                                                
                                                
                                            .field-case
                                                %label.field-name 
                                                    Short Description
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %textarea.field.js-counterStr{:name => "shortDescription", :placeholder => "", :required => "true", "data-msg-required" => "Please enter your  Short Description.", "data-rule-maxlength" => "130", "data-msg-maxlength" => "Please enter a value of up to 130 characters",}
                                            .addCompany__max.text-right{"data-max" => "130"} 
                                                Max. 
                                                %span 130 
                                                characters

                                            .field-case
                                                %label.field-name 
                                                    Complete business description
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %textarea.field{:name => "complete", :placeholder => "", :required => "true",  "data-msg-required" => "Please enter your  Complete business description"}

                                            .field-case
                                                %label.field-name 
                                                    Type of business
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %select.field.js-select{:name => "type", :required => "true", "data-msg-required" => "Please enter your  Short Description.",}
                                                    %option{:value => ""} Select One...
                                                    - (1..50).each do |i|
                                                        %option{:value => "#{i}"} Category #{i}
                                            
                                            .field-case
                                                %label.field-name Category of Interests
                                                %select.field.js-select-multi{:name => "", :multiple => "multiple"}
                                                    - (1..50).each do |i|
                                                        %option{:value => "#{i}"} Category #{i}
                                            %span.addCompany__subtitle
                                                What types of child care provider are you?
                                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}

                                            .row
                                                .col-md-6
                                                    %label.check-case.addCompany__check
                                                        %input{:type => "checkbox", :name => ""}/
                                                        %span.field-checkbox
                                                            %i.icn-checkbox
                                                        .check-name Classes
                                                    %label.check-case.addCompany__check
                                                        %input{:type => "checkbox", :name => ""}/
                                                        %span.field-checkbox
                                                            %i.icn-checkbox
                                                        .check-name Activities & Events
                                                    %label.check-case.addCompany__check
                                                        %input{:type => "checkbox", :name => ""}/
                                                        %span.field-checkbox
                                                            %i.icn-checkbox
                                                        .check-name Before & After School Programs

                                                .col-md-6
                                                    %label.check-case.addCompany__check
                                                        %input{:type => "checkbox", :name => ""}/
                                                        %span.field-checkbox
                                                            %i.icn-checkbox
                                                        .check-name Camps
                                                    %label.check-case.addCompany__check
                                                        %input{:type => "checkbox", :name => ""}/
                                                        %span.field-checkbox
                                                            %i.icn-checkbox
                                                        .check-name Preschool Programms

                                        .h4.addCompany__title.js-toggleMenu 
                                            Contacts
                                            %i.icn-angle-down
                                        .addCompany__toggleContent
                                            .row
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Email Address 
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "true"}/
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Phone
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %input.field{:type => "tel", :name => "phone", :placeholder => "Enter your phone.", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/
                                            
                                            .field-case
                                                %label.field-name 
                                                    Website
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field{:type => "text", :name => "website", "data-rule-url" => "true", "data-msg-url" => "Please enter valid url."}/ 
                                        .text-right.js.next
                                            %input.btns.btns-primary{:type => "submit", :disabled => "disabled", :value => "Next"}/
                                        %div#nextStep{'data-next' => ""}
                                            .h4.addCompany__title.js-toggleMenu 
                                                Location
                                                %i.icn-angle-down
                                            .addCompany__toggleContent
                                                .addCompany__add
                                                    %a.btns.btns-sm.btns-default.js-addNewLocation{:tabindex => ""}
                                                        + Add Location
                                                .addCompanyLocations
                                                    / - (1..3).each do |i|
                                                    /     .addCompanyLocation
                                                    /         .state Seattle, Washington, USA
                                                    /         .address 5200 35th Ave SW, Seattle, WA 98126
                                                    /         .info
                                                    /             Phone: 
                                                    /             %a.link.link-default{:href => ""} (206) 684-7434
                                                    /             Email:
                                                    /             %a.link.link-default{:href => ""} info@domain.com
                                                    /         %label.check-case.addCompany__check
                                                    /             %input{:type => "radio", :name => ""}/
                                                    /             %span.field-checkbox
                                                    /                 %i.icn-checkbox
                                                    /             .check-name 
                                                    /                 it is base company location
                                                    /                 %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    /         .control
                                                    /             %a.addCompany__edit{:tabindex => ""}
                                                    /                 %i.icn-edit
                                                    /                 Edit
                                                    /             %a.addCompany__remove{:tabindex => ""}
                                                    /                 %i.icn-close
                                                    /                 Remove
                                            
                                            
                                            .h4.addCompany__title.js-toggleMenu 
                                                Social Networks and Links
                                                %i.icn-angle-down
                                            .addCompany__toggleContent
                                                .addCompany__add
                                                    %a.btns.btns-sm.btns-default{:tabindex => "", "data-target" => "#addSocialLinkModal", "data-toggle" => "modal"} 
                                                        + Add New Link
                                                .addCompanySocLinks
                                                    / - (1..3).each do |i|
                                                    /     .addCompanySocLink
                                                    /         %i.icn-facebook
                                                    /         .cnt
                                                    /             .title Our Public Page
                                                    /             %a.link.link-primary{:href => ""}
                                                    /                 https://www.facebook.com/campfireseattle/
                                                    /         .control
                                                    /             %a.addCompany__edit{:tabindex => ""}
                                                    /                 %i.icn-edit
                                                    /                 Edit
                                                    /             %a.addCompany__remove{:tabindex => ""}
                                                    /                 %i.icn-close
                                                    /                 Remove


                                            
                                            .h4.addCompany__title.js-toggleMenu  
                                                Documents
                                                %i.icn-angle-down
                                            .addCompany__toggleContent
                                                .addCompany__add
                                                    %a.btns.btns-sm.btns-default{:tabindex => "", "data-target" => "#addDocModal", "data-toggle" => "modal"} 
                                                        + Add New Document
                                                .addCompanyDocs
                                                    / - (1..3).each do |i|
                                                    /     .addCompanyDoc
                                                    /         .cnt
                                                    /             .title Type: State business license
                                                    /             %a.link.link-primary{:href => ""}
                                                    /                 Our state business licence #377366
                                                    /         .control
                                                    /             %a.addCompany__edit{:tabindex => ""}
                                                    /                 %i.icn-edit
                                                    /                 Edit
                                                    /             %a.addCompany__remove{:tabindex => ""}
                                                    /                 %i.icn-close
                                                    /                 Remove
                                            
                                            .h4.addCompany__title.ext.js-toggleMenu  
                                                Waivers and Politicies
                                                %i.icn-angle-down
                                            .addCompany__toggleContent
                                                .addCompany__waivers
                                                    %label.check-case.addCompany__check.ext
                                                        %input{:type => "radio", :name => "waivers", :checked => "checked", :value => "text"}/
                                                        %span.field-radio
                                                            %i.icn-radio
                                                        .check-name Text
                                                    %label.check-case.addCompany__check.ext
                                                        %input{:type => "radio", :name => "waivers", :value => "doc"}/
                                                        %span.field-radio
                                                            %i.icn-radio
                                                        .check-name File
                                                    
                                                    .addText
                                                        %span.addCompany__subtitle.ext
                                                            Cancelation policy
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        .field-case
                                                            .field-name Text
                                                            %textarea.field{:name => "", :placeholder => ""}
                                                    
                                                    .addDoc
                                                        %span.addCompany__subtitle.ext
                                                            Waiver
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        .field-case.uploadFileBox
                                                            %a.btns.btns-default{:tabindex => ""} Upload File
                                                            %input{:type => "file", :name => "waiverFile", "data-rule-extension" => "pdf|jpg|png"}/
                                                            %span.name File (PDF, JPG, PNG)

                                            .addCompany__bnts
                                                %input.btns.btns-primary{:type => "submit", :disabled => "disabled", :value => "Save"}/
                                                %a.remove{:tabindex => "", "data-target" => "#removeCompay", "data-toggle" => "modal"}
                                                    %i.icn-close
                                                    Delete company



                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    