!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .settings
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Profile Settings
                            //=include components/_back.haml
                            %h1 Profile Settings
                            %form#settingsForm{:action => ""}
                                .row
                                    .col-lg-3
                                        .settings__img
                                            .img
                                                .placeholder
                                                    .placeholder__inner.sm
                                                        %i.icn-photo
                                                        %span No Photo
                                                .error
                                            %a.btns.btns-block.btns-default.js-call{:tabindex => ""} Upload Photo
                                            %input.js-change{:type => "file", :accept => ".jpg, .png, .gif"}/
                                            %a.link.link-default.js-remove{:tabindex => ""} Remove Photo
                                    .col-lg-9
                                        .h4 Personal Data
                                        .row
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        First Name
                                                        %span *
                                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    %input.field{:type => "text", :name => "firstname", :placeholder => "Enter First Name", :value => "Carlos",  :required => "true", "data-msg-required" => "Please enter your first name."}/
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Last Name
                                                        %span *
                                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    %input.field{:type => "text", :name => "lastname", :placeholder => "Enter Last Name", :value => "Moore", :required => "true", "data-msg-required" => "Please enter your last name."}/
                                            
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Your location
                                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    %input.field{:type => "text", :value => "Avondale AZ", :name => "location", :placeholder => "Enter your location"}/
                                        .h4.settings__title Contacts
                                        .row
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Email Address 
                                                        %span *
                                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :value => "marilou.schowalter@gmail.com", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "true"}/
                                                .alert.alert-warning.settings__alert
                                                    %strong Email address is not confirmed
                                                    %br/
                                                    An email with a confirmation link was sent to the specified address. Please check your mailbox.
                                                    %br/
                                                    %a.alert-link.js-sendMail{:tabindex => ""} Resend confirmation link >>
                                            .col-md-6
                                                .field-case
                                                    %label.field-name 
                                                        Cell Phone
                                                        %span *
                                                        %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                    %input.field{:type => "tel", :name => "phone", :placeholder => "Enter your phone.", :value => "+1 (465) 465-4654", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/ 
                                        .h4.settings__title Password
                                        .settings__pass
                                            %a.link.link-primary{:tabindex => "", "data-target" => "#changePasswordModal", "data-toggle" => "modal"} Change password
                                            %span Updated 3 months ago
                                        .h4.settings__title Privacy
                                        .field-case
                                            %label.check-case
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name 
                                                    Never store my Browsing History
                                        .settings__bnts
                                            %input.btns.btns-primary{:type => "submit", :value => "Save"}/
                                            %a.remove{:tabindex => "", "data-target" => "#dellAccModal", "data-toggle" => "modal"}
                                                %i.icn-close
                                                Delete Account
                            
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    