!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .addKids
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Kids
                            //=include components/_back.haml
                            //=include components/_kid.modals.haml
                            .addKids__head
                                %h1.addKids__title Kids
                                %a.btns.btns-default.addKids__add{:tabindex => "", "data-target" => "#kidModal", "data-toggle" => "modal"} + Add Child
                            
                            .addKids__list
                                - (1..4).each do |i|
                                    .addKids__listItem
                                        %span.name Bran Stark
                                        %span.old 10 years old
                                        .interests
                                            %span Interests
                                            %a.tag{:href => ""}
                                                Outdoor Activities
                                            %a.tag{:href => ""}
                                                SPORT
                                        %a.edit{:tabindex => ""}
                                            %i.icn-edit 
                                            Edit 
                                
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    