!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .socNet
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Social Networks Connections
                            //=include components/_back.haml
                            %h1 Social Networks Connections
                            %p
                                Connecting to Social Networks will allow your friends to find you on  domain.com
                            
                            .socNetItem
                                .socNetItem__title
                                    Facebook
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "right", :title => "hint for you", 'data-container' => "element"}
                                %p.socNetItem__info
                                    Connecting to Facebook will allow your friends to find you on domain.com
                                %a.btns.btns-primary.js-connect{:tabindex => ""} 
                                    Connect
                                .socNetItem__body
                                    %i.icn-facebook{:style => "color: #4460A0"}
                                    .socNetItem__cnt
                                        %span.name 
                                            Connected as 
                                            %a.link.link-primary{:href => ""} John Snow
                                    %a.btns.btns-sm.btns-facebook.js-disconnect{:tabindex => ""}  Disconnect
                            
                            .socNetItem
                                .socNetItem__title
                                    Google
                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "right", :title => "hint for you", 'data-container' => "element"}
                                %p.socNetItem__info
                                    Connecting to Google will allow your friends to find you on domain.com
                                %a.btns.btns-primary.js-connect{:tabindex => ""} 
                                    Connect
                                .socNetItem__body
                                    %i.icon-google.icon-google-size 
                                    .socNetItem__cnt
                                        %span.name 
                                            Connected as 
                                            %a.link.link-primary{:href => ""} John Snow
                                    %a.btns.btns-sm.btns-facebook.js-disconnect{:tabindex => ""}  Disconnect
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    