!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .addEvent
               
                #addSocialLinkModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                    %span{"aria-hidden" => "true"} ×
                                %h2.modals__title.left
                                    Add Link 
                                %form#addSocialLink{:action => "", "data-status" => "new"}
                                    %input.field{:type => "hidden", :name => "ind"}/
                                    .field-case
                                        %label.field-name 
                                            Title
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    .field-case
                                        %label.field-name 
                                            Past Link from Yotube
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "url", :required => "true", "data-msg-required" => "Please enter your url.", "data-rule-space" => "true", "data-msg-space" => "Letters and spaces only please", "data-rule-url" => "true", "data-msg-url" => "Please enter valid url."}/  
                                    %input.btns.btns-primary.btns-block{:type => "submit", :value => "Add Link", :disabled => ""}/ 
                                    %input.resetButton{:type => "reset", :value => "reset"}/ 
                                    %a.cancel{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                #confirmSocialLinkModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to leave adding new link? 
                                    %br/
                                    All your changes will be lost.
                                    
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-doneLink OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block.js-cancelLink Cancel
                #removeSocialLinkModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to remove link?
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-linkDel OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                                    
                %script{:src => "https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"}
                %script{:src => "https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"}

                #addLocationModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog.xl{:role => "document"}
                        .modal-content
                            .modal-body
                                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                    %span{"aria-hidden" => "true"} ×
                                %h2.modals__title.left
                                    Add New Location
                                %form#addLocation{:action => "", "data-status" => "new", :autocomplete => "off"}
                                    %input.field{:type => "hidden", :name => "ind"}/
                                    %input.field{:type => "hidden", :name => "coordinates"}/
                                    .field-case
                                        %label.field-name 
                                            Title
                                            %span *
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    
                                    .row
                                        .col-md-4
                                            .field-case
                                                %label.field-name 
                                                    City 
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field.js-location{:type => "text", :name => "location", :required => "true", "data-msg-required" => "Please enter your  Business Address.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => true, "data-rule-address" => true, "data-msg-space" => "Please select Address dopdown."}/
                                        .col-md-4
                                            .field-case
                                                %label.field-name 
                                                    Business Street Address
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field.js-location{:type => "text", :name => "businessStAddress", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                        .col-md-4
                                            .field-case
                                                %label.field-name 
                                                    ZIP
                                                    %i.icn-info-solid.js-location{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field{:type => "text", :name => "code", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true",}/
                                    .row
                                        .col-md-8.order-md-1
                                            .mapPlace
                                                .mapPlace__info
                                                    Move map marker if his position is incorrect
                                                #locationMap
                                        .col-md-4
                                            %label.check-case
                                                %input{:type => "checkbox", :name => "hasEmail", :value => "false"}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name 
                                                    Has own EmailAddress
                                            .field-case
                                                %label.field-name 
                                                    Email Address
                                                %input.field{:disabled => "", :type => "email", :name => "email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "true"}/
                                            %label.check-case
                                                %input{:type => "checkbox", :name => "hasPhone", :value => "false"}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name 
                                                    Has own Phone
                                            .field-case
                                                %label.field-name 
                                                    Phone
                                                %input.field{:disabled => "", :type => "tel", :name => "phone", :required => "true", "data-msg-required" => "Please enter your phone.", "data-rule-phonev" => "true", "data-msg-phonev" => "Please enter a valid phone number"}/

                                            %label.check-case
                                                %input{:type => "checkbox", :name => "hasWebsite", :value => "false"}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name  
                                                    Has own Website
                                            .field-case
                                                %label.field-name 
                                                    Website
                                                %input.field{:disabled => "", :type => "text", :name => "website", :required => "true", "data-msg-required" => "Please enter your website.", "data-msg-space" => "Letters and spaces only please", "data-rule-space" => "true", "data-rule-url" => "true", "data-msg-url" => "Please enter valid url."}/
                                        
                                    %input.resetButton{:type => "reset", :value => "reset"}/ 
                                    %input.btns.btns-primary{:type => "submit", :value => "Add Location", :disabled => ""}/ 
                                    %a.cancel.inline{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel

                #confirmLocationModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to leave adding new location? 
                                    %br/
                                    All your changes will be lost
                                    
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-doneLocation OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block.js-cancelLocation Cancel
                #removeLocationModal.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure you want to remove location?
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block.js-locationDel OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                
                //=include components/_add.event.modal.haml
                
                #removeEvent.modal.modals.fade{"aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "false", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog{:role => "document"}
                        .modal-content
                            .modal-body
                                %h4.modals__title.center
                                    Are you sure to delete your event? 
                                    %br/
                                    All data will be lost.
                                .row
                                    .col-6
                                        %a.btns.btns-primary.btns-block{:href => ""} OK   
                                    .col-6
                                        %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal", :tabindex => ""} Cancel
                



                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %a.link-primary{:href => ""} Profile Settings
                                %span Add Event
                            //=include components/_back.haml
                            %h1 Add Event
                            %form#addCompanyForm{:action => "", "data-status" => "new"}
                                .row
                                    .col-lg-12
                                        .h4.addEvent__title.ext2.js-toggleMenu 
                                            Company Data
                                            %i.icn-angle-down
                                        .addEvent__toggleContent 
                                            .field-case
                                                %label.field-name 
                                                    Title
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %input.field{:type => "text", :name => "title", :required => "true", "data-msg-required" => "Please enter your title."}/
                                            .field-case
                                                %label.field-name 
                                                    Short Description
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %textarea.field.js-counterStr{:name => "shortDescription", :required => "true", "data-msg-required" => "Please enter your  Short Description.", "data-rule-maxlength" => "130", "data-msg-maxlength" => "Please enter a value of up to 130 characters",}
                                            .addEvent__max.text-right{"data-max" => "130"} 
                                                Max. 
                                                %span 130 
                                                characters

                                            .field-case
                                                %label.field-name 
                                                    Full Description
                                                    %span *
                                                    %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                %textarea.field{:name => "fullDescription", :required => "true",  "data-msg-required" => "Please enter your  Complete business description"}
                                            .row
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Event Type
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %select.field.js-select-multi{:name => "eventType", :multiple => "multiple", :required => "true", "data-msg-required" => "Please select event type."}
                                                            - (1..50).each do |i|
                                                                %option{:value => "#{i}"} Category #{i}
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Location Type
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %select.field.js-select{:name => "localtype", :required => "true", "data-msg-required" => "Please select location type."}
                                                            %option{:value => ""} Select One...
                                                            - (1..50).each do |i|
                                                                %option{:value => "#{i}"} Category #{i}
                                            .field-case
                                                %label.field-name 
                                                    Category of Interests
                                                    %span *
                                                %select.field.js-select-multi{:name => "catOfIn", :multiple => "multiple", :required => "true", "data-msg-required" => "Please select category of interests."}
                                                    - (1..50).each do |i|
                                                        %option{:value => "#{i}"} Category #{i}
                                            

                                        .h4.addEvent__title.js-toggleMenu 
                                            Company and Location
                                            %i.icn-angle-down
                                        .addEvent__toggleContent
                                            .row
                                                .col-md-6
                                                    .field-case
                                                        %label.field-name 
                                                            Select Company
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %select.field.js-select.js-getLocations{:name => "company", :required => "true", "data-msg-required" => "Please enter select company.",}
                                                            %option{:value => ""} Select One...
                                                            - (1..50).each do |i|
                                                                %option{:value => "#{i}"} My Company #{i}

                                                .col-md-6
                                                    .field-case.addEvent__locations
                                                        %label.field-name 
                                                            Select Location
                                                            %span *
                                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                                        %select.field.js-select{:name => "addressed", :required => "true", "data-msg-required" => "Please enter select Location.",}
                                                            %option{:value => ""} Select One...
                                                            - (1..10).each do |i|
                                                                %option{:value => "#{i}"}
                                                                    5200 35th Ave SW, Seattle, WA 9812#{i}
                                                    .field-case
                                                        %label.check-case.addEvent__check
                                                            %input{:type => "checkbox", :name => ""}/
                                                            %span.field-checkbox
                                                                %i.icn-checkbox
                                                            .check-name 
                                                                is online event (disable location)
                                                                %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                            %a.btns.btns-sm.btns-default.js-addNewLocation{:tabindex => ""}
                                                + Create Location
                                        
                                        .h4.addEvent__title.js-toggleMenu 
                                            Photos
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                            %i.icn-angle-down
                                        .addEvent__toggleContent
                                            .addEvent__photos
                                                .photoAdd
                                                    %span +
                                                    %input.ignore{:type => "file", :accept => ".jpg, .jpeg, .png", :multiple => ""}/
                                        .h4.addEvent__title.js-toggleMenu 
                                            Videos
                                            %i.icn-angle-down
                                        .addEvent__toggleContent    
                                            .addEventSocLinks
                                            %a.btns.btns-sm.btns-default{:tabindex => "", "data-target" => "#addSocialLinkModal", "data-toggle" => "modal"} 
                                                + Add one More Link 
                                        .text-right
                                            %input.btns.btns-primary.js-next{:type => "submit", :disabled => "disabled", :value => "Next"}/
                                        %div#nextStep{'data-next' => ""}
                                            .h4.addEvent__title.js-toggleMenu  
                                                Schedules and Prices
                                                %i.icn-angle-down
                                            
                                            .addEvent__toggleContent
                                                .addEvent__schedules 
                                                    / - (1..3).each do |i|
                                                    /     .addEvent__schedule
                                                    /         .head
                                                    /             %h4
                                                    /                 Camp “Young Climber”
                                                    /             %span.badges.badges-discount -20%
                                                    /         .statusPre
                                                    /             .status
                                                    /                 - if i != 2
                                                    /                     %span.text-success Is showing in the catalog
                                                    /                     %a.link.link-primary.js-showing.show{:tabindex => ""} Stop Showing
                                                    /                 - else
                                                    /                     %span.text-danger Is hidden from catalog
                                                    /                     %a.link.link-primary.js-showing{:tabindex => ""} Start Showing
                                                    /             .per
                                                    /                 %del $200
                                                    /                 %strong $160
                                                    /                 %span for a seat

                                                    /         .props
                                                    /             .prop
                                                    /                 .name Date 
                                                    /                 .val 10 May, 2019 - 24 October, 2019 (M, TU, W, TH, F, SA)

                                                    /             .prop
                                                    /                 .name age
                                                    /                 .val 7-10

                                                    /             .prop
                                                    /                 .name SEATS AVAILABLE
                                                    /                 .val 5-10
                                                    /         .bottBar
                                                    /             %p
                                                    /                 kids 7-10 years old, all day since 9am to 6pm, skill level is not required (you have never engaged in rock climbing before)
                                                    /             .prop
                                                    /                 .name the price is valid from
                                                    /                 .val 1 May, 2019 - 12 Mayt, 2019
                                                    /         .btnsBlock
                                                    /             %a.addEvent__edit.ext{:tabindex => ""}
                                                    /                 %i.icn-clone
                                                    /                 Clone
                                                    /             %a.addEvent__edit{:tabindex => ""}
                                                    /                 %i.icn-edit
                                                    /                 Edit
                                                    /             %a.addEvent__remove{:tabindex => ""}
                                                    /                 %i.icn-close
                                                    /                 Remove

                                                %a.btns.btns-sm.btns-default{:tabindex => "", "data-target" => "#addScheduleModal", "data-toggle" => "modal"}
                                                    + Add Schedule and Price   

                                            .addEvent__bnts
                                                %input.btns.btns-primary{:type => "submit", :disabled => "disabled", :value => "Save"}/
                                                %a.remove{:tabindex => "", "data-target" => "#removeEvent", "data-toggle" => "modal"}
                                                    %i.icn-close
                                                    Delete Event



                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    