!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .reviewsPage
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Orders
                            //=include components/_back.haml
                            %h1 Orders
                            .listItem.classesEvents__head
                                .row
                                    .col-md-6
                                        .field-case
                                            %label.field-name Show Orders
                                            %select.field.js-select{:name => "", :required => "true"}
                                                %option{:value => "All"} All
                                                %optgroup{:label => "Companies"}
                                                    %option{:value => "Company name 1"}Company name 1
                                                    %option{:value => "Company name 2"}Company name 2
                                                %optgroup{:label => "Events"}
                                                    %option{:value => "Events name 1"} Events name 1
                                                    %option{:value => "Events name 2"} Events name 2
                                                    %option{:value => "Events name 3"} Events name 3
                                            
                                    .col-md-6
                                        .field-case
                                            %label.field-name.d-none.d-lg-block &nbsp;
                                            %input.field.field-icon{:type => "text", :name => "", :placeholder => "", :required => "true"}/
                                            %i.icn-search
                            
                            %h4 Current Orders
                            - (1..2).each do |i|
                                .thankYouTtable
                                    .thankYouTtable__head
                                        %span.num #3876
                                        %span.date May 5, 2018, 6:42PM
                                        - if i == 1
                                            %span.badges2.badges2-success Order is paid
                                        - else
                                            %span.badges2.badges2-success free
                                        %span.total
                                            Total: 
                                            &nbsp;
                                            %strong $500
                                    .thankYouTtable__box
                                        .box
                                            %strong Customer
                                            %p Adam Toporek
                                            %p wants to begin on May 7. 2018
                                            %p.cont
                                                %i.icn-phone
                                                %a.link.link-default{:href => ""} 
                                                    +1 676 787878
                                            %p.cont
                                                %i.icn-email
                                                %a.link.link-primary{:href => ""} 
                                                    a.toporek@gmail.com
                                            
                                                
                                        .box
                                            %strong Kids (2)
                                            %p
                                                Michael Toporek (age: 10)
                                                %br/
                                                Sarah Toporek (age:11)

                                        
                                        .box.w100
                                            %strong Comment
                                            %p
                                                Hi! I want to start lessons on Monday. If it is possible. PLease, don’t call me. I can’t speak when i’m at work. Use WhatsApp or email for communication with me. Thanks.
                                    .thankYouTtable__box
                                        .box.w100
                                            %strong Event
                                            %p
                                                %a.link.link-primary{:href => ""} Adventure Out
                                                %br/
                                                %a.link.link-primary{:href => ""} Rock Climbing for Kids and Teenagers

                                        .box.w100.ext
                                            %strong Class “Rock Climbinf for Kids”
                                            %p
                                                %span.upper 
                                                    %span the nearest date
                                                    Today

                                                %span.upper 
                                                    %span price
                                                    $250 for a seat
                                            %a.link.link-primary.js-showSchedulesDates{:tabindex => "", "data-text" => "no"}
                                                &nbsp;Show schedule
                                                %i.icn-date
                                            .schedules__calendar.ext
                                                / You can add min date - data-minDate="2019, 03, 20"
                                                .datepicker__calendar
                                                .schedules__time
                                                    .item{"data-type" => "am"}
                                                        .marker{:style => "background-color: #f1edf9"}
                                                        %span 9:00am - 11:00am
                                                    .item{"data-type" => "pm"}
                                                        .marker{:style => "background-color: #ccc4de"}
                                                        %span 9:00am - 11:00am
                                                    .item{"data-type" => "other"}
                                                        .marker{:style => "background: #f1edf9; background: -moz-linear-gradient(45deg, #f1edf9 50%, #ccc4de 50%); background: -webkit-linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); background: linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1edf9', endColorstr='#ccc4de',GradientType=1 );"}
                                                        %span 9:00am - 10:30am
                                                        %span 9:00pm - 10:30pm

                                        .box.w100
                                            %a.link.link-primary.process.js-orderProcess{:tabindex => "", "data-process" => "Are you sure to move order to Processed status ?"} 
                                                Move the order to processed
                                                %i.icn-arr-down
                            %h4.orderTitle Processed Order
                            
                            .orderItems
                                - (1..5).each do |i|
                                    .orderItem
                                        .box
                                            %p
                                                %span.num #3876
                                                May 5, 2018, 6:42PM
                                            %p
                                                Class "Rock Climbing for Kids"
                                        .box
                                            %p Adam Toporek
                                            %p wants to begin on May 7. 2018
                                            %p
                                                %i.icn-phone
                                                %a.link.link-default{:href => ""} 
                                                    +1 676 787878
                                            %p
                                                %i.icn-email
                                                %a.link.link-primary{:href => ""} 
                                                    a.toporek@gmail.com
                                        .box
                                            %p.total
                                                Total: 
                                                &nbsp;
                                                %strong $500
                                            %p
                                                %a.link.link-primary.process.js-orderProcess{:tabindex => "", "data-process" => "Are you sure to move order to Current status ?"} 
                                                    Move the order to current
                                                    %i.icn-arr-up
                                            %a.btns-sm.btns.btns-primary{:tabindex => "", "data-target" => "#orderInfoModal", "data-toggle" => "modal"} Show full info
                                    
                            .wishlistPage__add
                                %a.btns.btns-default.js-loadOrders{:tabintex => ""} Show More

                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
    
            #changeOrderStatus.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                    .modal-content
                        .modal-body
                            %h2.modals__smallSpace.js-addText 
                                
                            %br/
                            .row
                                .col-6
                                    %a.btns.btns-primary.btns-block.js-deleteReview{:href => "profile-orders.html"} Yes   
                                .col-6
                                    %a.btns.btns-default.btns-block{"aria-label" => "Close", "data-dismiss" => "modal"} No       
            
            #orderInfoModal.modal.modals.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog.xl{:role => "document"}
                    .modal-content
                        .modal-body
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                                %span{"aria-hidden" => "true"} ×
                            %h2.modals__title.left Order's Full Info
                            .thankYouTtable
                                .thankYouTtable__head
                                    %span.num #3876
                                    %span.date May 5, 2018, 6:42PM
                                    %span.badges2.badges2-success Order is paid
                                    %span.total
                                        Total: 
                                        &nbsp;
                                        %strong $500
                                .thankYouTtable__box
                                    .box
                                        %strong Customer
                                        %p Adam Toporek
                                        %p wants to begin on May 7. 2018
                                        %p.cont
                                            %i.icn-phone
                                            %a.link.link-default{:href => ""} 
                                                +1 676 787878
                                        %p.cont
                                            %i.icn-email
                                            %a.link.link-primary{:href => ""} 
                                                a.toporek@gmail.com
                                        
                                            
                                    .box
                                        %strong Kids (2)
                                        %p
                                            Michael Toporek (age: 10)
                                            %br/
                                            Sarah Toporek (age:11)

                                    
                                    .box.w100
                                        %strong Comment
                                        %p
                                            Hi! I want to start lessons on Monday. If it is possible. PLease, don’t call me. I can’t speak when i’m at work. Use WhatsApp or email for communication with me. Thanks.
                                .thankYouTtable__box
                                    .box.w100
                                        %strong Event
                                        %p
                                            %a.link.link-primary{:href => ""} Adventure Out
                                            %br/
                                            %a.link.link-primary{:href => ""} Rock Climbing for Kids and Teenagers

                                    .box.w100.ext
                                        %strong Class “Rock Climbinf for Kids”
                                        %p
                                            %span.upper 
                                                %span the nearest date
                                                Today

                                            %span.upper 
                                                %span price
                                                $250 for a seat
                                        %a.link.link-primary.js-showSchedulesDates{:tabindex => "", "data-text" => "no"}
                                            &nbsp;Show schedule
                                            %i.icn-date
                                        .schedules__calendar.ext
                                            / You can add min date - data-minDate="2019, 03, 20"
                                            .datepicker__calendar
                                            .schedules__time
                                                .item{"data-type" => "am"}
                                                    .marker{:style => "background-color: #f1edf9"}
                                                    %span 9:00am - 11:00am
                                                .item{"data-type" => "pm"}
                                                    .marker{:style => "background-color: #ccc4de"}
                                                    %span 9:00am - 11:00am
                                                .item{"data-type" => "other"}
                                                    .marker{:style => "background: #f1edf9; background: -moz-linear-gradient(45deg, #f1edf9 50%, #ccc4de 50%); background: -webkit-linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); background: linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1edf9', endColorstr='#ccc4de',GradientType=1 );"}
                                                    %span 9:00am - 10:30am
                                                    %span 9:00pm - 10:30pm

                                    .box.w100
                                        %a.link.link-primary.process{:href => ""} 
                                            Move the order to processed
                                            %i.icn-arr-down 
                                             
        
        //=include components/_footer.haml
    