!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            - $wish = true
            //=include components/_header.haml
            .wishlistPage
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Wish List
                            //=include components/_back.haml
                            %h1 Wish List
                            .wishlistPage__content
                                .wishlistPage__events
                                    %h4.wishlistPage__title 
                                        Enrollment is available (
                                        %span.countEvent 9
                                        )
                                    - (1..3).each do |i|
                                        .eventItem.eventsList__item
                                            %a.eventItem__img{:href => ""}
                                                - if i == 3 
                                                    .placeholder
                                                        .placeholder__inner
                                                            %i.icn-photo
                                                            %span No Photo
                                                - else
                                                    %img{:src => "http://loremflickr.com/250/200", :srcset => "http://loremflickr.com/250/200 1x, http://loremflickr.com/500/400 2x", :alt => ""}/
                                            .eventItem__content
                                                .eventItem__info
                                                    %span.dateAge
                                                        TODAY
                                                        %i.icn-radio
                                                        AGE: 8-14
                                                    %a.addWish.eventItem__icon.ext
                                                        %i.icn-favorite.js-removeEvent
                                                .eventItem__title
                                                    %a{:href => ""}
                                                        Rock Climbing for Kids and Teenagers
                                                .eventItem__info
                                                    %a.eventItem__label.ext{:href => ""}
                                                        Adventure Out 
                                                    .rate
                                                        %i.icn-star.active
                                                        %i.icn-star.active
                                                        %i.icn-star.active
                                                        %i.icn-star
                                                        %i.icn-star
                                                    %a.commentsCount.eventItem__comments{:href => ""}
                                                        %i.icn-comments
                                                        3
                                                .eventItem__text.ext
                                                    This camp is designed for those kids ages 8-14 who want to experience the thrill of outdoor rock climbing. Each half-day (4-hour) class will be held at Castle Rock State Park in the Los Gatos/Santa Cruz Hills. No previous experience is necessary and advanced coaching also available for kids that have climbed before 
                                                .eventItem__tags
                                                    %a.tag{:href => ""} Outdoor Activities
                                                    %a.tag{:href => ""} SPORT
                                                    %a.tag{:href => ""} TEAM SPORT
                                .wishlistPage__add.ext
                                    %a.btns.btns-default.js-loadEvent{:tabintex => ""} 
                                        Show More
                                .wishlistPage__enrollment
                                    %h4.wishlistPage__title 
                                        There is no searts or date of enrollment is ended (
                                        %span.countEnroll 9
                                        )
                                    - (1..3).each do |i|
                                        .browsHisItem.listItem
                                            %a.browsHisItem__img{:href => ""}
                                                %img{:src => "http://loremflickr.com/90/65", :srcset => "http://loremflickr.com/90/65 1x, http://loremflickr.com/180/130 2x", :alt => ""}/
                                            .browsHisItem__content
                                                %h4.browsHisItem__title
                                                    %a{:href => ""} Rock Climbing for Kids and Teenagers #{i}
                                                %a.link.link-primary{:href => ""}
                                                    Adventure Out
                                            %i.icn-favorite.js-removeEnrollment
                                .wishlistPage__add
                                    %a.btns.btns-default.js-loadEnrollment{:tabintex => ""} Show More
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    