!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .notePref
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Notification Preferences
                            //=include components/_back.haml
                            %h1.notePref__title Notification Preferences
                            .row
                                .col-lg-9
                                    .notePref__control
                                        .h4.notePref__subtitle
                                            Email Notifications
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %a.link.link-primary.js-checkNote{:tabindex => ""} Ckeck all
                                        %a.link.link-primary.js-unCheckNote{:tabindex => ""} Uncheck all
                                    %form.notePref__form{:action => ""}
                                        %label.check-case
                                            %input{:type => "checkbox", :name => "", :checked => "checked"}/
                                            %span.field-checkbox
                                                %i.icn-checkbox
                                            .check-name 
                                                Email me updates about new domain. com features and announcements
                                        %label.check-case
                                            %input{:type => "checkbox", :name => "", :checked => "checked"}/
                                            %span.field-checkbox
                                                %i.icn-checkbox
                                            .check-name  
                                                Email me weekly event guide: a digest of personalized event recommendations
                                        %label.check-case
                                            %input{:type => "checkbox", :name => "", :checked => "checked"}/
                                            %span.field-checkbox
                                                %i.icn-checkbox
                                            .check-name 
                                                Email me requests for additional information on an event after you have attended
                                        %label.check-case
                                            %input{:type => "checkbox", :name => "", :checked => "checked"}/
                                            %span.field-checkbox
                                                %i.icn-checkbox
                                            .check-name 
                                                Email me when friends register for events near me
                                        %label.check-case
                                            %input{:type => "checkbox", :name => "", :checked => "checked"}/
                                            %span.field-checkbox
                                                %i.icn-checkbox
                                            .check-name 
                                                Email me when an organizer you follow announces a new event 
                                        %button.btns.btns-block.btns-primary.notePref__btn{:type => "submit"} Save
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    