!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .dashboard
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %span Profile
                            //=include components/_back.haml
                            %h1.js-title
                                John!
                                
                            .row
                                .col-md-5.col-xl-4.order-1.order-md-0
                                    .box.dashboard__history
                                        %h4 Your Browsing History
                                        .linkList
                                            %a{:href => ""} Rock Climbing for Kids and Teenagers
                                            %a{:href => ""} Spanish Immersion School
                                            %a{:href => ""} STEAM Kids Lab
                                            %a{:href => ""} Alamander Summer Camp
                                            %a{:href => ""} Kiddle Academy of Hamilton Park
                                            %a{:href => ""} Smart Start Academy
                                        .bottomBar
                                            %a.link.link-primary{:href => ""} Show Full List
                                .col-md-7.col-xl-8
                                    .snapshots
                                        %a.box.snapshot{:href => ""}
                                            %strong $370000
                                            %span Your Balance
                                    
                                        %a.box.snapshot{:href => ""}
                                            %strong 3
                                            %span Current Orders

                                    
                                        %a.box.snapshot{:href => ""}
                                            %strong 24
                                            %span Review are waiting for your reply

                                    
                                        %a.box.snapshot{:href => ""}
                                            %strong 0
                                            %span Item in your wishlist

                                    
                                        %a.box.snapshot{:href => ""}
                                            %strong 23
                                            %span Enrollments
                            
                            .dashboard__guides
                                %h3 We are some valuable advices for you
                                .guides
                                    .box.guide
                                        %i.icn-close.js-closeguide   
                                        .h3 Create a company
                                        %p
                                            Our congratulations! Now you have the provider account. It is an awesome reason to tell us about your company
                                        %a.btns-block.btns.btns-default{:href => ""} Begin
                                    .box.guide
                                        %i.icn-close.js-closeguide    
                                        .h3 Add Classes/Events
                                        %p
                                            Just create the first offer and get new customers right today.
                                        %a.btns-block.btns.btns-default{:href => ""} Let's Go!
                                    .box.guide
                                        %i.icn-close.js-closeguide    
                                        .h3 What about kids?
                                        %p
                                            If you will create children’s profiles, you will be able to make orders faster, and we will be able to give you more relevant search results!
                                        %a.btns-block.btns.btns-default{:href => ""} Add a Kid
                                    .box.guide
                                        %i.icn-close.js-closeguide    
                                        .h3 Do you need more customers?
                                        %p
                                            Allow us to provide. you. the best advertising service for your business.
                                        %a.btns-block.btns.btns-default{:href => ""} Place an Advertisement
                            
                            .dashboard__new
                                %h3 What’s new
                                .block
                                    .h4.day May 5, 2018
                                    - (1..4).each do |i|
                                        .item.listItem
                                            .item__head
                                                %span.name Sheba K.
                                                %span.to wrote a review to
                                                %a.link.link-primary{:href => ""} Kiddle Academy of Hamilton Park
                                                %span.time 7:02pm
                                            .item__content
                                                %p
                                                    - if i == 1 
                                                        My LO has been going to Kiddie Academy of Hamilton for over a year and half now and she absolutely loves it. I have never had a day when she said she didn’t want to go to her school… 
                                                    - if i == 4
                                                        Thank You!
                                                - if i == 1 || i == 4
                                                    %a.reply{:href => ""}    
                                                        %i.icn-reply
                                                        Read and Reply
                                            - if i == 2 || i == 3
                                                %a.show{:href => ""}    
                                                    %i.icn-bars
                                                    Show Current Orders
                            .loading
                                .loader-circle
                                Loading  history reviews
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    