!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .reviewsPage
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Enrollments
                            //=include components/_back.haml
                            %h1 Enrollments
                            - (1..4).each do |i|
                                .thankYouTtable
                                    .thankYouTtable__head
                                        %span.num #3876
                                        %span.date May 5, 2018, 6:42PM
                                        - if i == 1
                                            %span.badges2.badges2-success Order is paid
                                        - elsif i == 2 
                                            %span.badges2.badges2-warninig Payment is processing
                                        - elsif i == 3
                                            %span.badges2.badges2-danger Payment is failed
                                        - else
                                            %span.badges2.badges2-default Payment is processing
                                        
                                        %span.total
                                            Total: 
                                            &nbsp;
                                            %strong $500
                                    .thankYouTtable__box
                                        .box
                                            %strong Kids (2)
                                            %p
                                                Michael Toporek (age: 10)
                                                %br/
                                                Sarah Toporek (age:11)

                                        .box
                                            %strong Date
                                            .text
                                                May 7, 2018
                                                &nbsp;
                                                &nbsp;

                                                .link.link-primary.addeventatc{:title => "Add to Calendar"}
                                                    %i.icn-calendar-pluse
                                                    Add to Calendar

                                                    %span.start 04/10/2019 08:00 AM
                                                    %span.end 04/10/2019 10:00 AM
                                                    %span.timezone
                                                        America/Los_Angeles
                                                    %span.title Summary of the event
                                                    %span.description Description of the event
                                                    %span.location Location of the event

                                                

                                        .box.w100
                                            %strong Comment
                                            %p
                                                Hi! I want to start lessons on Monday. If it is possible. PLease, don’t call me. I can’t speak when i’m at work. Use WhatsApp or email for communication with me. Thanks.
                                    .thankYouTtable__box
                                        .box.w100
                                            %strong Event
                                            %p
                                                %a.link.link-primary{:href => ""} Adventure Out
                                                %br/
                                                %a.link.link-primary{:href => ""} Rock Climbing for Kids and Teenagers

                                        .box.w100.ext
                                            %strong Class “Rock Climbinf for Kids”
                                            %p
                                                %span.upper 
                                                    %span the nearest date
                                                    Today

                                                %span.upper 
                                                    %span price
                                                    $250 for a seat
                                            %a.link.link-primary.js-showSchedulesDates{:tabindex => "", "data-text" => "no"}
                                                &nbsp;Show schedule
                                                %i.icn-date
                                            .schedules__calendar.ext
                                                / You can add min date - data-minDate="2019, 03, 20"
                                                .datepicker__calendar
                                                .schedules__time
                                                    .item{"data-type" => "am"}
                                                        .marker{:style => "background-color: #f1edf9"}
                                                        %span 9:00am - 11:00am
                                                    .item{"data-type" => "pm"}
                                                        .marker{:style => "background-color: #ccc4de"}
                                                        %span 9:00am - 11:00am
                                                    .item{"data-type" => "other"}
                                                        .marker{:style => "background: #f1edf9; background: -moz-linear-gradient(45deg, #f1edf9 50%, #ccc4de 50%); background: -webkit-linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); background: linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1edf9', endColorstr='#ccc4de',GradientType=1 );"}
                                                        %span 9:00am - 10:30am
                                                        %span 9:00pm - 10:30pm
                                    
                            
                            
                            //=include components/_pager.haml
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    