!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .classesEvents
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Classes and Events
                            //=include components/_back.haml
                            %h1 Classes and Events
                            .listItem.classesEvents__head
                                .row
                                    .col-lg-4.col-md-6
                                        .field-case
                                            %label.field-name Show Events
                                            %select.field.js-select{:name => "", :required => "true"}
                                                %option{:value => ""} Select field
                                                - (1..5).each do |i|
                                                    %option{:value => ""} Select item #{i}
                                            
                                    .col-lg-4.col-md-6
                                        .field-case
                                            %label.field-name Companies
                                            %select.field.js-select{:name => "", :required => "true"}
                                                %option{:value => ""} Select field
                                                - (1..5).each do |i|
                                                    %option{:value => ""} Select item #{i}

                                    .col-lg-4.col-md-12
                                        .field-case
                                            %label.field-name.d-none.d-lg-block &nbsp;
                                            %input.field.field-icon{:type => "", :name => "", :placeholder => "", :required => "true"}/
                                            %i.icn-search
                                    
                            .classesEvents__list
                                - (1..10).each do |i|
                                    .classesEventsItem.listItem
                                        %a.classesEventsItem__img{:href => ""}
                                            %img{:src => "http://loremflickr.com/90/65", :srcset => "http://loremflickr.com/90/65 1x, http://loremflickr.com/180/130 2x", :alt => ""}/
                                        .classesEventsItem__content
                                            .classesEventsItem__rightBar
                                                %a.edit{:href => ""}
                                                    %i.icn-edit 
                                                    Edit
                                                %br/
                                                - if i == 5
                                                    .badges2.badges2-success
                                                        Available 5 seats
                                                - else
                                                    .badges2.badges2-danger
                                                        No available seats
                                                %br/
                                                .rate
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star
                                                    %i.icn-star
                                                %a.commentsCount{:href => ""}
                                                    %i.icn-comments
                                                    3

                                            %h4.classesEventsItem__title
                                                %a{:href => ""} Music Lessons for Kids and Teenagers
                                            %span.classesEventsItem__address
                                                900 Poplar Pl S, Seattke, WA 98144
                                            %a.link.link-primary{:href => ""} Adventure Out
                                            .classesEventsItem__props
                                                .item
                                                    PRICE
                                                    %span 
                                                        %strong $160-$320

                                                .item
                                                    Date
                                                    %span Today

                                                .item
                                                    age
                                                    %span 8-14
                                                .item
                                                    ORDERS
                                                    %a.link.link-primary{:href => ""} 3
                                            %a.btns.btns-icon{:href => ""}
                                                %i.icn-edit
                            .loading
                                .loader-circle
                                Loading more events
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    