!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .payment
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Payment Statistics
                            //=include components/_back.haml
                            - $page = "statistics"
                            //=include components/_payment.head.haml
                            
                            .row.align-items-center
                                .col-md-5.col-lg-4
                                    .field-case
                                        %label.field-name
                                            Date Range
                                            %span * 
                                            %i.icn-info-solid{"data-toggle" => "tooltip", "data-placement" => "left", :title => "hint for you", 'data-container' => "element"}
                                        %input.field.field-icon.js-daterange{:type => "text", :name => "daterange", :palceholder => "Pick a date", :autocomplete => "off"}/
                                        %i.icn-calendar-date
                                        .appearance 
                                .col-md-7.col-lg-8
                                    .dateBtns
                                        %a.active{:href => ""} June 2018
                                        %a{:href => ""} July 2018
                                        %a{:href => ""} August 2018


                            %table.tableCustom.payment__statisticsTable
                                %thead
                                    %tr
                                        %th transaction sum
                                        %th date and time
                                        %th description
                                        %th Balance
                                %tbody
                                    - (1..5).each do |i|
                                        %tr
                                            %td
                                                %span.label Transaction Sum
                                                %strong.red -$190 
                                                
                                            %td
                                                15 August, 2018 13:22
                                            %td
                                                Withdrawal of money
                                            %td
                                                %span.label Balance
                                                %strong $360
                                        %tr
                                            %td
                                                %span.label Transaction Sum
                                                %strong.green +$110

                                            %td
                                                10 August, 2018 13:21
                                            %td
                                                Order #3812, Jane Risen, Spanish Immersion School
                                            %td
                                                %span.label Balance
                                                %strong $389
                                %tfoot
                                    %tr
                                        %td{:colspan => "3"}
                                            %strong Total
                                        %td
                                            %strong.green +$940
                                            %strong.red -$740
                            
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    