!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .reviewsPage
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Reviews
                            //=include components/_back.haml
                            %h1 Reviews
                            .emptyContent
                                %i.icn-review-empty
                                .h4 Lorem ipsum dolor sit amet
                                %p Lorem ipsum dolor sit amet, consectetur
                                %a.btns.btns-primary{:href => ""} Lorem ipsum

                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    