!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .payment
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Payment History
                            //=include components/_back.haml
                            
                            %h1 History of Payment Request
                            %table.tableCustom.payment__historyTable
                                %tbody
                                    - (1..10).each do |i|
                                        %tr
                                            %td
                                                15 August, 2018 13:22
                                                
                                            %td
                                                %strong $190
                                            %td
                                                Direct Deposit/ACH
                                            %td
                                                - if i == 1
                                                    %span.badges2.badges2-default Pending
                                                - elsif i == 2
                                                    %span.badges2.badges2-danger Cancelled
                                                - elsif i == 3
                                                    %span.badges2.badges2-warninig Pending
                                                - else
                                                    %span.badges2.badges2-success Paid
                                            %td
                                                %span.date
                                                    Estimated date of commision:
                                                    %br/
                                                    19 August, 2018     
                            %a.btns.btns-default.payment__seeall.js-showMore
                                Show more
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    