!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = false
            //=include components/_header.haml
            .reviewsPage
                .container
                    .row
                        .col-lg-9
                            .breadcrumbs
                                %a.link-primary{:href => ""} Home
                                %a.link-primary{:href => ""} Profile
                                %span Reviews
                            //=include components/_back.haml
                            %h1 Reviews
                            .reviewsPage__controll
                                %span.name Show reviews
                                .field-case
                                    %select.field.js-select{:name => ""}
                                        %option{:value => ""} All
                                        %option{:value => ""} Without me reply
                                        %optgroup{:label => "Companies"}
                                            %option{:value => "Company name 1"}Company name 1
                                            %option{:value => "Company name 2"}Company name 2
                                        %optgroup{:label => "Events"}
                                            %option{:value => "Events name 1"} Events name 1
                                            %option{:value => "Events name 2"} Events name 2
                                            %option{:value => "Events name 3"} Events name 3
                                            
                                .field-case
                                    %select.field.js-select{:name => ""}
                                        %option{:value => "Highest Rated"} Newest first
                                        %option{:value => "Oldest First"} Oldest First
                                        %option{:value => "Highest Rated"} Highest Rated
                                        %option{:value => "Lowest Rated "} Lowest Rated 

                            #reviews
                                - (1..4).each do  |i|
                                    .review
                                        .avatar.review__avatar
                                            %i.icn-user
                                            %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                                        .review__content
                                            .review__control
                                                .review__nameDate
                                                    %span.review__name Sheba K.
                                                    %span.review__date.perfect-date 
                                                        2019-03-28 00:00:00 (UTC)
                                                    - if i != 4
                                                        .review__iterator
                                                            %i.icn-angle-up.js-iterator{"data-iterator" => "up"}        
                                                            %span 0
                                                            %i.icn-angle-down.js-iterator{"data-iterator" => "down"}
                                                %span.review__id Review ID: 87399   
                                                .rate.review__rate
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star.active
                                                    %i.icn-star
                                                    %i.icn-star 
                                            %p.review__text
                                                My LO has been going to Kiddie Academy of Hamilton for over a year and half now and she absolutely loves it. I have never had a day when she said she didn’t want to go to her school and that speaks volumes about how much fun she has there. The teachers are extremely caring and the management is fantastic especially in terms of communication to the parents. Every day you get a detailed report sbout all the activities your kid was involved in. The cherry on the top is the axcellent food that is provided.
                                            - if i == 1 || i == 2
                                                .review__inputBoxEdit
                                                    %app-writerevue{":type" => "'edit'", ":rating" => "4", ":value" => "'My LO has been going to Kiddie Academy of Hamilton for over a year and half now and she absolutely loves it. I have never had a day when she said she didn’t want to go to her school and that speaks volumes about how much fun she has there. The teachers are extremely caring and the management is fantastic especially in terms of communication to the parents. Every day you get a detailed report sbout all the activities your kid was involved in. The cherry on the top is the axcellent food that is provided.'"} 
                                                .review__reply 
                                                    %span
                                                        %span.js-writeReply Reply 
                                                        %i.icn-dots.js-reply
                                                    .replyBody
                                                        %a.js-edit Edit
                                                        %a.del.js-remove Delete
                                                .review__inputBox
                                                    %app-writerevue{":rate" => "false"}  
                                            - if i == 3
                                                .review__reply 
                                                    %span
                                                        %span.js-writeReply Reply  
                                                        %i.icn-dots.js-reply
                                                    .replyBody
                                                        %a{:tabindex => "", "data-target" => "#checkAbuse", "data-toggle" => "modal"} Report abuse
                                                .review__inputBox
                                                    %app-writerevue{":rate" => "false"} 
                                            - if i == 1
                                                - (1..10).each do  |i|
                                                    .review{:class => "#{i > 5 ? 'hidden' : ''}"}
                                                        .avatar.review__avatar
                                                            %i.icn-user
                                                            %img{:src => "http://loremflickr.com/40/40/girls", :srcset => "http://loremflickr.com/40/40/girls 1x, http://loremflickr.com/80/80/girls 2x", :alt => ""}/ 
                                                        .review__content
                                                            .review__control
                                                                .review__nameDate
                                                                    %span.review__name John Snow
                                                                    %span.review__replyName 
                                                                        %i.icn-reply
                                                                        Sheba K.
                                                                    %span.review__date Yesterday
                                                                - if i == 1
                                                                    %span.review__official Official Response from organization
                                                            %p.review__text
                                                                Thank you for your kind words. We appreciate you taking time out to share your families…
                                                            .review__reply 
                                                                %span
                                                                    %span.js-writeReply Reply 
                                                                    %i.icn-dots.js-reply
                                                                .replyBody
                                                                    %a{:tabindex => "", "data-target" => "#checkAbuse", "data-toggle" => "modal"} Report abuse
                                                            .review__inputBox
                                                                %app-writerevue{":rate" => "false"} 
                                                .review__replys.js-answers{"data-show" => "5"} 5 replies
                            
                            //=include components/_pager.haml
                        .col-lg-3
                            .sidebar.js-sidebar
                                %i.icn-close.sidebar__close.js-closeSidebar
                                %a.sidebarBtn.sidebar__btn.js-toggleSidebar
                                    %i.icn-sidebar
                                .sidebar__content
                                    //=include components/_sidebar.profile.haml
                                    
        //=include components/_footer.haml
    