!!!5
%html
    //=include components/_head.haml
    %body
        .promo
            %picture 
                %source{:media => "(max-width: 320px)", :srcset => "assets/img/promo/i-320.png"}
                %source{:media => "(max-width: 480px)", :srcset => "assets/img/promo/i-480.png"}
                %source{:media => "(max-width: 768px)", :srcset => "assets/img/promo/i-768.png"}
                %source{:media => "(max-width: 960px)", :srcset => "assets/img/promo/i-960.png"}
                %source{:media => "(max-width: 1200px)", :srcset => "assets/img/promo/i-1200.png"}
                %source{:media => "(max-width: 1600px)", :srcset => "assets/img/promo/i-1600.png"}
                %img{:alt => "Text description", :src => "assets/img/promo/i-1600.png", :title => "Text description"}/
            .promo__logoPlace
                .container
                    .row
                        .col-md-6
                            %a.logo{:href => ""}
                                %img{:src => "assets/img/logo.svg", :alt => ""}/
            .container
                .row
                    .col-lg-6.col-xl-6
                        .promo__title Welcome!
                        %p.promo__text
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    .col-lg-6.col-xl-5
                        .promo__formBox
                            .h1 Let’s Begin!
                            %form#promoForm{:action => ""}
                                .row
                                    .col-lg-6
                                        .field-case 
                                            %label.field-name First Name
                                            %input.field{:type => "text", :name => "firstname", :placeholder => "Enter First Name", :required => "true", "data-msg-required" => "Please enter your first name."}/
                                    .col-lg-6
                                        .field-case 
                                            %label.field-name Last Name
                                            %input.field{:type => "text", :name => "lastname", :placeholder => "Enter Last Name", :required => "true", "data-msg-required" => "Please enter your last name."}/
                                .field-case
                                    %label.field-name Email Address 
                                    %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                                .field-case
                                    %label.check-case
                                        %input{:type => "checkbox", :checked => "checked",  :name => ""}/
                                        %span.field-checkbox
                                            %i.icn-checkbox
                                        .check-name 
                                            Updates about new features and events announcements.
                                %input.btns.btns-block.btns-primary{:type => "submit", :value => "Sign Un", :disabled=> ""}/
            
    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
    %script{:type => "text/javascript", :src => "assets/js/libs.js"} 
    %script{:type => "text/javascript", :src => "assets/js/app.js"}