!!!5
%html
    //=include components/_head.haml
    %body
        .promo
            %picture 
                %source{:media => "(max-width: 320px)", :srcset => "assets/img/promo/i-320.png"}
                %source{:media => "(max-width: 480px)", :srcset => "assets/img/promo/i-480.png"}
                %source{:media => "(max-width: 768px)", :srcset => "assets/img/promo/i-768.png"}
                %source{:media => "(max-width: 960px)", :srcset => "assets/img/promo/i-960.png"}
                %source{:media => "(max-width: 1200px)", :srcset => "assets/img/promo/i-1200.png"}
                %source{:media => "(max-width: 1600px)", :srcset => "assets/img/promo/i-1600.png"}
                %img{:alt => "Text description", :src => "assets/img/promo/i-1600.png", :title => "Text description"}/
            .promo__logoPlace
                .container
                    .row
                        .col-md-6
                            %a.logo{:href => ""}
                                %img{:src => "assets/img/logo.svg", :alt => ""}/
            .container
                .row
                    .col-lg-6.col-xl-6
                        .promo__title Welcome!
                        %p.promo__text
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    .col-lg-6.col-xl-5
                        .promo__formBox
                            %form#promoForm{:action => ""}
                                .field-case 
                                    %label.field-name Password
                                    %input.field#passwordPromo{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/
                            
                                .field-case 
                                    %label.field-name Password Confirmation
                                    %input.field{:type => "password", :name => "repassword", :required => "true", "data-msg-required" => "Please enter your confirm password.", :placeholder => "Enter Confirm Password",  "data-rule-equalTo" => "#passwordPromo", "data-msg-equalTo" => "Your password confirmation doesn’t match your password."}/
                                
                                .field-case
                                    %label.check-case
                                        %input{:type => "checkbox", :checked => "checked",  :name => ""}/
                                        %span.field-checkbox
                                            %i.icn-checkbox
                                        .check-name 
                                            I’m a parent and I’m looking for camps and events for my children
                                .field-case
                                    %label.check-case
                                        %input{:type => "checkbox", :name => ""}/
                                        %span.field-checkbox
                                            %i.icn-checkbox
                                        .check-name 
                                            I’m a proxy for educational organization. I’m going to create events for kids and teenagers.
                                .field-case
                                    %label.check-case
                                        %input{:type => "checkbox", :name => ""}/
                                        %span.field-checkbox
                                            %i.icn-checkbox
                                        .check-name 
                                            I want to advertise my offers on the site.
                                %input.btns.btns-block.btns-primary{:type => "submit", :value => "Save", :disabled=> ""}/
            
    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
    %script{:type => "text/javascript", :src => "assets/js/libs.js"} 
    %script{:type => "text/javascript", :src => "assets/js/app.js"}