!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'home'
            - $guest = true
            //=include components/_header.haml
            .home
                .home__topBar
                    .container
                        .row
                            .col-sm-12
                                %span.home__logo
                                    %img{:src => "assets/img/logo.svg", :alt => ""}/
                                //=include components/_search.by.haml
                                .homeMenu
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-child-care 
                                        Classes
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-camps 
                                        Camps
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-classes 
                                        Actuvities
                                    %a.homeMenu__item{:href => ""} 
                                        %i.icn-activites 
                                        Child Care
                .container
                    .row
                        .col-sm-12
                            %a.btns.btns-primary{"data-target" => "#goodAfternoonModal", "data-toggle" => "modal"} Good Afternoon, John!
                            %br/   
                            %br/
                            %h1.home__title 
                                Event for you in 
                                %u Seattle, WA
                            .home__empty
                                %i.icn-no-events
                                %p
                                    Doh! There aren't any events currently serving that location, but we're always expanding. Want to create first event?”
                                %a.btns.btns-block.btns-primary{"data-target" => "#singInModal", "data-toggle" => "modal"} Sign In
                                                
                #resetPasswordCheck                            
                //=include components/_home.browse.categories.haml
        //=include components/_footer.haml
    