!!!5
%html
    //=include components/_head.haml
    %body
        .modalPage
            - $header = 'help'
            - $know = false
            //=include components/_header.haml
            .modals.modalPage__inner.ext
                %h1.modals__smallSpace Sign In
                %p.modals__subtitle
                    Don’t have an account? 
                    %a.link-primary{:href => ""} Sign up
                .modals__or
                    %a.btns.btns-facebook{:href => ""} 
                        %i.icn-facebook
                        Facebook
                    %a.btns.btns-google-plus{:href => ""} 
                        %i.icn-google-plus
                        Google
                    %span or
                %form#singIn{:action => ""}
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    .field-case
                        %label.field-name 
                            Password
                            %span *
                            %a.link-primary.js-changeModals{:href => ""} Forgot password?
                        %input.field{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/ 


                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "remember", :checked => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name Remember me
                                
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Sign In", :disabled => ""}/
                    

            
    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
    %script{:type => "text/javascript", :src => "assets/js/libs.js"} 
    %script{:type => "text/javascript", :src => "assets/js/app.js"}