!!!5
%html
    //=include components/_head.haml
    %body
        .modalPage
            - $header = 'help'
            - $know = false
            //=include components/_header.haml
            .modals.modalPage__inner 
                %h1.modals__smallSpace Sign Up 
                %p.modals__subtitle
                    Don’t have an account? 
                    %a.link-primary{:herf => ""} Sign in
                .modals__or
                    %a.btns.btns-facebook{:href => ""} 
                        %i.icn-facebook
                        Facebook
                    %a.btns.btns-google-plus{:href => ""} 
                        %i.icn-google-plus
                        Google
                    %span or 
                %form#singUp{:action => ""} 
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    First Name
                                    %span *
                                %input.field{:type => "text", :name => "firstname", :placeholder => "Enter First Name", :required => "true", "data-msg-required" => "Please enter your first name."}/
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Last Name
                                    %span *
                                %input.field{:type => "text", :name => "lastname", :placeholder => "Enter Last Name", :required => "true", "data-msg-required" => "Please enter your last name."}/
                    .field-case
                        %label.field-name 
                            Email
                            %span *
                        %input.field{:type => "email", :name => "email", :placeholder => "Enter email", :required => "true", "data-msg-required" => "Please enter your email address.", "data-msg-email" => "Please enter a valid email address.", "data-msg-myEmail" => "Please enter a valid email address.", "data-rule-myEmail" => "ture"}/
                    
                    .row
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Password
                                    %span *
                                %input.field#password{:type => "password", :name => "password", :placeholder => "Enter password", :required => "true", "data-msg-required" => "Please enter your password.", "data-rule-minlength" => "6", "data-rule-maxlength" => "30",  "data-msg-minlength" => "Please enter a value between 6 and 30 characters long.", "data-msg-maxlength" => "Please enter a value between 6 and 30 characters long.", "data-rule-latin" => "true", "data-msg-latin" => "Password must contain only letters, numbers, or sybols.", "data-rule-emailEqually" => "true"}/
                        .col-md-6
                            .field-case
                                %label.field-name 
                                    Confirm new Password
                                    %span *
                                %input.field{:type => "password", :name => "repassword", :required => "true", "data-msg-required" => "Please enter your confirm password.", :placeholder => "Enter Confirm Password",  "data-rule-equalTo" => "#password", "data-msg-equalTo" => "Your password confirmation doesn’t match your password."}/
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "events", :checked => ""}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                I’m a parent and I’m looking for camps and events for my children
                    .field-case
                        %label.check-case
                            %input{:type => "checkbox", :name => "proxy"}/
                            %span.field-checkbox
                                %i.icn-checkbox
                            .check-name 
                                I’m a proxy for educational organization. I’m going to create events for kids and teenagers.
                    %input.btns.btns-primary.btn-block{:type => "submit", :value => "Sign Up", :disabled => ""}/ 
    %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"}
    %script{:type => "text/javascript", :src => "assets/js/libs.js"} 
    %script{:type => "text/javascript", :src => "assets/js/app.js"}