!!!5
%html
    //=include components/_head.haml
    %body
        %main
            - $header = 'page'
            - $guest = true
            //=include components/_header.haml
            .thankYou
                .container
                    .row
                        .col-sm-12
                            %h1.thankYou__title Thank you for your purchase, Linda Toporek :)
                            %p.thankYou__text
                                You succesfully enrolled your kids Michael Toporek and Sarah Toporek. The order confirmation email was send to 
                                %strong email@domain.com
                            
                            .thankYou__head
                                %h3.thankYou__sub Order’s Info
                                %a.link.link-primary{:href => ""} Show all my orders
                            
                                .thankYou__share
                                    %span Share
                                    .social.js-social
                                        %a{:tabindex => "", "data-href" => "http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com"}
                                            %i.icn-facebook
                                        %a{:tabindex => "", "data-href" => "http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons"}
                                            %i.icn-twitter
                                        %a{:tabindex => "", "data-href" => "http://pinterest.com"}
                                            %i.icn-pinterest
                            .thankYouTtable
                                .thankYouTtable__head
                                    %span.num #3876
                                    %span.date May 5, 2018, 6:42PM
                                    .badges.badges-success Order is paid
                                    %span.total
                                        Total: 
                                        &nbsp;
                                        %strong $500
                                .thankYouTtable__box
                                    .box
                                        %strong Kids (2)
                                        %p
                                            Michael Toporek (age: 10)
                                            %br/
                                            Sarah Toporek (age:11)

                                    .box
                                        %strong Date
                                        .text
                                            May 7, 2018
                                            &nbsp;
                                            &nbsp;

                                            .link.link-primary.addeventatc{:title => "Add to Calendar"}
                                                %i.icn-calendar-pluse
                                                Add to Calendar

                                                %span.start 04/10/2019 08:00 AM
                                                %span.end 04/10/2019 10:00 AM
                                                %span.timezone
                                                    America/Los_Angeles
                                                %span.title Summary of the event
                                                %span.description Description of the event
                                                %span.location Location of the event

                                            

                                    .box.w100
                                        %strong Comment
                                        %p
                                            Hi! I want to start lessons on Monday. If it is possible. PLease, don’t call me. I can’t speak when i’m at work. Use WhatsApp or email for communication with me. Thanks.
                                .thankYouTtable__box
                                    .box.w100
                                        %strong Event
                                        %p
                                            %a.link.link-primary{:href => ""} Adventure Out
                                            %br/
                                            %a.link.link-primary{:href => ""} Rock Climbing for Kids and Teenagers

                                    .box.w100.ext
                                        %strong Class “Rock Climbinf for Kids”
                                        %p
                                            %span.upper 
                                                %span the nearest date
                                                Today

                                            %span.upper 
                                                %span price
                                                $250 for a seat
                                        %a.link.link-primary.js-showSchedulesDates{:tabindex => "", "data-text" => "no"}
                                            &nbsp;Show schedule
                                            %i.icn-date
                                        .schedules__calendar.ext
                                            / You can add min date - data-minDate="2019, 03, 20"
                                            .datepicker__calendar
                                            .schedules__time
                                                .item{"data-type" => "am"}
                                                    .marker{:style => "background-color: #f1edf9"}
                                                    %span 9:00am - 11:00am
                                                .item{"data-type" => "pm"}
                                                    .marker{:style => "background-color: #ccc4de"}
                                                    %span 9:00am - 11:00am
                                                .item{"data-type" => "other"}
                                                    .marker{:style => "background: #f1edf9; background: -moz-linear-gradient(45deg, #f1edf9 50%, #ccc4de 50%); background: -webkit-linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); background: linear-gradient(45deg, #f1edf9 50%,#ccc4de 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1edf9', endColorstr='#ccc4de',GradientType=1 );"}
                                                    %span 9:00am - 10:30am
                                                    %span 9:00pm - 10:30pm
                                    
                            %a.link.link-primary{:tabindex => "", "data-target" => "#thankYouModal", "data-toggle" => "modal"}
                                %i.icn-user-pluse
                                Invite Kids        
                                        
        //=include components/_footer.haml
    