.avatar
    height: 40px   
    width: 40px
    border-radius: 40px
    
    overflow: hidden
    position: relative
    img
        height: 100%   
        width: 100%
        border-radius: 40px
        position: relative
        z-index: 2
    i
        font-size: 17px
        right: 1px
        bottom: 1px
        top: 1px
        left: 1px
        color: #81838c
        position: absolute
        border-radius: 40px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        background-color: #FFFFFF


.loader-circle
    width: 200px
    height: 200px
    background: url("../img/loader.gif") center no-repeat
    background-size: 50% auto

.listItem
    border-bottom: 1px solid #e5e5e5
    margin-bottom: 30px
    padding-bottom: 30px

.timeInput
    text-transform: uppercase


