.badges
    font-size: 10px
    font-weight: bold
    line-height: 20px
    padding: 0 5px
    color: #fff
    border-radius: 2px
    display: inline-block
    &-success
        background-color: #3FA875
    &-discount
        background-color: #5642AB
    &-danger
        background-color: #f00


.badges2
    padding: 4px 5px
    line-height: 12px
    border-radius: 2px
    font-size: 12px
    font-weight: bold
    display: inline-block
    &-default
        color: #81838C
        background-color: rgba(129,131,140,0.2)
    &-success
        background-color: rgba(63,168,117,0.2)
        color: #3FA875
    &-danger 
        color: #E15554
        background-color: rgba(225,85,84,0.2)
    &-warninig
        color: #C6A72B
        background-color: rgba(198,167,43,0.2)
    &-info
        color: #4179F8
        background-color: rgba(65,121,248,0.2)
    &-primary
        color: #9a2e93
        background-color: rgba(154,46,147,0.2)
    &-secondary
        color: #91c200
        background-color: rgba(145,194,0,0.2)
    &-dark
        color: #b54e3b
        background-color: rgba(181,78,59,0.2)
    
        

