.breadcrumbs
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	line-height: 20px
	margin-bottom: 10px
	font-weight: bold
	color: #272727
	@media(max-width: 767px)
		display: none
	.link-primary
		margin-right: 25px
		position: relative
		&:after
			content: '/'
			color: #272727
			top: 0
			position: absolute
			left: 100%
			margin-left: 8px
.back
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	font-weight: bold
	align-items: center
	font-size: 14px
	margin-bottom: 10px
	line-height: 20px
	@media(min-width: 768px)
		display: none
	i
		font-size: 10px
		margin-right: 5px

	