.btns
    background: none
    border: none

    
    display: inline-flex
    align-items: center
    justify-content: center
    vertical-align: middle

    font-size: 15px
    font-weight: bold
    
    border-radius: 2px 
    padding: 8px 25px
    cursor: pointer
    
    i
        margin-right: 10px

    &-block
        width: 100%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        text-align: center
    &-sm
        font-size: 13px
        padding-top: 5px
        padding-bottom: 4px
    &-lg
        font-size: 16px
        padding-top: 12px
        padding-bottom: 12px

    &-primary 
        color: #fff !important
        background-color: #FF5E1C
        border: 1px solid #FF5E1C
        
        &:hover
            background-color: #FF814E
            border: 1px solid #FF814E
            color: #fff !important
        &:focus, &:active
            background-color: #D94F17
            border: 1px solid #D94F17
            color: #fff !important
        &[disabled], &.disabled
            pointer-events: none
            border: 1px solid #E5E5E5    
            background-color: #F9F9F9
            color: #81838C !important
    &-success 
        color: #fff !important
        background-color: #3FA875
        border: 1px solid #3FA875
        
        &:hover
            background-color: #3FA875
            border: 1px solid #3FA875
            color: #fff !important
        &:focus, &:active
            background-color: #3FA875
            border: 1px solid #3FA875
            color: #fff !important
        &[disabled], &.disabled
            pointer-events: none
            border: 1px solid #E5E5E5    
            background-color: #F9F9F9
            color: #81838C !important
    &-danger 
        color: #fff !important
        background-color: #E15554
        border: 1px solid #E15554
        
        &:hover
            background-color: #E15554
            border: 1px solid #E15554
            color: #fff !important
        &:focus, &:active
            background-color: #E15554
            border: 1px solid #E15554
            color: #fff !important
        &[disabled], &.disabled
            pointer-events: none
            border: 1px solid #E5E5E5    
            background-color: #F9F9F9
            color: #81838C !important

    

    &-default 
        background: none
        border: 1px solid #FF5E1C
        color: #FF5E1C !important
        &:hover
            background-color: rgba(255,94,28,0.05)
            border: 1px solid #FF814E
            color: #FF5E1C !important
        &:focus, &:active
            background-color: rgba(217,79,23,0.15)
            border: 1px solid #D94F17
            color: #FF5E1C !important
        &[disabled], &.disabled
            pointer-events: none
            border: 1px solid #E5E5E5    
            background-color: #F9F9F9
            color: #81838C !important
    &-link
        background: none
        border: 1px solid transparent
        color: #FF5E1C !important
        &:hover
            border: 1px solid transparent
            color: #FF5E1C !important
        &:focus, &:active
            border: 1px solid transparent
            color: #FF5E1C !important
        &[disabled], &.disabled
            pointer-events: none
            border: 1px solid transparent    
            color: #81838C !important
    &-facebook
        background-color: #3C5D96
        border: 1px solid #3C5D96
        color: #fff !important
        font-weight: normal
        &:hover
            background-color: #4B74BC
            border: 1px solid #4B74BC
            color: #fff !important
        &:focus, &:active
            background-color: #3D5E96
            border: 1px solid #3D5E96
            color: #fff !important
        &[disabled], &.disabled
            pointer-events: none
            color: rgba(255,255,255,0.5)
            background-color: #3C5D96
            border: 1px solid #3C5D96
    &-google-plus
        background-color: #D74B3A
        border: 1px solid #D74B3A
        color: #fff !important
        font-weight: normal
        &:hover
            background-color: #EE5340
            border: 1px solid #EE5340
            color: #fff !important
        &:focus, &:active
            background-color: #CA4636
            border: 1px solid #CA4636
            color: #fff !important
        &[disabled], &.disabled
            pointer-events: none
            color: rgba(255,255,255,0.5)
            background-color: #D74B3A
            border: 1px solid #D74B3A
    &-icon
        height: 40px    
        width: 40px 
        border: 1px solid #E5E5E5 
        background: none  
        border-radius: 2px
        color: #81838C
        padding: 0
        [class^="icn"]
            display: block
            margin-right: 0
        i.icn-close
            color: #E15554
        &:hover
            border: 1px solid #E5E5E5
            color: #A7A9B2
            i.icn-close
                color: #F76362
                //color: #000
        &:focus, &:active
            color: #71727B
            i.icn-close
                color: #D34F4E
        &[disabled], &.disabled
            pointer-events: none
            color: #CDCED1
            border: 1px solid #E5E5E5
            i.icn-close
                color: #CDCED1

    





    