.commentsCount
    color: #81838C
    font-size: 13px
    font-family: $mont
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    font-weight: bold
    i
        margin-right: 5px
        font-size: 11px
    &:hover
        color: #545353

