.doc
    display: -webkit-inline-flex
    display: -moz-inline-flex
    display: -ms-inline-flex
    display: -o-inline-flex
    display: inline-flex
    color: #272727
    align-items: center
    &:hover
        color: #272727
    [class^="icon-"]
        margin-right: 10px
        flex: 0 0 32px
    span
        flex: 1 1 auto
        width: 140px
        line-height: 1.1