$radius: 2px
.field-name
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    margin-bottom: 10px
    font-family: $lato
    font-weight: bold
    color: #272727
    font-size: 13px
    line-height: 20px
    position: relative
    span
        color: #FF4A00
        margin-left: 5px
    i
        margin-left: auto
        color: #81838C
        font-size: 10px
    .tooltip
        top: 0

.field
    height: 40px
    border-radius: $radius
    border: 1px solid #E5E5E5
    background-color: #ffffff
    width: 100%
    padding: 0 15px
    font-size: 15px
    color: #272727
    line-height: 40px
    display: block
    option
        padding: 10px
    & ~ .appearance
        position: absolute
        z-index: 99
        height: 38px
        bottom: 21px
        right: 1px
        width: 30px
        background: #fff
        border-radius: 0 $radius $radius 0
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        justify-content: center
        pointer-events: none
        &:after
            content: ''
            border-top: 5px solid #32373D
            border-left: 5px solid transparent
            border-right: 5px solid transparent
    & ~ .increment
        position: absolute
        z-index: 99
        height: 38px
        bottom: 21px
        right: 1px
        width: 30px
        background: #fff
        border-radius: 0 $radius $radius 0
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        align-items: center
        flex-direction: column
        
        .down, .up
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center
            height: 50%
            width: 100%
            user-select: none
            cursor: pointer
            &:after
                content: ''
                border-left: 5px solid transparent
                border-right: 5px solid transparent
                
        .down
            &:after
                border-top: 5px solid #32373D
        .up
            &:after
                border-bottom: 5px solid #32373D
            
            

    & ~ [class^="icn-"]
        position: absolute
        z-index: 99
        height: 38px
        bottom: 21px
        left: 16px
        
        border-radius: 0 $radius $radius 0
        
        color: #81838C
        font-size: 15px
        pointer-events: none   

    &::-webkit-input-placeholder
        opacity: 0.4
        color: #272727
        
    &::-moz-placeholder
        opacity: 0.4
        color: #272727
        
    &:-ms-input-placeholder
        opacity: 0.4
        color: #272727
        
    &:-moz-placeholder
        opacity: 0.4
        color: #272727
    &:focus
        outline: none
        border: 1px solid #5642AB
        color: #272727
        &::-webkit-input-placeholder
            opacity: 0
        &::-moz-placeholder
            opacity: 0
        &:-ms-input-placeholder
            opacity: 0
        &:-moz-placeholder
            opacity: 0
        & ~ [class^="icn-"]
            color: #5642AB 
    &.error
        border: 1px solid #E15554
        color: #272727
        & ~ .select2-container--default 
            .select2-selection--single
                border: 1px solid #E15554
        & ~ [class^="icn-"]
            color: #E15554 
    &.disabled, &[disabled] , 
        border: 1px solid #E5E5E5
        color: rgba(39,39,39,0.4)
        background-color: #F9F9F9
        
        & ~ .appearance
            background-color: #F9F9F9
        & ~ [class^="icn-"]
            color: #ccd3d9 
            background: #f7f7f7
        & ~ .increment
            opacity: 0
        

    &-icon
        padding-left: 40px
        
textarea.field
    padding: 10px 15px
    resize: none
    line-height: 12px
    height: 120px
.field-checkbox, .field-radio
    flex: 0 0 15px
    height: 15px
    border-radius: 1px
    margin-right: 8px
    border: 1px solid #E5E5E5
    background-color: #F9F9F9

    i[class^="icn-"]
        font-size: 8px
        color: #FF5E1C
        opacity: 0
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        width: 100%
        height: 100%
        &:before
            display: block
.field-radio
    border-radius: 16px
    i[class^="icn-"]
       margin-left: 0.5px


input[type="checkbox"], input[type="radio"]
    position: absolute
    left: -9999px
    opacity: 0
    &:checked
        & ~ .field-checkbox,
        & ~ .field-radio
            i[class^="icn-"]
                opacity: 1
    &.disabled, &[disabled="disabled"]
        & ~ .field-checkbox,
        & ~ .field-radio
            border: 1px solid #d7d7d7
            i[class^="icn-"]
                color: #b2b2b2
        & ~ .check-name
            color: #d7d7d7
    &.error
        & ~ .field-checkbox,
        & ~ .field-radio
            border: 1px solid #E15554
            i[class^="icn-"]
                color: #E15554
        & ~ .check-name
            color: #E15554
.check-case
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: pointer
    color: #262C32
    margin: 0
    font-weight: normal
    min-height: 40px
    display: flex
    align-items: flex-start
    flex-basis: 100%
    [class^="icn-"]
        display: flex
        align-items: center
        justify-content: center
    .field-radio,
    .field-checkbox
        margin-top: 5px
    .check-name
        flex: 1 1 auto
        font-size: 16px
        a
           color: #1c6fde 
    
.file-case
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    .btns
        margin-right: 10px
        display: flex
        align-items: center
        flex: 0 0 auto
    .field
        width: auto
        height: auto
        line-height: 1
        padding: 10px 15px
        flex: 1 1 auto
    input
        position: absolute
        top: 20px
        bottom: 20px
        width: 100%
        opacity: 0
        cursor: pointer
.field-case
    position: relative
    padding-bottom: 20px
    [class^="icn-"]
        display: flex
        align-items: center
        justify-content: center
    label.error
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin: 0
        font-size: 10px
        flex-basis: 100%
        position: absolute
        color: #d0011b
        left: 0
        bottom: 3px
        
        line-height: 15px
        font-weight: normal

        a
            color: #d0011b
            text-decoration: underline
    span.success
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin: 0
        font-size: 10px
        flex-basis: 100%
        position: absolute
        color: green
        font-weight: bold
        left: 0
        bottom: 3px
        
        line-height: 15px
        

        