.js-html
    @media(max-width: 991px)
        overflow: hidden
        &:after
            content: ""
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: 1700
            background: rgba(51,51,51,0.4)