.link
	&-primary
		color: #FF5E1C
		&:hover, &:focus
			color: #FF5E1C
			text-decoration: underline
	&-secondery
		color: #E15554
		&:hover, &:focus
			color: #E15554
			text-decoration: underline
	&-default
		color: #81838C
		&:hover, &:focus
			color: #81838C
			text-decoration: underline