.orangeList
    font-weight: bold
    list-style: none
    padding-left: 0
    li
        color: #FF5E1C
        list-style: none
        position: relative
        padding-left: 15px
        i
            position: absolute
            left: 0
            top: 6px
            font-size: 8px