.sidebarBtn
	height: 45px
	width: 59px
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	align-items: center
	justify-content: space-between
	border-radius: 5px 0 0 5px 
	color: #fff !important
	background-color: #272727
	padding: 0 15px
	font-size: 14px
	&:hover, &:focus
		color: #fff !important
	&:after
		content: ''
		border-right: 5px solid #fff
		border-top: 6px solid transparent
		border-bottom: 6px solid transparent
	&.open
		&:after
			transform: rotate(180deg)