.tag
    text-transform: uppercase
    font-size: 10px
    font-weight: bold
    border: 1px solid #E5E5E5
    padding: 4px 10px
    display: inline-block
    color: $dark
    &:hover
        color: #545353