.dateAge
    font-size: 12px
    color: #81838C
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    [class^="icn-"]
        font-size: 3px
        margin: 0 8px