.wishlist
    color: #fff
    font-size: 15px
    display: -webkit-inline-flex
    display: -moz-inline-flex
    display: -ms-inline-flex
    display: -o-inline-flex
    display: inline-flex
    align-items: center
    &:hover
        color: #fff
    &__icon 
        font-size: 20px
        position: relative
        margin-right: 16px
        &.ext
            margin-right: 0
    &__count
        position: absolute
        top: -5px
        right: -8px
        min-width: 16px
        height: 16px
        border-radius: 16px
        color: #fff
        background: #FF5E1C
        font-size: 9px
        line-height: 9px
        padding: 0 5px
        display: none
    &.active
        .wishlist__count
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            align-items: center
            justify-content: center


.addWish
    font-size: 18px
    color: #fff
    i
        display: block
    .icn-favorite-o
        color: #fff
    .icn-favorite
        color: #FF5E1C
    &:hover
        .icn-favorite-o
            color: $prim